[2017-07-03 18:45] jsonn opened #1 "Merge devel/fossil into the LTS branch"
Since the official NetBSD fossil repositories use the newer SHA2 hashes, it would be highly useful to have a fossil that supports them on the LTS branch.

[2017-07-21 12:13] baskerville opened #3 "[darwin] Missing package: fontforge"

[2017-07-21 12:14] baskerville opened #4 "[darwin] Missing package: tesseract"

[2017-07-21 12:14] baskerville opened #5 "[darwin] Missing package: inkscape"

[2017-07-26 17:33] melloc opened #6 "dblatex broken on Darwin trunk and SmartOS 17.2.0"
`dblatex-0.3.8` doesn't work with the `tex-multirow-2.2` package. This was [reported on bugs.debian.org](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=840189), and the maintainer has fixed the issue in the [most recent release](https://sourceforge.net/projects/dblatex/files/dblatex/dblatex-0.3.10/) (`dblatex-0.3.10`).

[2017-08-02 09:45] sjorge opened #9 "[illumos] tightvncserver not available"
Looks like it is available for NetBSD, or al teast it was at some point in the past.

[2017-08-03 12:29] ghost opened #10 "[darwin] fish shell not in pkgin Darwin trunk"

[2017-08-06 18:55] sjorge opened #11 "[illumos] mono 4 missing getdomainname"
[code]

This is just one example stack trace, I can get more but basically getdomainname support is not available, problem is that nearly all hostname to ip lookups need this. This makes mono unusable for all network related stuff.

[2017-08-06 20:46] sjorge opened #12 "[illumos] net/sslh missing from 2017Q2"

[2017-08-06 20:49] sjorge commented on #12
Looks like it fails to build due to some errors!

These to patches seems to make it compile!

[code]

[code]

They may need some minor cleanup, not sure if these break other platforms but it makes it word on illumos!

[2017-08-09 08:08] sjorge commented on #12
@jperkin this may need a #ifdef, don't have a netbsd host to see if this breaks non illumos.

[2017-08-09 11:02] baskerville opened #13 "[darwin] Missing package: mutt"

[2017-08-13 20:07] bahamat commented on #13
This package *has* been available in the past, because I currently have it installed.

[2017-08-13 20:20] bahamat opened #15 "RTP: lastpass-cli"
Request to package lastpass-cli.

https://github.com/lastpass/lastpass-cli

I am currently using Homebrew for this on macOS.

[2017-08-15 13:26] jperkin commented on #12
Resolved as part of #14, will backport this to 2017Q2 when it shows up in git.

[2017-08-15 13:26] #12 closed, assigned to jperkin

[2017-08-16 10:53] jperkin commented on #13
The build was masked by the gpgme failure caused by its most recent update, and should be fixed in  aa32b0f541be70579569bd0e2bc61f17350a9ac5.  Latest macOS build will start today so hopefully should be available again by the end of the week.  I'll add mutt to the list of required packages (I use it too) so that publishing will be disabled if it isn't available.

[2017-08-16 11:40] Smithx10 opened #16 "Java / Scale Build Tools"
Would be nice if SmartOS had pkgs for

SBT http://www.scala-sbt.org/
Gradle https://gradle.org/
DART Pub  https://www.dartlang.org/tools/pub

[2017-08-16 15:25] jperkin commented on #6
Updated in 8b5cd6a6bbeeb71b22179a5ee0c0325b26077d46, will be in the next Darwin build.

[2017-08-16 16:36] jperkin commented on #15
Imported in https://github.com/NetBSD/pkgsrc/commit/62022f1123689848cf53202267985c7d9f5a560c, will be available in the next macOS build.

[2017-08-17 13:31] drscream opened #17 "[illumos] munin version 2 is missing in 2017Q2"
In the 2017Q2 release munin and munin-node version 2.0.x from WIP is missing. Maybe it's possible to rebuild and ship a binary package for illumos?

[2017-08-18 13:38] coyhile opened #18 "freeradius3 support in pkgsrc"
I had opened  joyent/pkgsrc-legacy#502 to update freeradius support to use FreeRADIUS 3.x and migrate pluggable backends to their own packages (mysql, pgsql, etc).

@mamash was massaging my initial work there before the Q2 code freeze. Just filing this so that that work doesn't get lost in the shuffle.

[2017-08-19 09:35] mamash commented on #10
Thanks, it was another build issue. I fixed it with the update to 2.6.0 just now, it should hit the Darwin trunk branch in a couple of days.

[2017-08-19 09:35] #10 closed, assigned to mamash

[2017-08-19 09:49] mamash commented on #17
Looks like jperkin fixed the build and had 2017Q2 rebuilt yesterday.

[2017-08-19 09:49] #17 closed, assigned to nobody

[2017-08-22 09:48] jussisallinen opened #19 "tmate & tmate-slave"
pkgsrc should provide tmate and tmate-slave.
tmate is basically like Teamviewer but for SSH connections.

https://tmate.io/
https://github.com/tmate-io/tmate-slave

[2017-08-22 09:51] jussisallinen commented on #19
Something like this might be around the corner when trying to compile:
https://github.com/tmate-io/tmate-slave/issues/20

[2017-08-22 10:53] mamash commented on #18
Coy, can you test the following patch? It's a wrap up of your work and my changes, made against current CVS trunk. I just don't have the opportunity to test the functionality, especially when it comes to the unfortunate config file management.

I've collected all the sub-packages under net/, it feels like a better fit since they are really just split-off files.

https://us-east.manta.joyent.com/fi

[2017-08-22 10:59] jperkin commented on #9
Fixed in https://github.com/NetBSD/pkgsrc/commit/3a4ba6ce0f13ab2e0764ecbbc6f49fd018190d85, will be in the next release.

[2017-08-22 10:59] #9 closed, assigned to jperkin

[2017-08-22 11:31] coyhile commented on #18
I'll give it a shot, at least to the best of my ability. The extent of my testing is probably "does the server start in debug mode correctly. (I'm not an expert in FreeRADIUS by any means.)

Out of curiosity (as I can't tell from the patch easily), how much different is this from what I tossed blindly over the wall?

[2017-08-22 12:59] mamash commented on #18
Little bits really:

- PKGREVISION should be reset (removed) when updating to a new upstream version
- Easier to set INSTALLATION_DIRS+=lib once rather than pre-creating each time
- You can avoid examples/config file handling mess by setting something like INSTALL_MAKE_FLAGS+=raddbdir=${EGDIR}
- The Python module only supports Python 2.7 I think
- Some dependencies were missing for the rest module

[2017-08-22 14:26] mamash commented on #18
Running the daemon works, even the bundled test suite works. I was hoping you had a more real life setup ready to use this in... :)

[2017-08-22 15:19] coyhile commented on #18
Ah, I see. And no, I haven't got a more real life setup yet. I got as far in my lab as "Let's get RADIUS setup. Oh wait, 3.x isn't in pkgsrc, so let's go down the rabbit hole instead of setting this up in a branded zone, no reason to use that."

[2017-08-22 16:51] jperkin commented on #11
Fixed in https://github.com/NetBSD/pkgsrc/commit/8fd35409b44bc466522ce0993e41af4c2c528417 and verified that Radarr now works. Will be in the next release.

[2017-08-22 16:51] #11 closed, assigned to jperkin

[2017-08-22 16:56] jperkin commented on #19
Does this add anything compared to a shared tmux session?  My only concern is that they're behind upstream by a few releases now and haven't committed anything in over a year.  It's not clear exactly what it provides compared to just using tmux.

[2017-08-22 19:36] jussisallinen commented on #19
tmate provides an easy way to share terminal session as Read-Only or Read-Write, ie. for providing remote debugging access to 3rd party during troubleshooting etc.

As an example: http://tmate.ip.fi/

[code]

The remote party connecting to the session through tmate server doesn't need anything else than SSH client and username+host provided from tmate session - no client or whatsoever to install.

[2017-08-22 19:41] jussisallinen commented on #19
The remote party connecting to the session through tmate server doesn't need anything else than SSH client - no client or whatsoever to install.

[2017-08-23 19:46] jperkin commented on #19
tmate added in https://github.com/NetBSD/pkgsrc/commit/4942ff0cbf812e2b5d508b01a610c50b1bb53d20

[2017-08-24 06:20] jperkin commented on #15
This is now available in the x86_64 repository.

[2017-08-24 06:20] #15 closed, assigned to jperkin

[2017-08-24 06:20] jperkin commented on #6
This is now available in the x86_64 repository.

[2017-08-24 06:20] #6 closed, assigned to jperkin

[2017-08-24 06:21] jperkin commented on #13
This is now available again.

[2017-08-24 06:21] #13 closed, assigned to jperkin

[2017-08-24 10:21] jperkin commented on #5
Fixed in https://github.com/NetBSD/pkgsrc/commit/ff68832f186468f74369af5501ca4f4f5f10acb2, will be in the next build.

[2017-08-24 10:24] jperkin commented on #4
This package installs 1.2GB of data files which overflowed the build ramdisk, I've changed the configuration so that it installs to disk and it will be available in the next build.

[2017-08-24 11:31] jperkin commented on #3
Fixed in https://github.com/NetBSD/pkgsrc/commit/4ae787c454d49258bce6072fca395ff0e51d7807, will be in next build.

[2017-08-25 13:53] jperkin commented on #1
Updated to 2.2 in 2016Q4.

[2017-08-25 13:53] #1 closed, assigned to jperkin

[2017-08-26 10:16] mamash commented on #18
I just committed the update to CVS.

[2017-08-28 13:14] mamash commented on #18
Closing the issue, the update was committed. Unfortunately the binaries seem to reliably segfault right after start on NetBSD, but that's for another issue I guess.

[2017-08-28 13:14] #18 closed, assigned to mamash

[2017-09-04 17:54] mamash commented on #16
gradle at least has been in pkgsrc at least February (maybe it's not up to date right now)

[2017-09-05 08:07] jperkin commented on #5
This is now available.

[2017-09-05 08:07] #5 closed, assigned to jperkin

[2017-09-05 08:07] jperkin commented on #4
This is now available.

[2017-09-05 08:07] #4 closed, assigned to jperkin

[2017-09-05 08:08] jperkin commented on #3
This is now available.

[2017-09-05 08:08] #3 closed, assigned to jperkin

[2017-09-05 09:05] baskerville opened #20 "[darwin] Missing package: mongodb"
I got this error while trying to upgrade: `pkgin: mongodb-3.4.4 has no associated repository`.

[2017-09-05 09:13] jperkin commented on #20
Failure is [here](http://us-east.manta.joyent.com/pkgsrc/public/reports/Darwin/trunk/x86_64/20170826.0819/mongodb-3.4.4nb1/build.log), I'll take a look at this and add it to the required packages list.

[2017-09-28 14:32] jjlawren opened #21 "[illumos] aria2 missing from 2017Q2"
Has been available in previous releases.

https://github.com/joyent/pkgsrc/tree/trunk/net/aria2

[2017-09-28 18:48] kimono-koans opened #22 "[darwin] Multiple incompatible libraries not upgraded when ffmpeg3 installed"
Issue fixed with a "pkgin full-upgrade", however received the following errors from youtube-dl:

ERROR:   Reason: Incompatible library version: ffmpeg3 requires version 22.0.0 or later, but libfreetype.6.dylib provides version 20.0.0

ERROR:   Reason: Incompatible library version: ffmpeg3 requires version 12.0.0 or later, but libfontconfig.1.dylib provides version 11.0.0

[NOTE: There are probably

[2017-09-30 11:47] baskerville opened #23 "[darwin] Conflicting PLIST"
A few error messages came up today when I tried to do a full upgrade:
[code]
I had to remove *dirmngr* and re-install *neomutt*.

[2017-09-30 13:04] jperkin commented on #23
Yeh, I hit this too. Unfortunately there seems to be no good way to fix this, it's due to the gnupg 2.2 upgrade which introduces a conflict but with a dependency rather than the original package. We don't yet (as far as I'm aware) have a mechanism of handling this type of upgrade.

I'll leave this issue open for now and look both at ways we can avoid this in the future, as well as providing an upg

[2017-10-10 10:58] mamash commented on #16
Irrelevant commit triggered an auto-close again.

[2017-10-12 12:05] baskerville opened #25 "[darwin] Outdated package: zsh"
The current version of *Zsh* is *5.4.2*.

[2017-10-13 12:47] jperkin commented on #25
Upgraded in 299ffa9083ee17da6d316e532cedfad19741761c, this will be in the next build.

[2017-10-13 12:47] #25 closed, assigned to jperkin

[2017-10-15 10:12] baskerville opened #26 "[darwin] Outdated package: harfbuzz"
The current *HarfBuzz* version is **1.6.0**.

[2017-10-16 23:50] jmatthew opened #27 "[illumos] www/mono-xsp doesn't build"
It just needs LDFLAGS.SunOS += -lnsl -lsocket

[2017-10-17 05:11] Smithx10 opened #28 "Add Package for FRR"
Quagga has been forked and now many people are using FRR (Free Range Routing).  Would be nice to have this working on SmartOS

Project Site: https://frrouting.org/
github-pkgsrc-url: https://github.com/FRRouting/frr/tree/master/pkgsrc
gitbhub-solaris-build: https://github.com/FRRouting/frr/tree/master/solaris

[2017-10-20 14:18] baskerville opened #29 "Add package: bfs"
I think that [bfs](https://github.com/tavianator/bfs) could be a useful addition.

[2017-10-25 05:19] prathyusha006 opened #33 "gnutls_handshake()"

[2017-10-25 05:21] prathyusha006 opened #34 "how to install FRR and bring it up on ubuntu desktop(vm)"
I wrote
sudo git clone https://github.com/FRRouting/frr/tree/master/pkgsrc
[sudo] password for prathyusha:
Cloning into 'pkgsrc'...
fatal: unable to access 'https://github.com/FRRouting/frr/tree/master/pkgsrc/': gnutls_handshake() failed: A TLS packet with unexpected length was received.
 how to resolve this?
need it ASAP

[2017-10-25 14:59] mamash commented on #29
Thanks for the tip. Done now.

[2017-10-25 14:59] #29 closed, assigned to mamash

[2017-10-30 18:22] drboone opened #35 "SMF method script for bind looks in the wrong place for rndc-confgen"
bind 9.10
pkgin 0.9.4 for SunOS-5.11 x86_64 (using SQLite 3.20.1)
platform 20170916T185915Z

The path /usr/sbin/rndc-confgen is hardcoded, but the package installs the binary in /opt/local/sbin.

[2017-11-02 12:19] ikozhukhov opened #36 "wireshark failed on DilOS"
DilOS iso:
http://apt2.dilos.org/dilos/isos/dilos-core-17-10-31_16-39-2.0.0.6.iso

installed pkgsrc:
https://pkgsrc.joyent.com/packages/SmartOS/bootstrap/bootstrap-2017Q3-x86_64.tar.gz

install wireshark by:
/opt/local/bin/pkgin in xterm xauth wireshark

try to start wireshark by and has core.

root@dilos-init11:~# /opt/local/bin/wireshark-gtk
Arithmetic Exception (core dumped)

root@dilos-init11:

[2017-11-03 08:22] jussisallinen opened #37 "Add tmate-ssh-server to pkgsrc"
pkgsrc already has tmate client but the server is missing, tmate-slave provides this capability:

https://github.com/tmate-io/tmate-slave
https://tmate.io/

[2017-11-08 14:14] baskerville commented on #26
The current version is now **1.6.3**.

[2017-11-09 07:49] benjamin-bergia opened #39 "[illumos] Fail to compile postgresql extension"
I have been trying to compile https://github.com/2ndquadrant-it/redislog and end-up with the following error:
[code]

After some research I found out that removing the flag in `/opt/local/lib/postgresql/pgxs/src/Makefile.global` solves the issue:
[code]

Unfortunately, I don't know if this change as any other side effect. I tested with both postgres 9.2 and 10 on base-64-lts 15.4.0 and base-64 17.

[2017-11-09 07:52] mamash commented on #39
It's a GNU ld arg that has no place in the Sun linker that Illumos uses. Unfortunately it's fairly common for devs out there to assume the presence of GNU ld always.

pkgsrc itself typically filters out such args gracefully, but that would apply only if redislog had a pkgsrc package. I'll track down where --as-needed is coming from and remove it from the pgxs Makefiles.

[2017-11-09 09:04] benjamin-bergia commented on #39
@mamash cool thank you.

[2017-11-09 21:12] john-tho opened #41 "[illumos] net/syncthing fails to compile on SmartOS"
The [net/syncthing](https://github.com/joyent/pkgsrc/tree/trunk/net/syncthing) package currently builds all of the syncthing family of binaries, but only uses the syncthing binary.
The stdiscosrv binary fails to build for solaris specific problems in a dependency (mmap-go)

Is is possible to build only the syncthing binary on SmartOS?
with:
[code]

[2017-11-10 03:05] benjamin-bergia commented on #39
By the way, if I were to build a package for redislog, would there be any chance to get it in the repo?

[2017-11-10 15:10] mamash commented on #39
Yep, I just created databases/postgresql-redislog in pkgsrc trunk, though it will only hit the production packages in 2017Q4. I committed the fix for the PostgreSQL pgxs makefiles too.

[2017-11-12 13:10] benjamin-bergia commented on #39
@mamash thank you very much. I will close this.

[2017-11-12 13:10] #39 closed, assigned to mamash

[2017-11-12 19:12] aramgre opened #42 "ruby wrapper package conflicts with pkg_alternatives"
`pkgin in ruby` fails with following error:

[code]

`pkgin in ruby24` works and correctly installs symlink at `/opt/pkg/bin/ruby`. Regression of joyent/pkgsrc-legacy#302?

[2017-11-13 09:25] jperkin commented on #42
Yeh looks like it, sorry, will implement this properly so it doesn't get lost.

[2017-11-13 11:32] baskerville opened #43 "[darwin] Package suggestion: crosstool-ng"
[crosstool-ng](https://crosstool-ng.github.io/)

[2017-11-15 17:30] aramgre commented on #42
Thanks!

[2017-11-23 22:17] mamash commented on #26
This was just updated in upstream pkgsrc (to 1.7.1). It will hit the Darwin binary package repository in a few days.

[2017-11-23 22:17] #26 closed, assigned to nobody

[2017-11-29 02:46] khoan opened #45 "redis daemon fail to start on Mac OS X High Sierra"
was working on Sierra, but broke after upgrade to High Sierra.

some salient details.

[code]

[2017-11-29 04:07] khoan commented on #45
/var/log/redis/error.log had bad permission

[2017-11-29 04:07] #45 closed, assigned to nobody

[2017-12-01 21:31] sjorge opened #46 "[request] Mono 5.x instead of 4.0.4"
Can we get something from the mono 5.x series to compile on illumos?

[2017-12-03 23:14] jgc234 opened #47 "AAAA record for pkgsrc.joyent.com?"
This is probably the wrong place since it's not a code issue, but I'm unsure where to ask.  How do you update  IPv6-only smartos instance with pkgin?  There is no AAAA record for pkgsrc.joyent.com.. I'm currently provisioning legacy IPv4 addresses for every instance.  Any plans for an IPv6 path to the update farm?

Thank you.

[2017-12-04 09:18] jperkin commented on #47
It's something I'd love to provide but unfortunately we don't support it at the moment. I'll leave this ticket open anyway so that I can update you as and when we add support.

[2017-12-04 09:19] jperkin commented on #47
It's also worth noting that other users in this situation have set up caching proxies or their own pkgsrc rsync mirrors so while not ideal they may be workarounds that better suit you than having to provision IPv4 for all hosts.

[2017-12-04 09:57] jgc234 commented on #47
@jperkin - Thank you.. A caching proxy with an IPv6 front-end sounds like a plan for the short term - top idea.

[2017-12-08 04:24] yb66 opened #51 "Remove-all/reset/pristine command?"
Hi,

I've done an OS upgrade (to High Sierra, yikes!) and since I had a package fail on me (ffmpeg) and reinstallation didn't fix it, I thought it a good time to clear the decks and reinstall all my packages, but I can't find a command to do that e.g. `pkgin reset` or the like.

Is there such a command or would blitzing the /opt/pkg directory and reinstalling pkgsrc be the best way forward?

Regar

[2017-12-08 09:06] jperkin commented on #51
Running `rm -rf /opt/pkg /var/db/pkgin` should give you a clean slate ready for a fresh install.  Depending on what packages you installed there may be some additional leftovers under `/var` but that shouldn't matter too much.

It would be interesting to know what the errors were, in case it's something we can fix.

[2017-12-10 03:14] yb66 commented on #51
Thanks very much for that, the removal and reinstall means ffmpeg is now working. The problem with ffmpeg was similar to the ones people are having in [this SO question](https://stackoverflow.com/q/26431918/335847) "image not found" error, but they're having the same problem while using Homebrew to install it so at least it's (probably:) not a pkgsrc problem. I'm guessing a linked library changed

[2017-12-10 03:14] #51 closed, assigned to jperkin

[2017-12-11 10:59] baskerville opened #52 "[darwin] GNU sed?!"
Is there a package that provides a version of GNU sed greater or above 4.0?

[2017-12-11 11:15] jperkin commented on #52
gsed (textproc/gsed), currently at version 4.4.

[2017-12-11 11:15] #52 closed, assigned to jperkin

[2017-12-13 14:06] jperkin commented on #35
Fixed in https://github.com/NetBSD/pkgsrc/commit/9dd4b0a4ef8949f5f229f933524cd7494bcc0af5, thanks!

[2017-12-13 14:06] #35 closed, assigned to jperkin

[2017-12-14 11:30] jperkin commented on #42
This will be fixed in 2017Q4, thanks!

[2017-12-14 11:30] #42 closed, assigned to jperkin

[2017-12-19 04:50] jussisallinen commented on #19
@jperkin Able to add tmate-slave eventually so it would be possible to host your own tmate server?

[2017-12-19 08:56] jperkin commented on #19
Yeh, I'm not going to get to this before 2017Q4 though unfortunately.

[2017-12-19 10:48] jussisallinen commented on #19
No hurry, if it's available during 2018 that's alright :+1:

[2017-12-22 13:16] jcea opened #55 "Enable DTRACE suppor in Python 3.6.*"
Python 3.6 supports DTRACE when compiled with "--with-dtrace". This flag should be default in SmartOS.

Some details:

https://bugs.python.org/issue21590
https://docs.python.org/3.6/howto/instrumentation.html

[2017-12-22 16:34] jperkin commented on #55
This was done a while back in 93e60bfcc39ba16810c7da9dafba983027c47960

[2017-12-22 16:34] #55 closed, assigned to jperkin

[2017-12-23 11:15] sjorge opened #56 "[wiki] use:saltstack"
# Introduction
This document describes how to set up a salt-master using pkgsrc packages available on SmartOS. Most of the information is applicable to other pkgsrc platforms but you may need to change paths and init services.

This was all done using the following image: ```23b267fc-ad02-11e7-94da-53e3d3884fe0```

## what is saltstack
Saltstack is a modern tool for IT automation, it offers both c

[2017-12-23 11:16] sjorge commented on #56
Couldn't figure out how to create a wiki-page and do a pull request for this, so doing it in the issue.

[2017-12-23 14:02] sjorge opened #57 "py27-pygit2 should depend on git-base"
It doesn't look like pygit2 works without the git command line tools being available.
It took me a while to figure this for #56
```[ERROR   ] The git command line utility is required when using the 'pygit2' gitfs_provider.```

[2017-12-28 19:30] jussisallinen opened #58 "PowerDNS Authorative Server & PowerDNS Recursor need version bump"
PowerDNS Authorative Server (powerdns) could use version bump, current 4.0.4 report's following upon startup:

[code]
Latest version as of now is 4.1.0:
[Changelog](https://doc.powerdns.com/authoritative/changelog/)

PowerDNS Recursor (pdns-recursor) also has newer version which is 4.1.0:
[Changelog](https://doc.powerdns.com/recursor/changelog/)

[2017-12-28 19:38] mamash commented on #58
Yes, I have 4.1.x update staging, it's the recursor code that no longer builds properly. Hang on for a bit.

[2017-12-28 19:57] jussisallinen commented on #58
Great, thanks a lot already!

[2017-12-29 12:39] jussisallinen opened #59 "[request] Dovecot 2.3.0"
Doveot 2.3.0 has been released and 2.2.x will be eventually retired:
https://dovecot.org/list/dovecot-news/2017-December/000366.html

[2017-12-29 12:42] jussisallinen commented on #59
Should current Dovecot2 just eventually be bumped to 2.3.x, ie. at latest once 2.2.x hits it's final release some time next year?

[2018-01-02 12:56] mamash commented on #59
No reason not to bump to 2.3.0 already. I'm working on the update now.

[2018-01-02 15:56] mamash commented on #59
Commited upstream.

[2018-01-02 15:56] #59 closed, assigned to mamash

[2018-01-02 15:56] mamash commented on #58
Upstream in trunk now. This deserves a security fix backport though.

[2018-01-03 00:19] bahamat opened #60 "mosh on darwin not working"
[code]

Looking at `protobuf`...

    $ pkgin pc protobuf | grep libprotobuf.1..dylib
    /opt/pkg/lib/libprotobuf.15.dylib

Symlinking libprotobuf only produces this error.

[code]

[2018-01-04 11:22] catalinbostan opened #61 "sbcl"
please include sbcl.

http://sbcl.org/platform-table.html

[2018-01-04 14:25] mamash commented on #61
pkgsrc does have sbcl, but it may not compile on some platforms. Which platform are you not finding it for?

[2018-01-04 14:35] catalinbostan commented on #61
jperkin added right now sbcl-1.4.3 (newer than 1.3.21 from NetBSD/pkgsrc) on  2017Q4
happy :)

[2018-01-04 14:35] #61 closed, assigned to nobody

[2018-01-05 23:33] FilipFrancis opened #62 "Incorrect library version linked in php-7.1.12 in 2017Q4"
Hi all,

Just upgraded to the latest version of 2017Q4 did a full-upgrade.
and that included php-7.1.12 and found a small issue with it.
As i am running nextcloud and this needs gd so after the upgrade was getting gd not loaded it was configured but not loaded.
Then after looking at the logs i found the following.
ldd /opt/local/lib/php/20160303/gd.so is giving the following
 libimagequant.so.0 =>

[2018-01-07 15:50] sjorge opened #63 "[darwin/trunk] git broken after upgrade"
After the latest set of updates git broke, probably some other commands too.
After updating git showed an error comming from nghttp2.

nghttp2 was linked to an older version of libcurl, the last set of updates did include a newer version of curl. So that is probably why.

This was fixed by doing a ```pkgin install -F nghttp2```. Not sure if this is fixable... this is probably because the version o

[2018-01-09 13:03] mamash commented on #57
That doesn't seem likely. pygit2 builds and successfully completes all tests even with no 'git' command available, and I've been able to test a few examples available on their site just fine.

The error message above isn't even part of the pygit2 code. Sounds more like an issue with the pygit2/SaltStack integration?

[2018-01-09 13:21] mamash commented on #57
I just updated the package to the latest and brought it into the main pkgsrc tree while at it.

[2018-01-09 19:59] sjorge commented on #57
Alright, let’s close this then.

[2018-01-09 19:59] #57 closed, assigned to nobody

[2018-01-10 11:17] minusdelta opened #64 "sysutils/syslog-ng 3.12.2 restart loop"
`syslog-ng-3.12.2` is restarting constantly in a smartos (`build: 20171207T064532Z`) minimal-64-lts  17.4.0 zone (`UUID 62aaa296-f143-11e7-bd81-9be1bda071f7`).
Tested both w/ custom and example config, `/var/log/messages`:
[code]
et c.

[2018-01-11 09:30] mamash commented on #64
Thanks for the note, possibly related to this ivykis bug...

https://github.com/buytenh/ivykis/issues/12

Not the same issue, but likely a problem with the eventport implementation in ivykis.

[2018-01-11 20:45] bahamat opened #65 "smartos 2017Q4 cairo package missing .so files"

[2018-01-11 20:47] bahamat commented on #65
No, I just didn't see them

[2018-01-11 20:47] #65 closed, assigned to nobody

[2018-01-12 11:30] baskerville opened #66 "[darwin] jq: Enable ONIGURUMA?"
When I try to use any of the operators based on regular expressions, I get the following error:
[code]

[2018-01-12 14:34] mamash commented on #64
Turns out the ivykis dependency needs to be built with pthread support (prior to 0.42 this used to be the default).

[2018-01-12 14:42] mamash commented on #66
Thanks, that makes total sense of course. I added the dependency and it should trickle down into the darwin repo in a few days.

[2018-01-12 14:42] #66 closed, assigned to mamash

[2018-01-12 18:19] minusdelta commented on #64
Thanks for looking into it and the update!

[2018-01-15 14:29] mamash commented on #58
Ported back to 2017Q4, pending a branch rebuild.

[2018-01-15 14:29] mamash commented on #64
Ported back to 2017Q4, pending a branch rebuild.

[2018-01-15 14:56] jfqd opened #67 "Update passenger to 5.1.12"
Would it be possible to get passenger version 5.1.12 into 2017Q4? 5.0.6 is really outdated (March 31, 2015). btw: passenger is the main way to deploy ruby webapps.

[2018-01-15 14:59] jfqd commented on #20
Current version is 3.6. But 3.4 is the latest one supported for Solarish systems, right? So sad. https://engineering.mongodb.com/post/farewell-solaris

[2018-01-15 15:10] mamash commented on #67
Possibly, yes. It's been almost three years since since I last touched the packages, mainly because there has been very little interest, and upstream always makes changes that make it a real pain to package things up properly.

[2018-01-15 15:19] jfqd commented on #67
I understand, but passenger is the main way to deploy ruby webapps :)

I did ips-packages it in the past for OmniOS: https://github.com/jfqd/omnios-userland/blob/151014/build/ruby-2.2-passenger5/build.sh

And 5.0.30 has a CVE: https://www.cvedetails.com/cve/CVE-2016-10345/

[2018-01-16 10:59] stevenwilliamson opened #68 "Default to ghostscript-agpl over ghostscript-gpl"
Currently when a package links against or depends on ghostscript it defaults to ghostscript-gpl.

This is an old version with open security issues. It appears as though ghostscript changed licensing from gpl to agpl and the gpl package is an old snapshot pre the change.

Given that the package is effectively now unsupported it would make sense to change to the ghostscript-agpl package to be the de

[2018-01-17 08:25] mamalos opened #69 "SMF support for clamsmtp"
Hi there!

There's no SMF support for clamsmtp package, so I've written one (by sort-of copy-pasting the relevant pieces from clamd's SMF) and the relevant rc script from FreeBSD.

My SMF file looks like this:

[code]

And the relevant rc script (**/opt/local/lib/svc/method/clamsmtp**) looks like this:
[code]

These are just my 2c. I suppose both files can be refactored to be more complete, but I'

[2018-01-17 16:20] jperkin commented on #60
I've pushed a fix for this. To work around issues like this in the future (after letting us know about them so we can continue to fix!) you can use e.g. "pkg_add -U mosh" to force the rebuilt package to be pulled in with the correct dependencies.

[2018-01-17 16:20] #60 closed, assigned to jperkin

[2018-01-18 15:24] ShixiangWang opened #70 "pkgin: pkg_install package is not installed."
I follow the instruction <https://pkgsrc.joyent.com/install-on-linux/>, but error occur when I use command

[code]

I check the directory but I cannot find pkg_install
[code]

How can I do to fix it?

[2018-01-18 15:29] jperkin commented on #70
Which bootstrap kit was this with? Sorry about that, these kits haven't been updated in a long time so may require a refresh.

[2018-01-18 15:38] ShixiangWang commented on #70
bootstrap-trunk-x86_64-20170127.tar.gz in https://pkgsrc.joyent.com/packages/Linux/el7/bootstrap/ and https://pkgsrc.joyent.com/packages/Linux/el6/bootstrap/ all cannot use because of the lost of `pkg_install`.

[2018-01-18 15:46] jperkin commented on #70
Hm, I tried to reproduce but it works fine for me. Can you confirm what commands you executed and whether `/usr/pkg/.pkgdb/pkg_install-20160410nb1` exists after you unpack the tarball (and that there were no errors after unpacking)?

For example on an EL7 test host:

[code]

Thanks.

[2018-01-18 16:26] ShixiangWang commented on #70
@jperkin Really thanks your quick reply.

First,
[code]

Second,
[code]
Then,
[code]
I encounter this problem before, I fix it using
[code]

Last, I check following commands and files you mentioned.
[code]

So, still the same error.

How to interpret this? I am really curious and still have no clue to fix it.

[2018-01-18 16:56] jperkin commented on #70
You can't install this kit to your home directory, it's built specifically to go into `/usr/pkg`.  You'll need to build your own pkgsrc packages rather than use ours I'm afraid.

The basic approach to doing that is:

[code]

where `category/pkg` is whatever package you wish to install.

[2018-01-18 20:39] bahamat opened #71 "update bind in LTS releases for CVE-2017-3145"
https://kb.isc.org/article/AA-01542

[2018-01-19 05:39] ShixiangWang commented on #70
I figure it out. Thanks @jperkin

[2018-01-19 08:04] ShixiangWang commented on #70
Hello @jperkin  Here I have another question.
I install git but it's still the older version

[code]

By the way, where is the latest repository for packages via FTP and HTTP?

[2018-01-19 08:19] ShixiangWang commented on #70
@jperkin You mentioned that "You'll need to build your own pkgsrc packages rather than use ours I'm afraid." It means I cannot use `pkgin install` to install packages? I have to use `bmake`?

[2018-01-21 00:30] idodeclare opened #72 "nagios-nrpe manifest.xml (nrpe.xml) does not work anymore with <method_credential/>"
Hello. `svc:/pkgsrc/nrpe:default` (nagios-nrpe-3.2.0) would not start up correctly after upgrade to 2017Q4. I found the `<method_credential user="nagios" group="nagios" />` element now interfering with successful startup. After removing that element and refreshing, `svc:/pkgsrc/nrpe:default` starts up correctly, with the daemon still running as `nagios:nagios` as expected.

[2018-01-22 09:04] jperkin commented on #71
Backported in 2012503ab74a5080470c96dfe0277c5ec35a22ad and b391ca44509b06db3ff7ea00d93d4f99f381589d and pushed over the weekend.

[2018-01-22 15:51] mamash commented on #69
Thanks, I implemented something like this and committed to upstream pkgsrc. Note that SMF itself has a built-in process manager, so things like PID files are typically not needed and for simply daemons not even start up scripts are required (i.e. binaries can be called directly).

[2018-01-22 15:51] #69 closed, assigned to mamash

[2018-01-22 15:57] mamash commented on #72
Thanks, obviously nrpe now switches to the non-privileged user on its own. I fixed the SMF manifest now.

[2018-01-22 15:57] #72 closed, assigned to nobody

[2018-01-22 15:58] mamash commented on #64
2017Q4 should have the fixed packages by now.

[2018-01-22 15:58] #64 closed, assigned to mamash

[2018-01-22 15:59] mamash commented on #58
Available in 2017Q4 now.

[2018-01-22 15:59] #58 closed, assigned to nobody

[2018-01-22 16:04] mamash commented on #62
This should be fixed in 2017Q4 as of last weekend's rebuild.

[2018-01-22 16:04] #62 closed, assigned to nobody

[2018-01-22 16:56] mamash commented on #63
I couldn't reproduce just now when I did a full upgrade of my Mac. Sounds like curl wasn't bumped properly when the nghttp2 dependency changed a major lib version, or git-base wasn't when curl updated similar wise.

[2018-01-22 16:56] #63 closed, assigned to nobody

[2018-01-22 17:02] mamash commented on #70
pkgin only installs pre-built binary packages. However, binary packages are always hardcoded for a predefined prefix, and ours are for /usr/pkg.

If you need packages under a different prefix, you cannot use our binary packages (and subsequently cannot use pkgin); you'll have to close the pkgsrc repository and build your own package from source using bmake.

[2018-01-22 17:02] #70 closed, assigned to nobody

[2018-01-22 19:26] jussisallinen commented on #58
Great thanks for the info!

[2018-01-23 13:04] jperkin commented on #68
I've switched trunk over to ghostscript-agpl and it will be the default in 2018Q1 onwards.

[2018-01-23 13:04] #68 closed, assigned to jperkin

[2018-01-24 17:03] jperkin commented on #41
I fixed this in cdebdfb7d2fe1d58895f8a05d914773339d60773 and will backport to 2017Q4.

[2018-01-24 17:03] #41 closed, assigned to jperkin

[2018-01-24 17:30] hww3 opened #73 "[build] mongodb on SmartOS: g++ version"
Hi,

I spent some time trying to figure out why mongodb packages aren't available on SmartOS. The solution is fairly simple yet likely would result in upheaval... I'd love for the change to be made but will settle for it being documented here.

It seems that mongodb requires g++ version 5.3 or higher, however all of its dependencies have no such requirement, so they use the default g++ version (4.

[2018-01-24 18:04] jperkin commented on #73
It's something we will probably have to do at some point, but obviously it is a huge change so needs to be tested thoroughly.  At present MongoDB is the only software that I'm aware of that requires a newer compiler than our current default of GCC 4.9.

I switched our daily bulk builds over to GCC 6 a while back so that we can start to look at what the state of play is, and there is quite a lot of

[2018-01-24 21:25] hww3 commented on #73
That makes complete sense to me... switching compilers is not a change undertaken lightly. I'm not at all surprised I found the one package that has a problem!

I was able to get packages built that will solve the problem for me in the short term, so I was mainly attempting to get the problem and resolution on record in case anyone else runs into the problem.

I may go back through and see if it w

[2018-01-24 21:29] mamash commented on #73
One other workaround would be to make sure all the MongoDB dependencies are built embedded. That's hardly a sanctioned approach in pkgsrc, but may be better than nothing. IIRC the MongoDB source tarball used to come with vendored sources for all (most?) deps and it was the default behavior.

The other thing is that upstream has dropped all SunOS support recently and we might see ugly portability i

[2018-01-24 21:59] hww3 commented on #73
I did attempt to build using the embedded dependencies and it didn't solve the problem (though the problem did move). I did not take the time to see if that was something that was easily fixable.

Getting on my soapbox, it's a shame that they're no longer supporting SunOS, but that seems to be an unfortunate trend. I have run into a number of projects that pretend that no other OS exist aside from

[2018-01-25 16:53] jperkin commented on #21
This is available again in 2017Q3 and the new LTS 2017Q4, sorry it took so long to respond to this issue.

[2018-01-25 16:54] #21 closed, assigned to jperkin

[2018-01-25 18:19] mamash commented on #67
I think I got it. Let me clean it up, provide nginx integration and commit to main pkgsrc tree this time.

[2018-01-25 18:23] jjlawren commented on #21
Thanks for the info!

[2018-01-25 18:45] jfqd commented on #67
@mamash Wow, that would be cool!

[2018-01-26 13:58] coyhile opened #74 "mit-krb5 default plugins broken?"
Trying to bootstrap an MIT KDC based on `mit-krb5-1.14.6`, one sees the following behavior:

[code]
Looking further, we see from truss (in relevant part):

[code]
And looking at the directory called out there, we see
[code]
Creating a symlink allows the operation to complete successfully:
[code]

[2018-01-26 14:00] coyhile commented on #74
The container where I was testing is `base-64-lts@17.4.0`.  I'll see if I can repro with the previous LTS image. ETA: same behavior with `base-64-lts@16.4.1`

[2018-01-26 17:01] jfqd opened #75 "Update clamav to 0.99.3"
Version 0.99.3 fixes [seven CVEs](http://blog.clamav.net/2018/01/clamav-0993-has-been-released.html). One of it can easily exploited by sending a special crafted PDF (CVE-2017-12376), which was seen in the wild.

There is also a [patch](https://gist.github.com/manuelm/dbc94001c77c07363cdcb5b390c2cb04) needed for 0.99.3 which prevents crashing of clamav, see: http://lists.clamav.net/pipermail/clama

[2018-01-26 17:04] jperkin commented on #75
This was done upstream in 26435b92aa5bc14dd855afcbbc2fb61e02cc684e earlier, I've backported to 2017Q4 and it should be available within the next few hours.

[2018-01-26 17:18] jfqd commented on #75
Good to know. Did you saw the patch. This seem to be essential to prevent clamav crashings. A few german universities hat problems without this patch today (I was reading this on a german postfix mailinglist)

[2018-01-26 17:19] coyhile commented on #74
I built this outside the pkgsrc framework by hand, and I do not see the behavior there. In fact, the output of the default generated Makefile from configure yields `lib/krb5/plugins/kdb/db2.so`.

Is it [this](https://github.com/joyent/pkgsrc/blob/trunk/security/mit-krb5/patches/patch-plugins_kdb_db2_libdb2_Makefile.in#L8) that causes the problems here?

[2018-01-26 18:31] johngrasty opened #76 "rspamd: Currently broken build and a possible fix"
Hi,

So rspamd currently fails with an unknown architecture type error. I added this line the Makefile and it built, installed, and packaged fine. I will be testing to see if it actually works soon.

`CFLAGS+=        -I~/usr/include`

I really don't know the preferred way to fix this, but I do know that it wasn't finding endian.h, and now it does. Hopefully this helps.

John

[2018-01-29 13:55] wiedi opened #77 "py-mysqlclient: import version 1.3.12"
https://gist.github.com/wiedi/cc8285f6260387cbd135e9f9f13504a4

This depends on `MYSQL_PKG_PREFIX` from the `joyent/feature/pbulkmulti/trunk` branch.

[2018-01-29 13:59] wiedi opened #78 "nullmailer: pull up bugfix into 2017Q4"
There was an issue in our nullmailer patches which resulted in: `sendmail: Could not exec nullmailer-inject`

Upstream already had the correct fix (but no new release yet) which I commited in https://github.com/NetBSD/pkgsrc/commit/6cdbbda723d9f5937ed4f16af183dd725d97d3c0 - maybe this can be pulled into the 2017Q4 branch.

[2018-01-31 11:56] mamash commented on #76
I don't see how that could be a fix, since ~/usr/include doesn't exist (unless you populated it yourself), but I'm going to look into rspamd failure, because it just built for me on a manual build.

[2018-01-31 12:09] johngrasty commented on #76
Thanks. I was building it using pkgbuild (the latest image), but on a
server running a pretty old platform.

Thanks for looking into it!

On 31 January 2018 at 12:56:08, Filip Hajny (notifications@github.com)
wrote:

[2018-01-31 17:06] jfqd commented on #78
I can confirm, that nullmailer is completely broken without this patch.
Would be happy if this would be pulled in soon :)

[2018-01-31 17:11] jfqd commented on #67
@mamash do you have a repo somewhere I can pull to test the build?

[2018-01-31 17:35] mamash commented on #67
It's in trunk pkgsrc already... ;)

https://github.com/NetBSD/pkgsrc/tree/trunk/www/passenger

[2018-01-31 19:32] jfqd commented on #67
Thx a lot! I was able to build ruby23-passenger and ap24-ruby23-passenger on SmartOS 2017Q4.

But how can I build ruby22-passenger and ap24-ruby22-passenger? Are there any Flags I need to set for bmake?

[2018-01-31 19:36] mamash commented on #67
Yes, just set RUBY_VERSION_DEFAULT=24 in mk.conf or when calling bmake (e.g. ```bmake RUBY_VERSION_DEFAULT=24 install```).

[2018-01-31 19:41] jfqd commented on #67
There are always things to learn :) Do I need the RUBY_VERSION_DEFAULT flag only for install?

Would be cool to build and then run:

[code]

[2018-01-31 19:43] mamash commented on #67
No, of course not. That's assuming you start with 'bmake clean'. You need the version set in order for the right dependencies to get installed etc.

[2018-01-31 20:12] mamash commented on #76
There were two problems there: endian detection and lack of fcntl support in some Lua code files. Both issues are not manifest on latest SmartOS platforms where system features were improved, but are a problem on the production 2014-something platform that we use for backwards compatibility to build platforms on.

I've fixed both now in trunk pkgsrc and plan to backport to 2017Q4.

[2018-01-31 21:37] jfqd commented on #67
I did build the ruby22 versions and tested it with success on a SmartOS 2017Q4 vm.

[2018-02-01 09:38] #76 closed, assigned to mamash

[2018-02-01 09:45] mamash commented on #76
Just fixed some issues in the rc.d and SMF files and will conclude with an update to 1.6.5.

[2018-02-01 09:51] jfqd commented on #78
Ups. Why is this ticket being closed? The commit was for py-polib, not nullmailer.

[2018-02-01 09:54] jperkin commented on #78
Stupid GitHub bug where it will match any "hash#number" in any changelog that we push to pkgsrc and apply it to this project, they refuse to change it so we just have to keep going back and re-opening tickets that they've incorrectly auto-closed. To make it even worse, I'm not notified of these auto-closes as I'm the committer, so I'm reliant on others to tell me when it happens :(

[2018-02-01 13:43] mamash commented on #76
Submitted as PR to upstream in vstakhov/rspamd#2009.

[2018-02-01 14:02] mamash commented on #75
It was implemented in a slightly different way here:

https://github.com/NetBSD/pkgsrc/blob/trunk/security/clamav/patches/patch-libclamav_scanners.c

I've added this patch onto the version bump backport now, and will prep a 2017Q4 rebuild soon.

[2018-02-01 14:15] jfqd commented on #75
Thx a lot!

[2018-02-01 19:05] mamash commented on #78
Backported into 2017Q4, the rebuilds are syncing now across the http mirrors.

[2018-02-01 19:05] #78 closed, assigned to mamash

[2018-02-01 19:05] mamash commented on #76
Backported into 2017Q4, the rebuilds are syncing now across the http mirrors.

[2018-02-01 19:05] mamash commented on #75
Backported into 2017Q4, the rebuilds are syncing now across the http mirrors.

[2018-02-01 19:05] #75 closed, assigned to jperkin

[2018-02-01 19:19] mamash commented on #67
I'm backporting this to 2017Q4. Just hit another issue with an ambiguous reference to a symbol, so it will show up with the next rebuild.

[2018-02-01 19:19] #67 closed, assigned to mamash

[2018-02-01 20:56] mamash commented on #74
Not just that single patch, but the entire patch set that injects support for pkgsrc libtool, likely. That's something that's usually desirable, because a central sanctioned libtool helps avoid all kinds of peculiar problems that different upstreams may suffer from. I'll investigate.

[2018-02-01 22:22] mamash commented on #77
Thanks, I imported this now - with some readability and pkglint polish, but without the MYSQL_PKG_PREFIX treatment though. That will have to be patched in our feature branches later on, as the feature is not supported in pristine pkgsrc.

[2018-02-01 22:22] #77 closed, assigned to mamash

[2018-02-06 22:08] bahamat commented on #71
I'm still missing an update in 2015Q4.

[2018-02-07 10:40] jperkin commented on #71
I've backported these to 2015Q4 as well, the build will take a while though as it also includes backports for OpenSSL and other core dependencies.  Be aware that the bind updates since 2015Q4 are large, and include config file and SMF updates, so be careful when performing upgrades.

[2018-02-09 23:43] bahamat opened #79 "ipmitool segfaults on macOS"

[2018-02-12 15:59] jfqd commented on #67
@mamash Is there a date for the next rebuild? :)

[2018-02-12 22:48] jclulow opened #80 "base-multiarch-lts 16.4.1 update missed tmux"
In the last couple of days I did a `pkgin up` and a `pkgin fug` in my _base-multiarch-lts 16.4.1_ zone.  After doing this, `tmux` stopped working.  There appeared to have been an update to `libevent` from 2.0.22nb1 to 2.1.8nb1, after which `tmux` could not find the right libraries:

[code]

@jperkin told me to try a `pkg_add -U tmux`, which resolved the issue.

[2018-02-13 14:13] mamash commented on #67
Thanks for the reminder, one is running just now.

[2018-02-13 15:01] mamash commented on #67
Passenger 5.2.0 is available now in 2017Q4 (the non-US mirrors may take some time to sync up though).

[2018-02-13 15:30] mamash commented on #71
There are now available from the repos, I checked.

[2018-02-13 15:30] #71 closed, assigned to jperkin

[2018-02-13 20:58] jfqd commented on #67
@mamash Thanks a lot for you work! Will test the new package tomorrow.

[2018-02-14 16:44] jperkin commented on #80
I have some binaries up for testing which should resolve this, available in the following gist with some background to the problem:

https://gist.github.com/jperkin/5584bef9bebc4c3917fdfc30d9db3bd8

With it being a reasonable change in behaviour there is some chance of data loss, but if anyone has non-critical hosts that they could test them on, especially those with lots of additional packages in

[2018-02-14 19:51] mamash commented on #79
Hm I probably don't have a way to test this, but just executing ipmitool or getting help works for me.

[2018-02-14 20:07] bahamat opened #81 "update duo-unix to 1.9.15 or later"

[2018-02-14 20:08] bahamat opened #82 "add duo-unix to tools repo"

[2018-02-14 20:18] jjlawren commented on #21
I've finally gotten around to upgrading to a new 17.4.0 image, but this build seems to segfault immediately with any normal use. Possibly a bad build?

Opened a case at the aria2 project with more details: https://github.com/aria2/aria2/issues/1138

[2018-02-15 04:46] bahamat commented on #79
I figured out that this happens after prompting for password.

[code]

If there's no password prompt, then no segfault.

[code]

Note, I don't have anything capable of servicing IPMI packets on 127.0.0.1.

[2018-02-16 02:41] bahamat commented on #81
This patch should do it.

[code]

[2018-02-16 07:17] mamash commented on #81
I already bumped it even to 1.10.1 and am importing it into the main pkgsrc tree too.

[2018-02-16 07:28] bahamat commented on #81
Great, even better. Can this go into 2017Q4?

[2018-02-16 17:11] mamash commented on #81
Yep, rebuilding now.

[2018-02-17 09:40] mamash commented on #81
Available in 2017Q4 now. From 2018Q1 and now, the package will come from the main pkgsrc tree.

[2018-02-17 09:40] #81 closed, assigned to mamash

[2018-02-17 16:34] baskerville opened #83 "[darwin] Go 1.10"
Go 1.10 [was released](https://blog.golang.org/go1.10).

[2018-02-17 18:00] jfqd opened #84 "dnsdist has a broken xml-manifest file"
After Installing dnsdist with ```pkgin in dnsdist``` a ```svcadm enable dnsdist``` leaves the service in maintenance state:

```Could not expand method tokens in "/opt/local/bin/dnsdist -d -u dnsdist -g dnsdist -C %{config_file}": property "config_file" not found. ```

Running the following on the xml-manifest file is fixing it:

[code]

The property-group-name should be ```application``` instead

[2018-02-18 03:43] SARSninja opened #85 "request ffmpeg3 to be built with opus for out of box vp9/opus webm encoding"
default pkg options for ffmpeg3 on SmartOS base-32 version 17.3.0 already include libvpx and vorbis. Please enable opus on build so users can encode webm with vp9 and opus out of the box on smartos

[2018-02-18 04:51] idodeclare opened #86 "apache-tomcat-8.0.47 cannot "jpda start" on openjdk8-1.8.152nb1"
Joyent pkgsrc ships Tomcat 8, but`/opt/local/share/tomcat/bin/catalina.sh` cannot be started successfully with `jpda start` (Start Catalina under JPDA debugger) due to the following:
[code]

[2018-02-19 10:32] #16 closed, assigned to nobody

[2018-02-19 10:52] michaelnisi opened #87 "Could not install dblatex-0.3.10nb1 (Darwin)"
Trying to install dblatex on **macOS** High Sierra 10.13.4 Beta aborts with `Can't locate TeXLive/TLUtils.pm`.

[code]

Inlining `/var/db/pkgin/pkg_install-err.log`, any hints to resolve this would be appreciated.

[code]

[2018-02-19 11:09] mamash commented on #87
Based on a number of crucial package upgrades involved (e.g. pkg_install), it looks like you have not updated your pkgsrc install for a long time. Based on the output, it's actually not failing on the TeXLive/TLUtils.pm error (that's likely just a post-install script shared among the tex packages), but on the pkg-config vs. pkgconf conflict, which means your bootstrap is close to two years old (or

[2018-02-19 13:05] michaelnisi commented on #87
Glorious, this worked:

[code]

Thanks, @mamash

[2018-02-19 13:05] #87 closed, assigned to nobody

[2018-02-20 17:01] mamash commented on #84
Thanks, the property group name can be anything but it'd have to be mentioned explicitly in references. I changed it to the usual 'application' one which needs not to be treated.

[2018-02-20 17:01] #84 closed, assigned to mamash

[2018-02-21 14:26] mamash commented on #85
I enabled the 'opus' option on our 2017Q4 and trunk SmartOS builds and threw in 'x265' too as that only took a small fix in multimedia/x265 to make it build. A 2017Q4 rebuild is in progress now.

[2018-02-21 14:26] #85 closed, assigned to mamash

[2018-02-21 22:40] bahamat opened #88 "smartos 2015Q4 nodejs-4.8.5 built against icu-56.1 but depends on icu-1.60.2"
[code]

To fix this I had to do this

[code]

[2018-02-22 06:13] bahamat opened #89 "bind 9.10 missing from 2017Q4?"
smartos base-64@17.4.0

[2018-02-22 09:51] mamash commented on #89
Yep, fixing with a rebuild just now.

[2018-02-22 09:51] #89 closed, assigned to mamash

[2018-02-22 15:13] mamash commented on #88
Fixed now by backporting the latest 4.8.7.

[2018-02-22 15:13] #88 closed, assigned to mamash

[2018-02-23 12:15] mamash commented on #86
Yep, looks like a bug in the OpenJDK8 build process, I'll get it fixed.

[2018-02-23 19:21] idodeclare commented on #86
Thank you kindly.

[2018-02-24 13:06] mamash commented on #86
This should be fixed now in openjdk8-1.8.162nb1 in 2017Q4, I was able to 'lpda start' successfully. Can you update your openjdk8 package and verify?

[2018-02-24 13:06] #86 closed, assigned to mamash

[2018-02-24 16:53] idodeclare commented on #86
Thank you, @mamash — I can confirm it starts up now.

[2018-03-01 00:50] mcandre opened #90 ""gpg: no valid OpenPGP data found" for fresh smartos global zone"
When I run the official instructions for installing pkgsrc for SmartOS global zone environments, I get verification errors:

bootstrap.sh, copied from the https://pkgsrc.joyent.com/install-on-illumos/ website:

[code]

Trace:

[code]

Looks like the GPG keys aren't importing correctly?

I'm working around these errors by dropping the GPG check and relying on the SHA1 checksum, though it's disheart

[2018-03-01 09:31] jperkin commented on #90
This is somewhat expected, and why the GPG check is marked as optional.  The GPG shipped in the SmartOS GZ is basically unusable as it is so old, and is only kept for historical reasons.  It's also complicated by the fact the GZ does not ship SSL certificates (joyent/smartos-live#450).

I'll add a comment explaining that this is unlikely to work in the SmartOS global zone.

[2018-03-01 09:38] jperkin commented on #90
Actually, in verifying this I think I see the problem - if you change the curl args when fetching the GPG key to use `-ksS` instead of `-sS` does it work?

[2018-03-04 20:19] mcandre opened #91 "clang++ missing iostream header"
The "clang" package provides a broken clang++ out of the box, as the iostream header file is missing.

When the "gcc49" package is installed, then a g++ binary can compile C++ source that uses iostream. However, clang++ continues to fail to find the header. I'm attempting compilation within a SmartOS global zone environment, in case that matters.

Please fix the "clang" package so that its clang++

[2018-03-14 12:32] mamash commented on #83
Landed in pkgsrc trunk some time ago, should be available in the next macosx/trunk rebuild.

[2018-03-14 12:32] #83 closed, assigned to nobody

[2018-03-31 07:23] #73 closed, assigned to nobody

[2018-04-01 10:09] knextsunj opened #92 "KDE plasma desktop shell crash on launch"
I am using pkgsrc 2017Q4 on omnitribblix 0m20update3(LX variant of tribblix). When starting KDE with the following .xinitrc config, I am getting a black screen with error dialog "Plasma Desktop has closed unexpectedly."(shown in the attached image).

.xinitrc
exec /opt/local/bin/startkde

My PATH is:
/opt/local/sbin:/opt/local/bin:/opt/csw/bin:/opt/libexec:/usr/gnu/bin:/usr/bin:/usr/sbin:/sbin:/bi

[2018-04-02 16:02] gavinwill opened #93 "Elasticsearch 6+ packages are missing libjnidispatch.so which means only able to bind ES to localhost."
Hi.

Elasticsearch 6.1 package will by default try to bind to localhost unless the elasticsearch.yml file is modified. For testing and single node "cluster" this is fine. However when using a multi node cluster we naturally need for Elasticsearch to bind to an address other than localhost to allow inter node communication.

When changing the elasticsearch.yml file and restarting the service we see

[2018-04-04 10:29] #90 closed, assigned to jperkin

[2018-04-06 12:50] mamash commented on #93
Thanks for the report. I'll have the elasticsearch package pull the sources for JNA and build the lib file from source rather than fetch it.

[2018-04-06 13:01] gavinwill commented on #93
Point to note also if needing to bind to other than localhost is that Elasticsearch requires java options to be the same. This is part of the checks ES does and as such need to adjust the service manifest from :

      <propval name='min_heap' type='astring' value='256m' />
      <propval name='max_heap' type='astring' value='1g' />

to:

      <propval name='min_heap' type='astring' value='1g' />

[2018-04-06 13:22] mamash commented on #93
Thanks for the heads up. The docs suggest the heap size should be uniform for best performance too, so I'll set both values to 1g now.

[2018-04-09 22:59] bahamat opened #94 "pkgsrc tools collection should use node LTS releases"
Right now the only packages available are

[code]

Neither of which are suitable for production use.

[2018-04-10 09:09] mamash commented on #94
Thanks, that makes sense. I just added allů the LTS releases to the tools subset and let 2017Q4 rebuild.

[2018-04-10 09:09] #94 closed, assigned to mamash

[2018-04-10 19:11] bahamat opened #95 "TLS SNI broken with nginx on 2017Q4"
This affects both nginx 1.12.2 and 1.13.7. This does not affect Apache.

When visiting a server properly configured with SNI, only one server stanza is used. The certificate and content served for all SSL sites are from the first SSL enabled host.

[2018-04-10 19:12] bahamat commented on #95
This was on a SmartOS base-64-lts@17.4.0 image.

[2018-04-10 23:00] nbxorg commented on #95
nginx 1.13.3 on SmartOS minimal-64-lts@16.4.1 seems to work ok.

[2018-04-11 14:20] mamash commented on #95
Brian, works for me with 1.13.7 on a base-lts-17.4.0 VM. Can you share your config bits?

[2018-04-11 14:47] bahamat commented on #95
Actually, looking at my config again I did have an error on the `server_name` that was the problem. Fixing that did resolve it, so this isn't an issue after all.

[2018-04-11 14:47] #95 closed, assigned to mamash

[2018-04-11 16:32] nbxorg commented on #95
Same for me. In the template I was basing my configs off of there was a semi-colon missing from the index statement just before the `server_name` ...

I'm increasingly catching my brain seeing punctuation that isn't really there.

[2018-04-18 17:47] bahamat opened #96 "want mtr in tools"
The tools build should exclude any dependency on X11.

[2018-04-18 17:49] bahamat opened #97 "nodejs in tools distro should not depend on python"
Chatted with @jperkin, tools could set `PYTHON_FOR_BUILD_ONLY=yes`

[2018-04-19 08:23] mamash commented on #97
There's also the option of configuring using --without-npm and going with a npm-less package. FreeBSD ports has the node package(s) implemented this way, then provides separate npm packages.

[2018-04-19 08:29] jperkin commented on #96
Added, this will be in the next build.

[2018-04-19 10:37] mamash commented on #28
Erronenous autoclose.

[2018-04-19 12:21] jperkin commented on #97
This is done for 2018Q1 and new packages are available (if already installed then `pkg_add -U` them).

[2018-04-19 12:21] #97 closed, assigned to jperkin

[2018-04-19 12:22] jperkin commented on #96
This is now available in 2018Q1 tools.

[2018-04-19 12:22] #96 closed, assigned to jperkin

[2018-04-19 15:02] bahamat commented on #97
So, will this be available if I bootstrapped from 2017Q4-tools?

[2018-04-19 15:52] jperkin commented on #97
I didn't force a rebuild of 2017Q4, I prefer not to do things like that in an LTS release and it's better that users always use the latest, but I can do if necessary.

[2018-04-19 17:48] mcandre commented on #90
... if we're going to download GPG keys without proper SSL, then we should at the very least publish an official cryptographically secure checksum (e.g. MD5, SHA256+) for the keys, and have the install commands vet the checksums before proceeding to import the keys.

[2018-04-19 19:00] sjorge opened #98 "conserver8 package in tools repo"
It would be nice to have the conserver8 package in the gz-tools repository.

It can be used in combination with zlogin to provide access to the zones shell to multiple people without giving access to an entire smartos node.

[2018-04-21 07:39] baskerville opened #99 "[darwin] Outdated package: inkscape"
The current inkscape version is [0.92.3](https://inkscape.org/en/news/2018/03/22/announcing-0923-release-inkscape/).

[2018-04-21 15:40] lschweiss-wustl opened #100 "Puppet is broken in 2018Q1"
[code]

This happens when upgrading or on a clean install of 2018Q1 on OmniOS CE r151022.   Puppet was working on all previous releases I've used.

[2018-04-25 14:20] jcea opened #101 ""ffmpeg2" is missing in 2018Q1"
In release 2017Q4, package ```ffmpeg2``` was available. It is not available in 2018Q1.

2017Q4:
[code]

2018Q1:
[code]

I will stick this zone in 2017Q4 since it is a LTS and I need "ffmpeg2"...

[2018-04-25 17:58] mamash commented on #101
Yes, a recent update to x264-devel re-enabled assembler code, which is breaking the build on SunOS. I'll deal with it.

[2018-04-25 19:49] jcea commented on #101
Thanks, @mamash . Please, let me know when available. I use this zone for audio/video transcoding/streaming and I would like to be able to use 2018Q1.

Thanks a lot for your time and effort. Much appreciated.

[2018-05-06 20:27] dertuxmalwieder opened #102 "Could we have Darcs?"
It looks like the usual Haskell tools (`stack` and `cabal`) are not in Joyent pkgsrc just yet, so the recommended ways to install Darcs - yes, some people "still" use it :-) - are not working on illumos.

Maybe the "other" [pkgsrc's Darcs](https://github.com/NetBSD/pkgsrc/tree/trunk/devel/darcs) could be imported here? It has quite some Haskell dependencies though.

[2018-05-07 14:45] dertuxmalwieder commented on #102
I was informed that this is actually only a problem with binaries - pkg itself has it. Well then...

[2018-05-07 14:45] #102 closed, assigned to nobody

[2018-05-09 17:38] priyadarshan opened #103 "MATE and other meta-packages not found?"
On a freshly installed OmniOS r151026 (AMD Ryzen Threadripper 1950X / X399) I was able to install Awesome WM via Joyent pkgsrc: https://imgur.com/a/sTr41E0

But it seems meta-packages are not installable?

I see they are available in the repo, but, for example, I tried to install MATE, like in [this image on Joyent's site](https://pkgsrc.joyent.com/img/illumos-desktop-mate.png) but it cannot be fo

[2018-05-11 11:40] jperkin commented on #103
Unfortunately some packages are missing in the most recent release due to issues with spidermonkey, these have since been resolved but haven't been backported to the release branch - I'll see about doing this.  In the meantime you could use the previous 2017Q4 release where these meta packages are available.

[2018-05-11 11:44] priyadarshan commented on #103
Thank you for the explanation. I can definitely wait, and I can test the backports if you wish.

I take it you mean manually copying over the desired metaport subdirectory from 2017Q4 to my local 2018Q1 tree?

[2018-05-11 11:48] jperkin commented on #103
Sorry for not being clear, no I meant using the 2017Q4 bootstrap kit, but that can be a hassle if you're already using 2018Q1 for other things.  I've pushed this fix now, and it should be available within a few hours so it's probably just simplest to wait.  I'll let you know when it's ready.

[2018-05-11 11:50] priyadarshan commented on #103
Thanks, I understand now. Thank you for the fix.

[2018-05-11 17:28] jperkin commented on #103
Apologies, looks like I was mistaken - the version of spidermonkey I fixed is not the one that a bunch of desktop packages depend on (via polkit).  I'm going to have to port the patches to a newer version.

That may take a little while, so it may be that we just have to wait for 2018Q2 for these packages to be available again.  I'll keep this ticket updated with progress in the meantime.

[2018-05-12 06:03] priyadarshan commented on #103
Thanks for the heads up. Let me know if I can be of any help testing. I am sorry I can't be more useful at the moment. I am new to illumos/pkgsrc, ultimately I would like to contribute in more substantial ways.

[2018-05-19 06:41] mamash commented on #101
Available now.

[2018-05-19 06:41] #101 closed, assigned to nobody

[2018-05-19 23:31] anadrome opened #104 "p5-Text-BibTeX: build path was leaked into dylib reference"
When doing a `full-upgrade`, I get this warning:

    /Users/pbulk/build/textproc/p5-Text-BibTeX/work/Text-BibTeX-0.85/btparse/src/libbtparse.dylib, needed by p5-Text-BibTeX-0.85 is not present in this system.
    proceed ? [y/N]

My installed version is 0.80nb1; current in the repository is 0.85. This is on macOS Sierra, using the repository `https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64

[2018-05-20 06:38] jperkin commented on #104
Thanks, that shouldn't happen, I'll fix this and also figure out why the checks for correct library paths is failing in this case.

[2018-05-22 14:06] mamash commented on #93
I've backported this feature to 2017Q4.

[2018-05-22 14:06] #93 closed, assigned to mamash

[2018-05-23 05:32] hessaa22 opened #105 "lat 24.302 ± 35.33 meters, long 55.759 ± 35.33 meters"

[2018-05-23 16:06] mamash commented on #82
Sorry, I forgot about this. Added to tools todax.

[2018-05-23 16:17] bahamat commented on #82
I found out that this is only going to work if it’s 32-bit, or also includes 32-bit libs because our PI pam stack is 32-bit.

[2018-05-23 16:20] mamash commented on #82
Hm, we can't sneak a 32-bit package into a 64-bit package set though, especially if it links against openssl.

[2018-05-23 16:22] bahamat commented on #82
If that works, I’m fine with it.

[2018-05-24 16:38] jcea commented on #101
Oh, Thanks, @mamash . Now I have an issue with pulseaudio. I have a dependency of "pulseaudio >=9.0", but pulseaudio is not available in 2018Q1. Is it dropped for good or a package creation failure?.

Thanks!.

[2018-05-25 00:57] jcea opened #106 ""pulseaudio" missing in 2018Q1"
In release 2017Q4, package ```pulseaudio``` was available. It is not available in 2018Q1:

2017Q4:

[code]

2018Q1:

[code]

I use this zone for audio/video transcoding/streaming and I would like to be able to use 2018Q1.

Some context in #101, but I have decided to open a separate issue.

[2018-05-27 19:32] robohack opened #107 "[darwin] requesting the X11 version of emacs"
I would like to request the X11 variant for emacs25 in the Darwin build(s).

BTW, I can't even get the current emacs25 package to work without starting it with `-nw` -- keyboard focus seems to stay on the tty where it was invoked, even if that's an xterm, while a window opens on the normal Aqua desktop.  Clicking in an emacs pane makes the emacs cursor blink, but typing still goes to the terminal

[2018-05-29 16:52] priyadarshan commented on #103
It seems Firefox is also not available. It is listed in the [recent changes](https://github.com/joyent/pkgsrc/wiki/about:changes#changes-in-pkgsrc-2018q1), but I get
[code]
Probably affected by same issues as spidermonkey.

[2018-05-30 10:35] baskerville opened #109 "[darwin] Missing package: lilypond"
[lilypond](http://lilypond.org/) seems to be missing.

[2018-06-04 12:15] mamash commented on #106
The problem lies in polkit that was broken by spidermonkey. The fix would involve importing a whole new version of spidermonkey and a major update of polkit, and sounds like an overkill to me - on a non-LTS release like 2018Q1 (2018Q2 will have the commits already).

Is there a reason why you're keen on using 2018Q1 and not a maintained release like 2017Q4?

[2018-06-04 14:55] mamash commented on #109
This seems to be cause by a known bug in guile that cannot dynamically open a shared lib on Darwin platforms. The build error can be worked around by disabling documentation from being built/installed, but I can't guarantee the problem won't affect Lilypond usage in other ways.

https://stackoverflow.com/questions/3805991/lilypond-mac-os-x-build-issue

https://www.mail-archive.com/bug-guile@gnu.or

[2018-06-06 00:45] jcea commented on #106
@mamash, I rather prefer to use up to date packages. I am usually interested in new features in Python, Apache, Bind, dovecot, etc. I don't care a lot about LTS, I redeploy entire instances with Ansible, so upgrading zones quarterly is just regular business.

Currently I use 2018Q1 in all my zones except in the transcoding zones (running 2017Q4 because this and similar issues). Having different OS

[2018-06-06 08:06] jperkin commented on #106
Yes, these will be fixed in 2018Q2.

[2018-06-07 07:18] kalaxy opened #110 "Clang 5.0.1 doesn't work out of the box."
Hi,
I'm using Joyent pkgin on a CentOS7 machine.  When I try to compile I get an error for missing libs.
[code]

At first I thought this was the same issue as https://github.com/joyent/pkgsrc-legacy/issues/288, but it doesn't appear to be as complicated.  To solve the issue I can install any gcc, e.g., `sudo pkgin -y install gcc7`.  Then use the `--gcc-toolchain` parameter to point clang to the re

[2018-06-07 20:09] knightjp opened #111 "installation on MacOS High Sierra"
`curl -sS https://pkgsrc.joyent.com/pgp/1F32A9AD.asc | gpg --import`
Following the installation commands on the site and I hit a roadblock..
I get an error saying...
`-bash: gpg: command not found
(23) Failed writing body`

Any ideas?

[2018-06-07 20:12] jperkin commented on #111
That section is optional, as gnupg is not shipped on macOS by default, but the instructions are provided anyway for security-conscious users who already have gpg available.

Let me know if I need to improve the instructions to make that clearer.  Thanks.

[2018-06-07 23:27] joshwilsdon opened #112 "`pkgin install git` doesn't"
On minimal-multiarch-lts 15.4.1, I ran:

[code]

the 43 errors look like:

[code]

so instead I had to:

[code]

which worked:

[code]
it would be nice if `pkgin install git` could be fixed to install git.

[2018-06-08 08:49] jperkin commented on #112
There are various things conspiring here to cause a failure in what I agree should be a basic requirement, and I share your frustration.  One of the main issues is that some years back we configured our repositories to retain older versions of packages, I think to work around older pkgin releases which did not always check for repository updates first.  This means that there are multiple versions

[2018-06-08 08:49] #112 closed, assigned to jperkin

[2018-06-10 19:25] baskerville opened #113 "[darwin] tesseract: tessdata version mismatch"
*tesseract* spams the standard error with lines starting with `ParamsModel::Incomplete line` when `-l fra` is used. The explanation is [quite simple](https://github.com/tesseract-ocr/tesseract/issues/373#issuecomment-263587877): the training data (at least in the case of `/opt/pkg/share/tessdata/fra.*`) doesn't match the version of *tesseract*. The proper files are available [here](https://github.

[2018-06-10 20:32] mamash commented on #113
Yep, the package was updated at some point to use the version 4 data. No idea why. I'll fix that.

http://cvsweb.netbsd.org/bsdweb.cgi/pkgsrc/graphics/tesseract/Makefile.diff?r1=1.31&r2=1.32

[2018-06-11 15:03] mamash commented on #113
I committed the change to upstream CVS, the Darwin package will get a new reversion number with the next rebuild.

[2018-06-11 15:03] #113 closed, assigned to nobody

[2018-06-11 22:31] jlmuir opened #114 ""Mac OS X" should be "macOS""
References to "Mac OS X" or "OSX" should be changed to "macOS" in the wiki (e.g., Package Development [Setup](https://github.com/joyent/pkgsrc/wiki/pkgdev:setup) and [Bulk Builds](https://github.com/joyent/pkgsrc/wiki/pkgdev:bulk)).  If I could fork the wiki and submit a PR I would, but GitHub doesn't seem to allow that!

[2018-06-12 08:22] jperkin commented on #114
Fixed in https://github.com/joyent/pkgsrc/wiki/pkgdev:bulk/bd888925f0b3641bc226e87aeebdc7692d1af4cb, thanks.

Yeh, GitHub's wiki handling is a bit weird, I'd have thought they'd just have an interface similar to a regular repository, but it's a bit clunky unfortunately.

[2018-06-12 08:22] #114 closed, assigned to jperkin

[2018-06-12 08:25] jperkin commented on #114
I created a separate repository at https://github.com/joyent/pkgsrc-wiki which can be used for issues and pull requests.

[2018-06-14 23:04] mikeowens opened #115 "Emacs and core dumps"
I know there is a long history with this, and maybe it will never be resolved, but is it still the assumed that Emacs is going core dump constantly due to it's linking to libumem? I can't go more than 10 or 15 minutes without a coredump. I just need to confirm that this is just a fact of life so I can either try to live with it or make any possible adjustments.

[2018-06-14 23:16] jperkin commented on #115
Yes but it shouldn't be, is it? Maybe we missed one of the versions..

[2018-06-14 23:24] mikeowens commented on #115
I compiled emacs25-25.3nb8 from commit 28aa778f3514caaf5f6754c70e6da8574a2f2895 for reference. I am using X11 over SSH, in case that introduces any other known issues. I will rebuild everything from scratch in a new zone and test just to make sure I haven't done something wrong/weird.

[2018-06-14 23:32] jperkin commented on #115
Ah ok, if you compiled yourself outside of a pkgbuild image (https://github.com/joyent/pkgsrc/wiki/pkgdev:setup) then it will likely be linked against libumem.  The logic that excludes emacs is here: https://github.com/joyent/pkgbuild/blob/master/include/libumem.mk

[2018-06-15 00:04] mikeowens commented on #115
Thank you. I compiled myself bc I am on OmniOS CE. I will try doing pkgbuild image.

[2018-06-15 00:36] mikeowens commented on #115
I can't figure out how to get pkgbuild to work on OmniOS CE. It's not officially supported. Is there some simple way I can just patch the build itself within pkgsrc? Maybe I'll just move to SmartOS.

[2018-06-15 07:40] #115 closed, assigned to nobody

[2018-06-15 08:05] jperkin commented on #115
Hm, if you're compiling yourself it may just be leaking from a dependency, you can use `ldd -s` to see where the libumem dependency is coming from.  If it's still coming directly from emacs somehow, you could add `BUILDLINK_TRANSFORM+= rm:-lumem` to the pkgsrc emacs Makefile which will strip any `-lumem` flags from the compiler.

[2018-06-15 19:01] mikeowens commented on #115
Ok thank you. There's a ton of of deps that bring libumem in. I removed them and I am going to try and build with that Makefile option and see what happens.

[2018-06-16 03:13] mikeowens commented on #115
Well I pretty much rebuilt the entire userland without libumem and manages to get emacs to build without it. Now when I run it, I get:

```emacs: Memory exhausted--use M-x save-some-buffers then exit and restart Emacs```

And it dies. I've done all I can do.

[2018-06-16 08:02] jperkin commented on #115
@richlowe any ideas?

[2018-06-16 09:07] baskerville opened #116 "[darwin] Outdated package: fntsample"
The current version is [5.2](https://github.com/eugmes/fntsample/releases).

[2018-06-16 16:20] richlowe commented on #115
@jperkin None, I'm not familiar with it failing even without libumem

[2018-06-16 18:42] mikeowens commented on #115
I'm just going to use SmartOS. I assume it works correctly there.

[2018-06-18 01:13] gkoh opened #117 "ups-nut-usb is linking to "<horizontal tab>libusb-1.0""
I'm running pkgsrc on OmniOS v11 r151022ax.
Currently on 2018Q1 with following package versions:
- ups-nut-2.6.5nb1
- ups-nut-usb-2.6.5nb3
- libusb-compat-0.1.6rc2
- libusb1-1.0.21

When running usbhid-ups directly (to debug), get this:
[code]

An ldd shows nothing weird:
[code]

Finally got the root cause with truss:
[code]

Hmm, it's looking for libusb-1.0 prefixed with ASCII 0x09 == HT == horiz

[2018-06-18 07:42] baskerville opened #118 "[darwin] Outdated package: optipng"
The current version is *0.7.7*.

[2018-06-18 08:17] baskerville opened #119 "[darwin] Missing package: pngquant"
[pngquant](https://pngquant.org/) is missing.

[2018-06-18 16:40] jfqd opened #120 "ap24-usdt is missing again in 2018Q1"
Strangely ap24-usdt is missing in every new release. Please get it back in 2018Q2 :)

[2018-06-18 16:45] jfqd opened #121 "Update passenger to 5.3.2"
Please update passenger to 5.3.2. This version fixes four CVEs: [CVE-2018-12029, CVE-2018-12026, CVE-2018- 12027 and CVE-2018-12028](https://blog.phusion.nl/2018/06/12/passenger-5-3-2-various-security-fixes/). Thanks!

[2018-06-19 10:43] mamash commented on #109
I'm on a way to a proper fix for guile, hang on.

[2018-06-19 12:36] jfqd opened #122 "ghostscript fails to generate a png from a pdf"
I am struggling to generate a png from a given pdf with ghostscript 9.23 (agpl) on SmartOS 2018Q1.

```gs -dSAFER -dBATCH -dNOPAUSE -dNOPROMPT -dMaxBitmap=500000000 -dAlignToPixels=0 -dGridFitTT=2 -sDevice=pngalpha -dTextAlphaBits=4 -dGraphicsAlphaBits=4 '-r300x300' -dFirstPage=1 -dLastPage=1 -sOutputFile=a.png a.pdf```

Outputs:

[code]

If I set ```export GS_DEVICE=display``` before, I get the f

[2018-06-19 13:18] jfqd commented on #122
FYI: ghostscript packages are installed by this mibe: https://github.com/jfqd/mi-qutic-ruby24/blob/master/packages which is based on this mibe: https://github.com/jfqd/mi-qutic-base/blob/master/packages

[2018-06-20 11:53] mamash commented on #109
I committed a fix to libguile and lilypond and the package should build on Darwin next time we refresh the macosx/trunk branch.

[2018-06-20 11:53] #109 closed, assigned to nobody

[2018-06-20 12:03] mamash commented on #121
We already did last week. I'll merge the update into the 2017Q4 LTS branch though.

[2018-06-20 12:03] #121 closed, assigned to nobody

[2018-06-20 12:05] jfqd commented on #121
Thanks a lot! Did´n realized it.

[2018-06-20 12:05] mamash commented on #120
Yep, done. It went missing because it defines apache22 as supported, but that version is no longer available in 2018Q1.

[2018-06-20 12:05] #120 closed, assigned to nobody

[2018-06-20 12:07] jfqd commented on #120
Ah, ok that was the reason. Thanks a lot!

[2018-06-20 13:03] jfqd commented on #121
I found a little bug in the build.

The gem search path for ruby 2.2 is `/opt/local/lib/ruby/vendor_ruby/2.2.0`, for 2.3 it should be `/opt/local/lib/ruby/vendor_ruby/2.3.0` and for 2.4 `/opt/local/lib/ruby/vendor_ruby/2.4.0`.

Sadly it is always `/opt/local/lib/ruby/vendor_ruby/2.2.0` (2018Q1).

[2018-06-24 12:04] mamash commented on #119
Thanks, I imported the package at graphics/pngquant today.

[2018-06-24 12:04] #119 closed, assigned to mamash

[2018-06-25 13:23] jperkin commented on #122
I looked at reproducing this, and noticed that your command option `-sDevice=pngalpha` is spelled incorrectly, it should be `-sDEVICE=pngalpha`.  With that changed it works for me.  As for why it works on macOS, this is likely because the Mac will perform case-insensitive matching.

Can you confirm?

[2018-06-25 14:17] jfqd commented on #122
Unbelievable! You are right! Thanks a lot for figuring this out!

[2018-06-25 14:17] #122 closed, assigned to nobody

[2018-06-26 06:17] jfqd opened #123 "ImageMagick should include cups dependency"
ImageMagick should include cups (or cups-base) as a dependency. The lp command from the cups (or cups-base) package is used by `identify`.

[2018-06-26 07:35] jfqd opened #124 "ImageMagick fails to generate a png from a pdf"
ImageMagick (from 2018Q1) is used by a ruby library to convert pdf-documents to png. This fails with the following error:

[code]

If I run `identify -quiet -format %wx%h a.pdf` on the command line (on any pdf) the process core dumps with the following stack trace:

[code]

With the `-verbose` flag the output shows an error in the icc profile engine:

[code]

Adding `-dDEBUG` to the `delegates.xml

[2018-07-01 20:24] mrferda opened #125 "unresolvable dependencies for gvfs"
gvfs tries to pull in talloc and samba3, these two conflict (talloc depends on samba4).
Tested on trunk.

[2018-07-02 10:31] jperkin commented on #125
Looks like this is a bug in pkgin where one of the database queries is not strict enough, it's simply matching on "samba" and getting results for samba-4.x when the dependency is on samba-3.x.  I'll try and get this in for 2018Q2 (will need some testing to ensure it doesn't cause regressions).

[2018-07-02 20:13] #43 closed, assigned to nobody

[2018-07-04 18:54] jperkin commented on #125
Fixed in https://github.com/joyent/pkgin/commit/f64932c8f7a46745094c92faff7a95539f5d00bf and pkgin 0.11.4, will be in trunk and the 2018Q2 release shortly.

[2018-07-04 18:54] #125 closed, assigned to nobody

[2018-07-12 18:46] sjorge opened #126 "[request] dev/rpcgen package?"
Can we get a package that brings back rpcgen? A few things need to to compile. Ofcourse the files can be generated on a different system and copied but thats rather annoying.

Somewhere between 2017 and 2018 base images rpcgen disappeard, perhaps a packaged based on https://github.com/thkukuk/rpcsvc-proto to bring it back optionally?

So far the following package would have a build dependancy on t

[2018-07-12 19:53] sjorge opened #127 "unfs3 probably broken"
Looks like unfs3 package is broken on Solaris

[code]

Is all that is logged and it does not appear to start.

[2018-07-12 23:20] jclulow commented on #127
This is an unfortunately complicated problem.

If you attempt to use the standard NFS port (2049), unfs3 will create a regular BSD style TCP socket and bind it to the specified port.  It will then pass that file descriptor to `svctcp_create()`, part of the RPC suite of functions.  On Solaris and illumos systems, that function comes from `libnsl.so.1` and appears to require not a BSD socket but _a

[2018-07-12 23:30] jclulow commented on #127
Note in particular that the compatibility `librpcsoc.so.1` contains what appear to be wrappers around the core RPC functionality from `libnsl.so.1`; e.g., see https://github.com/joyent/illumos-joyent/blob/master/usr/src/ucblib/librpcsoc/svc_tcp.c#L87-L168

This function calls at least `svc_xprt_alloc()` which does _not_ seem to be documented, and `xprt_register()`, which _does_.  Some more digging

[2018-07-13 04:50] sjorge commented on #127
I actually tried specifying a udp port but that did not help. This is probably related why some packages no longer build without patching because they can't find rpcgen on newer platforms. (See #126) Maybe it is worth wrapping some of the remove bits up in an optional package somehow.

[2018-07-13 18:50] jclulow commented on #127
@sjorge Specifying a port won't help, because from the perspective of the RPC routines the same thing is happening.  Whether `unfsd` attempts to use its specific default (2049), or whether you provide a specific port, in both cases `unfsd` is binding a BSD style socket and attempting to pass it to the RPC routines, which doesn't work for the reason I described above.

If instead you use the `-u` f

[2018-07-19 16:31] jfqd opened #129 "[request] libmaxminddb"
Would it be possible to include [libmaxminddb](https://github.com/maxmind/libmaxminddb/releases/)?

[2018-07-19 16:33] jfqd commented on #124
@jperkin Were you able to reproduce this issue?

[2018-07-29 08:46] jfqd opened #130 "[request] Update dovecot to v2.3.2.1"
Version 2.3.1 used by 2018Q2 has a bad bug for nfs-server usage. It cannot be used in production!

This issue was fixes in v2.3.2. Latest version is v2.3.2.1.

Would it be possible to get dovecot v2.3.2.1 into 2018Q2? Thx :)

[2018-07-29 12:00] jfqd commented on #130
Attached you can find the diff. Sorry no pull request.

[code]

[2018-07-29 12:03] jfqd commented on #130
I can confirm, that this release fixes the nasty `mail_fsync = always` bug!

[2018-08-07 14:34] priyadarshan commented on #103
I have verified `mate` and `firefox` get intalled smoothly. I also tested `vlc2`.

This issue could be closed, as far as I'm concerned.

Thank you very much for the hard work. Joyent's pkgsrc is a real boon.

[2018-08-07 14:35] jperkin commented on #103
Great, thank you!

[2018-08-07 14:35] #103 closed, assigned to jperkin

[2018-08-13 18:12] jjlawren commented on #21
After some time I've tested with a fresh `minimal-64 18.2.0` image with the same results of immediate segfaults. Any suggestions @jperkin ?

[2018-08-14 09:02] priyadarshan opened #132 "Unable to install libreoffice"
Hi,

I am using pkgsrc-2018Q2 on OmniOS install.

I see [libreoffice is available in the repository](https://github.com/joyent/pkgsrc/tree/trunk/misc/libreoffice) but I am unable to install it:

[code]

It seems the package is not available on my install,

[code]

Is there anything one needs to do to install `libreoffice`?

[2018-08-14 09:07] jperkin commented on #132
It's in pkgsrc but does not currently build on illumos.  A while back I was able to get a binary package built, but the resulting binary would crash on startup and I didn't have time to investigate further.

If someone wants to take this on it would be great.

[2018-08-14 09:17] priyadarshan opened #133 "[request] virtualbox"
Virtualbox ia [available as Solaris binary file](https://www.virtualbox.org/wiki/Downloads), but it does not install on OmniOS becasue of missing dependencies. [OpenIndiana has a wiki page about it](https://wiki.openindiana.org/oi/7.2+VirtualBox).

Virtualbox seems to be available in the pkgsrc's [WIP branch](http://pkgsrc.se/wip/virtualbox).

Would it be possible to add Virtualbox to Joyent's pkg

[2018-08-14 09:23] priyadarshan commented on #132
That kind of packaging-foo is out of my reach. There is a repository with [LibreOffice4 (and 5) available for Solaris 11.3 (x86) and OpenIndiana Hipster (& S12)](http://sfe.opencsw.org/libreoffice-4.4.7.2).

Hopefully somebody more skilled than me will be able to find a way to have it working in pkgscr too.

Thank you again.

[2018-08-14 09:28] jperkin commented on #133
To be honest it's unlikely to be something that we would work on, but it would be great to see the community provide some patches, it should certainly be possible to build.

[2018-08-14 09:33] priyadarshan commented on #133
I know, already being able to boot ISO via `bhyve` kinds of limits usefulness of Virtualbox. But Virtualbox covers a different use case that, say, Windows on bhyve.

Let's hope somebody in `pkgsrc` community will give a hand. It would be quite nice to have.

Thank you!

[2018-08-17 18:02] sjorge opened #134 "smartmontools does not handle sat autodetect peroperly"
The OpenIndiana people have an extra patch to make smartmontools work properly when detecting SATL encoding between 16 or 12 bits...

[code]

Here is the patch they use that was shared on #illumos.

It would be nice to see this included.

[2018-08-17 18:03] sjorge commented on #134
(@jperkin this is one of the confusing things... like since this is SmartOS specific... does this belong here? Or upstream with netbsd?)

[2018-08-18 01:16] robohack opened #135 "[darwin] "Symbol not found: _allow_severity" in comms/conserver8"
I'm not sure why this has apparently re-appeared, but I'm getting the following error from conserver8-8.2.1nb4.  This is very similar to the old issue with `stunnel` in your `pkgsrc-legacy` (#295).

Apparently the problem is that binaries linking with libwrap must either be linked with a static-only version of that library (not so easy with pkgsrc), or else otherwise when linking dynamically they

[2018-08-30 23:06] hakansonOHSU opened #136 "tcl-expect binary package missing?"
I'm using Joyent pkgsrc, x86_64, on macOS High Sierra.  There appears to be no sign of the "expect" binary, which I think should be in the lang/tcl-expect package.  "pkgin search expect" turns up Perl and python expect modules, but not the "real" one.

[2018-08-31 00:12] hakansonOHSU opened #137 "RCS binaries failing on Mac"
Joyent pkgsrc binaries running on macOS High Sierra, x86_64.

The RCS binaries in the "rcs-5.9.4" package are crashing on this system.  Any attempt to run a command seems to immediately halt, printing the error message "Abort", with the command's exit status being 262, which indicates signal 6, or SIGABRT.

`
$ /opt/pkg/bin/rcs log .cshrc
Abort
ORPB286 1722$ echo $?
262
$ sudo dtruss -a /opt/pkg/b

[2018-09-03 23:45] brianewell opened #138 "postgresql10-server-10.4 does not initialize the database cluster on install"
Whereas the postgresql96-server-9.6.9 package does successfully initialize the database cluster on install.  I'm assuming this is a regression, and not some new feature of PostgreSQL 10?

Instance: (base-64 18.2.0)
Pkgsrc: 2018Q2

[2018-09-04 05:53] jperkin commented on #138
We hadn't copied the INSTALL script in our build repository for the new version, this was fixed a while ago and will appear in 2018Q3.

[2018-09-04 05:53] #138 closed, assigned to jperkin

[2018-09-06 09:17] jperkin commented on #130
This was updated in pkgsrc with 834498745816e91d637868655d5f0680aa56c402, as 2018Q3 is due in a few weeks I think we'll just wait for that.

[2018-09-06 09:17] #130 closed, assigned to jperkin

[2018-09-06 09:19] jperkin commented on #91
clang/llvm 6 is available in newer releases and works correctly.

[2018-09-06 09:19] #91 closed, assigned to jperkin

[2018-09-06 09:20] jperkin commented on #80
Newer pkgin releases since 2018Q2 handle this correctly.

[2018-09-06 09:20] #80 closed, assigned to jperkin

[2018-09-06 09:21] jperkin commented on #106
This was fixed in 2018Q2.

[2018-09-06 09:21] #106 closed, assigned to jperkin

[2018-09-06 09:21] #111 closed, assigned to jperkin

[2018-09-06 09:31] jperkin commented on #137
I pushed a fix for this, look out for the rcs-5.9.4nb1 package update in a few days time.

[2018-09-06 09:31] #137 closed, assigned to jperkin

[2018-09-06 09:47] jperkin commented on #79
I pushed a fix for this, look out for ipmitool-1.8.18nb1 in the next few days.

[2018-09-06 09:47] #79 closed, assigned to jperkin

[2018-09-06 13:11] jperkin commented on #117
Thanks for finding this, sorry it took so long to fix.  This has been resolved and will be in 2018Q3.

[2018-09-06 13:11] #117 closed, assigned to jperkin

[2018-09-06 13:21] jperkin commented on #36
I tested wireshark in 2018Q2 and it appeared to work fine (seen in https://pkgsrc.joyent.com/img/illumos-desktop-2018Q2.png), so will close this out for now.

[2018-09-06 13:21] #36 closed, assigned to jperkin

[2018-09-06 14:21] jperkin commented on #98
Sorry it took so long to get to this, I've added it, it will be in 2018Q3 (or any rebuilds of prior branches).

[2018-09-06 14:21] #98 closed, assigned to jperkin

[2018-09-06 14:23] jperkin commented on #82
Should we remove this then? tools will always be 64-bit only, so if it's not worth having as it'll be useless then we should stop building it.

[2018-09-06 16:18] jperkin commented on #33
There's nothing in this ticket that describes what the issue is, so I'll close it for now until there is more information available.

[2018-09-06 16:18] #33 closed, assigned to jperkin

[2018-09-06 16:19] bahamat commented on #82
Probably.

[2018-09-06 16:23] jperkin commented on #82
Ok, done.

[2018-09-06 16:23] #82 closed, assigned to mamash

[2018-09-07 08:52] jperkin commented on #136
This is fixed and will be in the next build in a few days time.

[2018-09-07 08:52] #136 closed, assigned to jperkin

[2018-09-08 00:34] hakansonOHSU commented on #137
Glad to hear it.

Thanks and regards,

Marion

[2018-09-08 00:35] hakansonOHSU commented on #136
Thanks!

Regards,

Marion

[2018-09-08 00:47] hakansonOHSU opened #139 "showpicture needs xloadimage, which is not present"
The "showpicture" command, which is part of "metamail", wants to use "xloadimage" to display some common picture-file formats.  But xloadimage is not present after installing metamail, and I could not easily find xloadimage in a pkgsrc package.

I did find an "xli" package, which is apparently an offshoot of xloadimage.  I've installed that and put a symlink xloadimage -> /opt/pkg/bin/xli elsewher

[2018-09-09 19:40] sjorge opened #140 "[request] leofs packages"
Having the leofs package in pkgsrc would be nice.

https://github.com/leo-project/leofs I think we have all the dependancies?

[2018-09-10 12:22] baskerville opened #141 "[darwin][request] xxHash"
I discovered [xxHash](http://cyan4973.github.io/xxHash/) while trying to build dvisvgm.

[2018-09-10 13:43] mamash commented on #141
I think I had that one prepared, but never committed. Hang on.

[2018-09-10 13:48] mamash commented on #141
Done, should show up in our Darwin binary packages in a few days.

[2018-09-10 13:48] #141 closed, assigned to mamash

[2018-09-10 13:56] mamash commented on #140
In theory yes, but looking at the reqs, it doesn't seem to support Erlang 21 yet. I will give it a shot though.

[2018-09-10 20:43] mamash commented on #116
Committed, thanks.

[2018-09-10 20:43] #116 closed, assigned to nobody

[2018-09-10 20:45] mamash commented on #118
This was apparently done already.

[2018-09-10 20:45] #118 closed, assigned to nobody

[2018-09-10 20:57] mamash commented on #129
Added just now, thanks.

[2018-09-10 20:57] #129 closed, assigned to nobody

[2018-09-11 20:01] kaznovac opened #142 "[darvin] bootstrap-trunk-x86_64-20171103.tar.gz is not installing manpaths.d path config"
bootstrap installs paths.d config (10-pkgsrc) but there is no configuration for manpaths

this is super easy to fix by creating `\private\manpaths.d\10-pkgsrc` file with single line `/opt/pkg/share/man`
(just be aware that (The MANPATH environment variable will not be modified unless it is already set in the environment.) [from path_helper man file] )

p.s.
sorry if this is wrong repository i coul

[2018-09-12 08:55] jperkin commented on #142
Fixed, thanks! I will generate a new bootstrap kit with this fix in the next day or so when the current build has finished.  The correct repository would have been joyent/pkgbuild but don't worry about it too much, we can pick them up from either.

[2018-09-14 14:50] rmustacc opened #143 "Improve pkgin output when trying to install non-existent package"
I created a fresh 2018q2 base 64 zone (18.2.0). When I started there I tried to install build essential and got some confusing results. The first time I tried to install it, it said nothing was available. I asked a second time and nothing was available. I then did a pkgin ls to check, certainly none of it was installed. I asked a final time and now it thinks it can be installed. Transcript follows

[2018-09-14 15:10] jperkin commented on #143
Are those `build-essentiail` typos as typed?  I definitely need to add better error messages to distinguish between nothing to do due to the package already being installed, and the package not being available (as it wouldn't be in this case).

[2018-09-14 15:13] rmustacc commented on #143
Sigh, almost certainly. Sorry for the noise here. I didn't realize it was a typo there. I guess I retyped it correctly.

[2018-09-14 15:17] jperkin commented on #143
I'll reopen as we really should improve the output.

[2018-09-16 14:32] jumbi77 opened #144 "[request] mbuffer"
Hi, would be great if you can update mbuffer to v 20180625, see: http://www.maier-komor.de/mbuffer.html

Much thanks

[2018-09-18 09:51] mamash commented on #144
Done now, thanks for the headsup.

[2018-09-18 16:31] priyadarshan opened #145 ""Linking with cc failed" - trying to cargo compile rust-based find-fd on OmniOS"
I need to run rust-based [fd-find](https://github.com/sharkdp/fd).

Instead of bothering the super-busy Joyent/pkgsrc devs (by the way **thank you** for `ripgrep`!), I thought of compiling it using `cargo`.

On OmniOS r151026 with pkgsrc 2018Q2,

[code]
I have successfully installed `rust` and gcc,

[code]

[code]
Also, I have this as `$PATH`

[code]

Still, trying to install fd-find using [cargo]

[2018-09-18 18:12] jperkin commented on #145
The error here is this line:

[code]

This file belongs in /usr/lib and needs to be provided by the OS, I think on OmniOS it is in the "gcc-runtime" package but I am not sure.  Install the relevant package and things should work.

[2018-09-18 18:12] #145 closed, assigned to nobody

[2018-09-18 18:13] rmustacc commented on #145
On 9/18/18 11:12 , Jonathan Perkin wrote:

In illumos it's the package 'pkg:/system/library/c-runtime'.

[2018-09-19 08:23] priyadarshan commented on #145
Thank you for quick reply. After installing proper OmniOS tooling, `ld` error disappear, while  `cc failed` error remains, with no explanation. It seems there's some kind of "impedence mismatch" between pkgsrc and OmniOS native packages. I will investigate this further and report back.

[2018-09-20 10:17] jperkin commented on #143
This was fixed in joyent/pkgin@9b6b39f88304c06378d57d86235ad9fc901a2d29 and released in 0.11.5 which will be available in 2018Q3.

[2018-09-20 10:17] #143 closed, assigned to nobody

[2018-09-20 10:43] #144 closed, assigned to mamash

[2018-09-23 12:05] sjorge commented on #74
I also hit this bug while trying to setup a quick test kdc

[code]

[2018-09-28 14:05] dertuxmalwieder opened #146 "devel/subversion should not require apache2"
I would like to run SVN on my OmniOS server. However, `pkgin in subversion` pulls in the Apache server which is not quite useful on servers which run `nginx`. You might want to make that optional.

[2018-10-03 23:29] mrferda opened #147 "Build x264-devel with asm enabled?"
Currently x264-devel is built with
--disable-asm
I built a version with asm enabled and got a 4x speed increase (admittedly a different x264 version and newer gcc). The output file didn’t have any visible artifacts.
If I understand the following link correctly OpenIndiana also builds x264 with asm enabled.
https://github.com/OpenIndiana/oi-userland/blob/oi/hipster/components/encumbered/x264/Makefi

[2018-10-03 23:41] jperkin commented on #147
They use an older version which we also previously enabled asm for.  I'll see if I can get some time to fix the assembly in the newer release that we use.

[2018-10-06 14:48] priyadarshan commented on #145
I am back as promised. It turns out it was not a missing dependency, but rather an issue with [nix missing Illumos/Solaris Bindings](https://github.com/nix-rust/nix/issues/935).

Since I am able to compile smoothly other rust apps, like [ripgrep's latest  version](https://github.com/BurntSushi/ripgrep), I hope that issue will solve this as well.

[2018-10-07 10:03] baskerville opened #148 "[darwin] Missing XXH32 feature in xxHash?"
When I try to compile `dvisvgm`, the configuration step stops with the following:
[code]

[2018-10-09 07:11] sjorge opened #149 "[request] include git-cola"
https://github.com/git-cola/git-cola

[2018-10-12 08:01] jfqd opened #150 "Please update SpamAssassin to 3.4.2 to fix CVEs"
Would it be possible to update SpamAssassin in 2018Q3 to 3.4.2 which fixes the following CVEs: CVE-2017-15705, CVE-2016-1238, CVE-2018-11780 & CVE-2018-11781?

Release notes are here: http://mail-archives.apache.org/mod_mbox/spamassassin-announce/201809.mbox/%3cc57c0f41-742c-3c3e-249c-ae2614bf0d7d@apache.org%3e

[2018-10-12 08:07] jfqd commented on #140
@Licenser has a pkgsrc-build for leofs: https://docs.project-fifo.net/docs. Maybe he is willing to share :)

[2018-10-13 19:53] Licenser commented on #140
The pgk build stuff for leofs is here: https://github.com/project-fifo/leofs/tree/master/pkg feel free to re-use whatever helps!

[2018-10-14 11:10] jfqd opened #151 "beats package is missing in 2018Q3"
Might it be possible to get the beats package back in 2018Q3?

[2018-10-18 01:53] jcea commented on #106
Verified. Thanks!

[2018-10-18 01:53] jcea commented on #101
Verified. Thanks!

[2018-10-18 21:28] jfqd opened #152 "php 7.2 errors in 2018Q3"
After updating our [matomo mibe build](https://github.com/jfqd/mi-qutic-piwik) to latest pkgsrc 2018Q3 with php 7.2 I got the following error (extracted from lots of errors for all the other php modules):

[code]

Do these packages need to be recompile?

[2018-10-22 10:04] bushchannelstepper commented on #46
Yes please...running a VM to work around this for now isn't the best

[2018-10-25 16:04] jperkin commented on #150
This is now available.

[2018-10-25 16:04] #150 closed, assigned to jperkin

[2018-10-25 16:20] jfqd commented on #150
@jperkin: Thx a lot Jonathan!

[2018-10-30 17:03] hoewweken opened #154 "help make editors/texstudio compile with a static_cast<float>"
Texstudio shows an error while compiling:

The patch is easy, add a static_cast<float> in src/pdfviewer/PDFDocument.cpp

grep log10 pdfviewer/PDFDocument.cpp
                int maxDigits = 1 + qFloor(log10(static_cast<float>(pdfWidget->realNumPages())));

Please integrate this..

[2018-10-31 06:41] hoewweken commented on #154
after patching this the link fails with
ld: fatal: -p option is incompatible with building a static object (-dn, -r, --relocatable)

there is no "-p" option in the respective commandline, so i don't know how to search for a possible fix of this..

[2018-10-31 12:16] jperkin commented on #154
I've fixed this in trunk, thanks for the report!

[2018-10-31 12:16] #154 closed, assigned to jperkin

[2018-10-31 20:01] hoewweken commented on #154
I'm sorry, but its not done yet..

With hunspell enabled (i think it is by default) we hace two replace NULL with FLAG_NULL tow times in hunspell/affentry.hxx

grep NULL work/texstudio2.12.6/hunspell/affentry.hxx
                            const FLAG needflag = FLAG_NULL);
  struct hentry *      check_twosfx(const char * word, int len, char in_compound, const FLAG needflag = FLAG_NULL);

[2018-10-31 22:21] hoewweken opened #155 "help hplip compile"
Hello!

In order to compile hplip on Openindiana we have to patch
work/hplip-3.18.5/prnt/hpcups/HPCupsFilter.cpp

1) Add include:
#include <sys/systeminfo.h>

2) Change function call of  "getdomainname"

   //getdomainname(m_JA.domain_name, sizeof(m_JA.domain_name) - 1);
    sysinfo (SI_SRPC_DOMAIN, m_JA.domain_name, sizeof(m_JA.domain_name) - 1);

BUT it will not link because of
ld: fatal: librar

[2018-11-01 08:46] hoewweken commented on #155
Reference:

ab-initio.mit.edu/octave-Faddeeva/gnulib/lib/getdomainname.c

[2018-11-01 09:50] jperkin commented on #154
Make sure you rebuilt x11/qt5-qtbase, I made a change there to fix the -p issue.  As for the hunspell problem, I don't see that (and the package doesn't use PKG_OPTIONS), so will need further details on how to trigger it.

[2018-11-02 09:38] jfqd opened #156 "Passenger v5.3.3 in SmartOS 2018Q3 is not working"
I tried passenger-5.3.3 with ruby24 and ruby25 in a SmartOS 2018Q3 minimal 64bit image. Both packages are failing to server ruby webapps with the following error in the Apache error.log, sadly no core dumps were produced.

[code]

May that have anything to do with the latest gcc updates? passenger-5.3.2 in 2018Q2 is working fine.

[2018-11-02 09:54] jfqd commented on #156
And is that the reason why passenger is not in trunk?

[2018-11-02 13:09] jfqd commented on #156
I did a build for latest passenger version 5.3.5 for ruby25 (ruby25-passenger and ap24-ruby25-passenger). Build went fine, but packages are failing to server ruby webapps with the same error message.

So maybe it is an gcc7 related issue?

[2018-11-02 13:11] jfqd commented on #156
@mamash Do you haven idea how to fix it?

[2018-11-05 05:15] jubalskaggs opened #157 "latest htop 2.2.0 removes dependency for lxproc"
Hi joyent - is it possible to get the latest version of htop (2.2.0) available in pkgsrc?  The latest version includes native illumos support and avoids the need to have /system/lxproc in place.

As seen here: http://hisham.hm/htop/index.php?page=downloads

(I'm compiling and installing it with default build options and it's working like a charm)

[2018-11-05 07:44] jperkin commented on #157
Sure, I will take a look at this, thanks for letting us know!

[2018-11-05 19:39] kimono-koans opened #158 "[darwin] Error on upgrade of perl-5.28.0nb1"
Contents of /var/db/pkgin/pkg_install-err.log:

---Nov 05 13:35:15: upgrading perl-5.28.0nb1...
pkg_add: Can't open +CONTENTS of depending package p5-Locale-libintl-1.29
pkg_add: 1 package addition failed

[2018-11-05 22:12] jperkin commented on #157
Updated in https://github.com/NetBSD/pkgsrc/commit/357a37c54bffdd3728a3ddb42f3e521171382b38

[2018-11-05 22:12] #157 closed, assigned to jperkin

[2018-11-08 13:19] baskerville opened #159 "[darwin] Imagemagick wasn't linked against liblqr"
If I try to use the `-liquid-rescale` operator, I get the following error:
[code]

[2018-11-15 01:49] khoan opened #160 "[darwin] [request] update hugo static site generator"
current version is 0.51 https://github.com/gohugoio/hugo/releases

thanks.

[2018-11-30 10:37] luhux opened #162 "keynav"
please include keynav

https://www.semicomplete.com/projects/keynav/
https://github.com/jordansissel/keynav

[2018-12-03 15:12] jperkin commented on #151
This is available in the trunk package set which I'd recommend upgrading to.  If you specifically require it in 2018Q3 I can look to backport the fix.

[2018-12-03 15:34] jperkin commented on #160
This was updated in pkgsrc a few weeks ago (https://github.com/NetBSD/pkgsrc/commit/7057a400cc9c33c20f52a4742985b47f33d1ed84), however the macOS bulk builds are a little behind at the moment unfortunately.  We have some new hardware coming online soon which should help.

[2018-12-04 11:34] jfqd commented on #151
Thx a lot Jonathan! Will switch to trunk package soon. So no backport needed :)

[2018-12-04 11:34] #151 closed, assigned to jperkin

[2018-12-05 08:58] jfqd commented on #156
passenger is missing in [trunk](https://pkgsrc.joyent.com/packages/SmartOS/trunk/x86_64/All/).

[2018-12-10 14:56] jfqd opened #163 "Please update Powerdns to fix CVE-2018-10851"
Would it be possible to build Powerdns for trunk in latest version 4.1.5 to fix CVE-2018-10851? Thx :)

[2018-12-10 14:59] jfqd commented on #151
@jperkin issue #156 hold me back switching to trunk :(

[2018-12-11 07:34] yb66 opened #164 "Openssl include symbolic link is self referential"
Hi there,

This is for openssl-1.0.2p, I noticed a rogue symbolic link.

[code]

My fix:

[code]

I've no idea how to change the package or even if this is the right place to bring up this issue so if it's the wrong place just let me know (and perhaps point me in the right direction:)

Regards,
iain

[2018-12-11 20:38] baskerville opened #165 "[darwin] Missing package: valgrind"
Searching for `valgrind` returns no results.

[2018-12-12 15:08] smokris opened #166 "Add gawk to tools repo"
I'd like to be able to use `gawk` on the SmartOS GZ, since it has some features beyond the GZ's built-in Aho/Kernighan/Weinberger `awk`, and the pkgsrc-provided `nawk`.

[2018-12-14 18:22] jperkin commented on #166
Done, this will be in the next trunk build, probably tonight.

[2018-12-14 18:22] #166 closed, assigned to jperkin

[2018-12-17 16:30] smokris commented on #166
Great, thanks!

Today I tried to install it, but it isn't finding it:
[code]
Is there anything else I need to do to make this work?  (Or has the next trunk build not yet run?  Is there a way to view the status of that?)

[2018-12-17 16:44] jperkin commented on #166
Sorry!  It looks like I added it to the wrong package list.  I've fixed this and it will be in tonight's build (hopefully!).

There's currently no way to view the progress of builds, it's a private Jenkins instance that I don't want to open up to the Internet for obvious reasons, but I would like some way of exposing the results at some point.

[2018-12-17 20:31] jperkin commented on #166
Try now.

[2018-12-17 20:38] smokris commented on #166
I'm able to install it now, and it works fine.  Thanks!

[2018-12-21 16:46] lschweiss-wustl commented on #100
Still broken on 20181018 release:

[code]

[2018-12-22 01:28] #155 closed, assigned to nobody

[2018-12-22 01:28] #159 closed, assigned to nobody

[2018-12-22 08:52] baskerville opened #167 "[darwin] Outdated package: sdl2"
The current *SDL2* version is **2.0.9**.

[2019-01-03 15:13] jfqd opened #170 "munin version 2 is missing in trunk"
Munin packages version 2 are missing in trunk. Would it be possible to get munin-node, munin-common and munin-master back in trunk? Thx!

[2019-01-03 15:17] jfqd commented on #152
Think not only for us this issue is critical, because PHP 7.0 is out of support and 7.1 only gets security updates.

[2019-01-05 20:09] jfqd commented on #152
Here is the related document of [supported php versions](https://secure.php.net/supported-versions.php).

[2019-01-09 06:09] jfqd commented on #163
Will this be fixed as a backport to 2017Q4 LTS?

[2019-01-14 19:14] papertigers opened #171 "rust not finding libssl properly"
Newer versions of `reqwest` now build on illumos thanks to the removal of a dependency attempting to use reuseport. However, when trying to use the library you are met with an immediate crash because ld can't find libssl.so.1.0.0

Example repo that demonstrates the issue:
https://github.com/papertigers/sslfailure-example

[2019-01-14 19:19] papertigers commented on #145
@priyadarshan btw here are the missing pieces in libc needed by nix:
https://github.com/papertigers/libc/commit/6b9b20748a88304312bf900e2889cae72cbd40f1

I have also hacked nix to a state where it can compile and I was able to successfully build fd-find on illumos.  It seems to function correctly and all of its tests pass via `cargo test`.

Next steps:
- Validate the libc crate changes look sane.

[2019-01-14 19:33] papertigers commented on #171
Notes about the env:
- https://pkgsrc.joyent.com/packages/SmartOS/trunk/x86_64/All
- rustc 1.31.1 (rust-1.31.1nb1)

Tested with gcc versions:
- gcc (GCC) 4.9.4
- gcc (GCC) 7.4.0 (gcc7-7.4.0)

[2019-01-15 14:49] priyadarshan commented on #145
Thank you so much for the enormous work.
I am sure many, including [the open nix issue](https://github.com/nix-rust/nix/issues/935) will benefit.

[2019-01-16 10:06] jperkin commented on #171
The bulk build is still running so the fixed packages aren't available yet, but they have been built so I was able to test that this has been fixed:

[code]

I'll close the ticket when the packages have been published.

[2019-01-16 12:53] drscream opened #172 "SmartOS, trunk/tools should contains python3"
Because the python 2.7 will be no longer maintained / supported by the end of the year it would be nice if python 3 is provided in `trunk/tools` which would be usable in the Global Zone.

https://pythonclock.org/

[2019-01-16 18:35] jperkin commented on #171
All done.

[2019-01-16 18:35] #171 closed, assigned to jperkin

[2019-01-25 03:51] bahamat opened #173 "py*-virtualenv missing form 2018Q4"
2018Q4

[code]

vs 2017Q4

[code]

[2019-01-25 09:12] jperkin commented on #173
Looks to be broken by the multiarch patch: http://us-east.manta.joyent.com/pkgsrc/public/reports/2018Q4/x86_64/20190118.1630/py27-virtualenv-16.1.0/configure.log

I'll take a look.

[2019-01-26 00:10] jperkin commented on #173
This is now fixed.

[2019-01-26 00:10] #173 closed, assigned to jperkin

[2019-01-28 20:58] jperkin commented on #156
Could you try this again in either trunk or 2018Q4?  I think this was caused by the GCC exceptions issue that I've fixed in those releases.  Thanks.

[2019-01-28 21:02] jperkin commented on #172
Yeh this is reasonable, I've added lang/python37, it should be in tonight's build.

[2019-01-28 21:02] #172 closed, assigned to jperkin

[2019-01-28 21:08] jperkin commented on #163
This is available in trunk and 2018Q4.  I'll see about backporting to 2017Q4.

[2019-01-28 21:10] jperkin commented on #170
Ah sorry, I assumed that the versions in pkgsrc had now made the versions from wip obsolete, but they appear to be older.  I'll see about updating the ones in pkgsrc to avoid this.

[2019-01-30 08:23] jfqd commented on #163
Good news! Thx a lot @jperkin!

[2019-01-30 19:20] mikeowens opened #174 "Elixir does not build"
[code]

From what I can tell, /bin/sh (ksh93) does not like stepping into directories called 'lib' which is a mystery to me. For example:

[code]

[2019-01-30 19:24] jperkin commented on #174
I can't reproduce the "cd lib" failure, is there something in your profile that would be causing this?

[2019-01-30 19:35] mikeowens commented on #174
Well this doesn't happen in global zone either. So maybe I screwed up my build zone. I will create a new zone from scratch and start over.

[2019-01-30 21:08] mikeowens commented on #174
Yes there was something weird with my profile. I am not sure what but I have a new clean environment. The original issue I was having that lead to this cropped up however and it was this a warning:

[code]

This also crops up in RabbitMQ build. However my current local should be UTF-8:

[code]

Is this warning innocuous or is there something else I need to do to make it happy?

[2019-01-31 18:07] #174 closed, assigned to jperkin

[2019-02-06 12:49] sjorge opened #175 "python3.7 throws exceptions about missing getifaddrs"
[code]

[2019-02-13 11:29] jfqd commented on #170
This would be great! I cannot switch to trunk and 2018Q4 if munin2 is missing :(

[2019-02-19 17:20] jfqd commented on #156
@jperkin Passenger seems to be working fine in trunk. Deployed a big app without any issues.

But the packages are missing in 2018Q4. Are you able to backport them?

So only issue #170 stops me from migrating to trunk.

[2019-02-19 17:20] #156 closed, assigned to jperkin

[2019-02-19 17:23] jfqd commented on #170
@jperkin: @wiedi created a ticket for it: https://github.com/joyent/pkgbuild/issues/16

[2019-02-19 17:25] jfqd commented on #156
Sorry, forgot to say thank you Jonathan!

[2019-02-19 19:13] sjorge opened #177 "[request] openzwave package for SmartOS"
https://github.com/OpenZWave/open-zwave

I can get it to compile but I cannot get it to install, it keeps erroring out but if I copy everything manual it works. So it might have some particular ugly build hacks that are needed.

[2019-03-10 13:29] sjorge commented on #177
There is now also a fix for node-openzwave-shared if the libraries are installed in /opt/local prefix.

I did manage to build it outside of pkgsrc for now doing this:
[code]

It needs a lot of (build) dependencies though that I have forgotten :(

[2019-03-11 07:15] jfqd commented on #152
Any updates on this? Yesterday I tested php 7.3 on trunk: same error as with php 7.2 on 2018Q3!
So only php 7.1 can be used with SmartOS! php 7.2 and php 7.3 are broken.

[2019-03-11 16:27] jperkin commented on #152
This is now fixed and will be in tonight's trunk build.

[2019-03-11 16:27] #152 closed, assigned to jperkin

[2019-03-11 19:01] jperkin commented on #167
2.0.9 is now available.

[2019-03-11 19:01] #167 closed, assigned to jperkin

[2019-03-11 19:05] jperkin commented on #107
This appears to work for me, at least installing the emacs25 package and running "emacs" in an Xquartz session opens a window that appears to work.  I'm not an emacs user so can't verify that everything works as expected, but I think this is what you requested.

[2019-03-11 19:06] jperkin commented on #104
This was fixed in https://github.com/NetBSD/pkgsrc/commit/7fb398b102d322254494beb6c739572833d52fd6

[2019-03-11 19:06] #104 closed, assigned to jperkin

[2019-03-12 18:30] robohack commented on #107
Hi Jonathan, thanks for looking at this issue!

Unfortunately the commits you've made which reference this issue don't seem to have anything to do with it -- perhaps a typo in the issue number?

Also, these recent builds (shown from the directory listing) still use the `nextstep` option and don't actually work with X11.  When I start emacs after upgrading it from your servers with `pkgin` the emac

[2019-03-12 18:41] jperkin commented on #107
Ah ok, I see - I hadn't tried running it outside of an X11 session.  I'll take another look.

The irrelevant commits are an unfortunate side-effect of GitHub auto tagging issues whenever the issue ID is mentioned in a commit, which happens frequently with pkgsrc commits that include changelogs.  I've had a bug open with them for many years asking for an option to limit this to "<org>/<project>#iss

[2019-03-15 07:21] grylem opened #178 "[request] pftop for Darwin"
please add pftop to Darwin package

[2019-03-15 09:08] jperkin commented on #178
This package failure is here: http://us-east.manta.joyent.com/pkgsrc/public/reports/Darwin/trunk/x86_64/20190311.0823/meta/report.html

[code]

This package seems pretty OS-specific, and isn't available in either Homebrew or MacPorts, possibly for that reason.  Are you sure it is appropriate for macOS?

[2019-03-15 09:52] grylem commented on #178
pfvar.h can be found in https://opensource.apple.com in
xnu-$version.tar.gz
for example for High Sierra is
https://opensource.apple.com/tarballs/xnu/xnu-4570.71.2.tar.gz

Yes. macOS has pf, pfctl like the NetBSD, OpenBSD etc.

[2019-03-15 12:25] jperkin commented on #178
Ok, interesting.  However, I'm not sure this is going to help.  I had a go at compiling this with the xnu headers, but it's not just pfvar it needs, it also needs all the altq bits, all the pktsched bits, then delves into a lot more sys/ headers, at which point I gave up for now.

Even if I manage to get it to build, this is going to be highly version-specific, and I can't see how it's going to wo

[2019-03-16 09:03] grylem commented on #178
I tried but my knowledge is not enough.
maybe you will have time and desire and you will get better.
Anyway thanks

[2019-03-16 10:59] jfqd commented on #152
Can confirm that it is working now :)

[2019-03-16 14:40] jfqd opened #179 "Please include dnsdist in trunk"
`dnsdist` package is missing in trunk and 2018Q4. Would it be possible to bring it back? Thx!

[2019-03-16 14:40] #163 closed, assigned to jperkin

[2019-03-16 15:50] sjorge opened #180 "Import mosquitto into upstream"
As mentioned on #SmartOS, here is the mosquitto package.
@jperkin all mentioned issues are fixed and pkglint is happy. I've also cleaned up one of the patches to make it more platform agnostic.

[code]
Is the only error remaining as I namespace all my package in pbd, this should probably live under net once upstreamed.

Source available from https://github.com/sjorge/pkgsrc-blackdot/tree/master/mo

[2019-03-16 17:46] bahamat opened #181 "openldap-server buckles under load due to file descriptor limit"
http://www.openldap.org/faq/data/cache/1126.html

OpenLDAP has a hard coded limit limit of 4096 file descriptors. Documentation suggests using the following compile time flag:

    env CPPFLAGS="-DOPENLDAP_FD_SETSIZE=8192" ./configure

This should (based on what I'm reading) work at least as far back as 2.2.30. Older versions may need to use the following instead.

    env CPPFLAGS="-DFD_SETSIZE=8

[2019-03-16 17:46] bahamat commented on #181
I need this back ported to 2017Q4.

[2019-03-20 06:54] jfqd opened #183 "CVE fixes for Ruby and PowerDNS"
Ruby and PowerDNS have assigned CVEs. Would it be possible to include the latest versions in trunk?

- Ruby 2.5.4 und 2.6.2
- PowerDNS Authoritative Server 4.1.7

[2019-03-20 11:09] jfqd commented on #183
Ruby 2.5.5 was released today, so this should be used instead of 2.5.4.

[2019-03-30 19:34] russhan opened #185 "py27-augeas missing from trunk"
py27-augeas-0.5.0.tgz has existed for a couple of years but not in trunk.

[2019-04-01 16:09] russhan commented on #185
I forgot to specify my issue is for SmartOS.  I don't know about the other platforms.

[2019-04-02 19:31] bahamat opened #186 "ruby-chef broken"
In a global zone, with pkgsrc-tools

[code]

But...

[code]

Meanwhile, in a zone:

[code]

But...

[code]

This happens with 2017Q4 and 2018Q4.

[2019-04-03 09:38] jperkin commented on #186
You may be able to get away with editing the specs to remove the specific version constraint, often it will just work with newer versions anyway.

As for updating the package to work against the newer ruby libraries, they're now shipping IPS packages instead of the SVR4 ones so this will be more difficult and probably mean we'll need to roll our own.  This may take a while.

[2019-04-03 11:34] bahamat commented on #186
Do you mean that this error is being thrown because of the spec directory in my cookbooks?

[2019-04-03 11:40] jperkin commented on #186
No, the specs in chef. So for example, this error:

[code]

If you search through the chef files for where it specifies `~> 4.2` which from memory means 4.2 or newer but not greater than 4.x, and change it to a value where 5.x (maybe just `>= 4.2` I think) is permitted then you might it just works.  I've done this before with various packages, developers tend to be on the conservative side when sp

[2019-04-03 14:30] brancoliticus opened #187 "[request] xboard for OpenIndiana"
Since the game Nethack is available I figure it wouldn't be much of a stretch for me to request the chess client xboard.

[2019-04-04 17:44] russhan commented on #185
I had a direct download of certbot that prompted the attempt at downloading augeas.  I just noticed there's a py37-certbot package.  I downloaded and installed that and my certificate is renewed.

So I, personally, don't need this resolved.

[2019-04-11 07:30] jfqd commented on #179
@jperkin ist there a special reason why `dnsdist` package is missing in trunk and 2018Q4?

[2019-04-11 23:03] isaacdavis opened #189 "copy-paste bug in bind smf start method"
In the start method for the `bind` SMF service, [this line](https://github.com/joyent/pkgsrc/blob/ca643f6a31261f62a31e23f2ce383732ff911ceb/net/bind910/files/smf/named.sh#L114) appears to have been copy-pasted from the case statement immediately above it. The `-t` flag should be removed -- the line should instead read:

     checkopts="${checkopts} ${value}"

This error also exists in `bind` versio

[2019-04-13 21:51] idodeclare opened #190 "perl-5.28.1 and p5-Net-SSLeay"
Hello,

I am trying to refresh perl-5.28.1, but `pkgin` fails with the following error from `/var/db/pkgin/pkg_install-err.log`:

[code]

Sorry I haven't been able to find any troubleshooting tip for a `+CONTENTS` error.

I see from `pkgin search` that there is p5-Net-SSLeay-1.85nb1. Does that "nb1" suffix mean a version mismatch when perl 5.28.1 looks for p5-Net-SSLeay-1.85?

Thank you for your a

[2019-04-15 13:24] cdorbell2 opened #191 "new release of the bootstrap for el7"
Hello
i'm not sure if it's the good place for request this, it is possible to create a new release of the bootstrap for el7 ?

https://pkgsrc.joyent.com/packages/Linux/el7/bootstrap/
the last version is bootstrap-trunk-x86_64-20170127.tar.gz

this version have some problem for to be used behind a proxy .

Rgds

[2019-04-15 14:51] sleepnmojo opened #192 "Missing package: percona-server in 2018Q4 and 2019Q1"
I can't find percona-server in 2018Q4 or 2019Q1.  It exists in 2018Q3.

[2019-04-17 20:22] mikeowens commented on #115
An update regarding this issue: Emacs 27 and later no longer has this problem. The cause seemed to be the aging "dumper" in Emacs. It does some shifty things with memory which libumem would not tolerate. In version 27 they replaced the old dumper with a complete rewrite. So far from my testing I have not seen any crashes. Details on the new portable dumper are here: https://dancol.org/pdumperpres.

[2019-04-22 03:35] despair86 commented on #133
on oi-hipster, the vbox in IPS is now _almost_ up-to-date: v6.0.4

[2019-04-22 15:44] priyadarshan commented on #133
If it may help, [OmniOS added Virtual Box](https://github.com/omniosorg/omnios-extra/tree/master/build/virtualbox) towards the end of last year, still on 5.2.28 though.

[2019-04-23 09:21] luxianjun opened #193 "Cannot install bossa, there are many errors,how to solve?"
I'm trying to install bossa,but there are many build errors:
/usr/include/bits/stdio2.h: In function 'void GTM::gtm_verror(const char*, va_list)':
/usr/include/bits/stdio2.h:124:1: error: inlining failed in call to always_inline 'int vfprintf(FILE*, const char*, __gnuc_va_list)': function body can be overwritten at link time
 vfprintf (FILE *__restrict __stream,
 ^
../../../gcc-4.9.4/libitm/util.c

[2019-04-23 09:26] luxianjun commented on #193
My OS is CentOS7.6 on ARM64,. Could anyone help me to solve it? Thanks!.

[2019-04-30 13:21] jperkin commented on #181
Can I confirm this is with the x86_64 set? The code appears to be written such that it ignores the operating system default (which in our case would be 64k and plenty), but it's hard to tell as it depends on include ordering.

[2019-05-01 06:28] jclulow opened #195 "GNU uname should identify OS as illumos"
As of [bug 1956](https://www.illumos.org/issues/1956), the `uname` binary provided by the operating system will report `illumos` for `uname -o` instead of the traditional `Solaris`.  Unfortunately in a pkgsrc-based zone, at least under some conditions the GNU `uname` appears first in `PATH`.  A naive script may run `uname -o` and see the `Solaris` value.

We should patch the pkgsrc copy of `uname`

[2019-05-01 08:12] sjorge commented on #180
Just for my future self (or if anyone picks it up earlier)

Feedback from IRC:
- [ ] ask on #pkgsrc for non SmartOS folks to test
- [x] fix `#ifdef _SunOS_` as it should not work (but does?) to use `__sun` (no longer needed on 1.6.x)
- [x] patch in `${PKGMANDIR}` into CMakeLists.txt instead of using Makefile to move them. (no longer done in 1.6.x)

[2019-05-02 11:55] jperkin commented on #181
Fixed in https://github.com/NetBSD/pkgsrc/commit/01a9f8bc69186ba7d18ad8a74d6c8fa620fc2b22, will backport to 2017Q4.

[2019-05-02 12:58] wiedi commented on #195
A long time ago I played with this and had the following:

[code]

But that is lazy way to fix it as it would be wrong when using pkgsrc on Oracle Solaris.
Propably should just try to shell out to `/usr/bin/uname -o` now?

[2019-05-02 13:08] jperkin commented on #195
Older Solaris releases don't support `-o` so we'd need to handle that, but yeh that seems the simplest way to do it.

[2019-05-02 13:10] jperkin commented on #195
Note that I will need to override this for our builds anyway as they are performed on a platform prior to [1956](https://www.illumos.org/issues/1956).

[2019-05-02 18:15] jperkin commented on #195
Fixed in trunk.

[2019-05-02 18:15] #195 closed, assigned to jperkin

[2019-05-03 07:14] jperkin commented on #181
openldap-client-2.4.45nb1 is now available for 2017Q4 x86_64.

[2019-05-03 07:14] #181 closed, assigned to jperkin

[2019-05-03 09:26] bahamat commented on #181
What about openldap-server?

[2019-05-03 16:07] jperkin commented on #181
The client package provides libldap, which the server links against.

[2019-05-03 16:51] bahamat commented on #181
OK, great. That should work.

Thanks!

[2019-05-04 17:15] jfqd commented on #183
Ruby 2.5.5 found in trunk! Thx a lot :)

But PowerDNS is still version 4.1.6. Latest version is 4.1.8.

And dnsdist (#179) is still missing. So we still cannot move to trunk.

[2019-05-12 19:47] sjorge opened #196 "Missing package since 2018Q4: dovecot-pigeonhole"
As the subject says, we're missing dovecot-pigeonhole after 2018Q4, it was hinted on IRC it might have to do with -fPIC but that turned out not to be enough.

File a ticket to not forget about it.

[2019-05-12 19:49] sjorge opened #197 "Update rspamd 1.8.3 (Were missing 10 CritFixes) or maybe even 1.9.3"
Currently the newest rspamd is 1.8.0, there are a few minor release in the 1.8.x series that are marked CritFix. We can probably update to the newest 1.8.x release.

There is also a 1.9.x release that has a bunch of new and reworked stuff, not sure if it compliles.

[2019-05-14 05:43] jfqd opened #198 "Update sqlite to v3.28.0 [CVE-2019-5018]"
Please update sqlite to v3.28.0 cause of CVE-2019-5018 - a [remote code execution](https://www.talosintelligence.com/vulnerability_reports/TALOS-2019-0777) issue.

[2019-05-14 05:47] jfqd opened #199 "Update php71, php72, php73 to latest versions"
Please update php71, php72, php73 to their latest versions (7.1.29, 7.2.18, 7.3.5) which are all security releases.

[2019-05-14 05:50] jfqd commented on #183
The PowerDNS Authoritative Server 4.1.7 is still vulnerable. Please update to the latest version 4.1.8.

[2019-05-16 06:09] drscream commented on #192
I would like to add that `percona-server` versions has been build in January for 2018Q4, but it looks like they have been removed from https://pkgsrc.joyent.com. Is there any known issue why they have been removed?

@sleepnmojo not sure if that might be helpful for you, but they are still available at our mirror: https://pkgsrc.smartos.skylime.net/packages/SmartOS/2018Q4/x86_64/All/

[2019-05-18 13:04] bahamat opened #200 "package request for additional ruby*-jekyll plugins"
The following plugins are available for github pages, but not available in pkgsrc. (see <https://help.github.com/en/articles/configuring-jekyll-plugins#default-plugins>).

Default plugins

* jekyll-github-metadata
* jekyll-relative-links
* jekyll-optional-front-matter
* jekyll-readme-index
* jekyll-default-layout
* jekyll-titles-from-headings

Optional plugins

* jekyll-avatar
* jekyll-include-cac

[2019-05-19 04:20] sleepnmojo commented on #192
Thanks.  I didn't see them in the main repo, so I thought there was an issue with them.  Looks like it is the main repo that has the issue.

[2019-06-03 10:32] jfqd opened #203 "node v10.16.0 in trunk not usable"
Latest node version 10.16.0 in trunk, build date: '01-Jun-2019 01:28', is failing to start:

[code]

[2019-06-03 10:34] jfqd commented on #199
Thanks for the updates!

[2019-06-03 10:34] #199 closed, assigned to nobody

[2019-06-03 10:35] jfqd commented on #183
Thanks for the updates!

[2019-06-03 10:35] #183 closed, assigned to nobody

[2019-06-03 10:37] jfqd commented on #198
Thanks for the update!

[2019-06-03 10:37] #198 closed, assigned to nobody

[2019-06-03 10:38] jfqd commented on #170
@jperkin will munin2 be back in trunk?

[2019-06-10 19:27] jacques commented on #192
Thanks @drscream.

[2019-06-10 19:30] jacques commented on #192
@mamash any chances that this can be built on 2019Q1?

[2019-06-14 13:30] jperkin commented on #192
These are now available again in 2018Q4 (mirrors will have them within the next hour or so).

[2019-06-14 13:30] #192 closed, assigned to jperkin

[2019-06-19 02:45] jcea opened #207 "Packaged Python doesn't compile extensions with thread-local "errno""
pkgsrc 2019Q1.

I have spend quite a few hours triaging this.

Packaged python, when installing new C-based python packages using "pip install", doesn't use "thread local" "errno". Result: erratic behavior in multithread applications. I have solved it manually adding "-D_REENTRANT" when compiling new extensions to be used in multithread python code.

The relevant code lives in "/usr/include/errno.

[2019-06-19 09:00] jperkin commented on #207
While unfortunate, I'm not convinced this is a bug.  The illumos compilation environment is set up so that users are expected to add `-D_REENTRANT` when targetting a multithreaded environment.  To quote the standard section of text that appears in various manual pages on this:

[code]

Ordinarily this is hidden behind the `-pthread` compiler flag that is used whenever multithreaded applications ar

[2019-06-19 11:00] jperkin commented on #189
Thanks, sorry it's taken so long to integrate this.  I can't backport to 2018Q1 as it's long out of support, but I will backport these to 2018Q4.

[2019-06-19 11:55] jperkin commented on #203
I couldn't reproduce this, was it reproducible for you?  It has been rebuilt with a newer GCC though so I don't have the exact bits that you may have used.

[2019-06-19 13:29] jlevon commented on #207
@jperkin FYI the _POSIX_C_SOURCE pedantry was fixed last year via:

9812 headers should be free of SUS compiler tyranny

It's been a while since I was in Python land, but IIRC there is a Pyconfig.h header that gets included when compiling Python extensions. That is supposed to reflect the default compilation environment to use. Is it possible that we can define _REENTRANT (or POSIX_C_SOURCE+EXTENS

[2019-06-19 14:44] jcea commented on #207
I know about "-mt", I have been fighting this kind of issues since 1996 :-).

But Python is special. I elaborate.

When you compile Python, it keep around compilation details about how to compile future external modules to be "consistent" and "compatible" with the installed python interpreter.

What we have here is a Python interpreter compiled with thread support (good!), but it doesn't know how

[2019-06-19 14:49] jperkin commented on #207
To be clear I was never advocating this be done system-wide, only python-wide. If you are certain that adding `-D_REENTRANT` to the default python build flags will not impact any python software then I'm certainly happy to do that and it's easy enough for me to do, I just do not have the confidence that you have that it won't cause issues in ways that might be incredibly difficult to diagnose.

@j

[2019-06-20 12:42] jperkin commented on #189
These have been backported to 2018Q4 along with a bunch of the latest security fixes. I'm now running the backported `bind-9.12.4pl2` on my personal server and it appears to be working fine.

[2019-06-20 12:42] #189 closed, assigned to jperkin

[2019-06-21 15:07] jperkin commented on #197
I updated this to 1.9.4, will be in trunk tonight and will backport to 2018Q4 too.

[2019-06-21 15:37] jperkin commented on #196
I've figured out the fix for this, it'll be in the next trunk build and will backport as an update to the dovecot packages to 2018Q4.

[2019-06-21 15:37] #196 closed, assigned to jperkin

[2019-06-21 18:56] isaacdavis commented on #189
Thanks, Jonathan! This is very helpful.

[2019-06-23 04:32] bergerspencer opened #209 "x265: shared lib should be linked with -Bsymbolic and one other issue"
See pull request https://github.com/joyent/pkgsrc/pull/208. Recently, when I was building an x265 that supported multiple bit depths, I discovered a couple of issues with the [patch](https://github.com/joyent/pkgsrc/blob/d8f1b7533f177dcd1e79685529c1f16fd684a34e/multimedia/x265/patches/patch-CMakeLists.txt) that was introduced in https://github.com/joyent/pkgsrc-legacy/issues/455.

The first issue

[2019-06-24 20:31] sjorge commented on #197
THe new one now segfaults!

[code]

This is the first command you should run after installing,... https://www.rspamd.com/doc/quickstart.html#caching-setup

[2019-06-24 22:08] jperkin commented on #197
Is that with a clean setup or an upgrade? I tried to reproduce on a host that hasn't configured it before and it seemed to work ok:

[code]

[2019-06-24 22:13] sjorge commented on #197
It was a clean setup on 2018Q4 (base-64-lts 18.4.0),

It seems to happen intermittendly :s I just tried it again and it segfaulted, I wanted to truss and it didn't :/

[code]

Other commands also gives error but don't seem to segfault
[code]

I double checked that the rspamd service was running and it was

[code]

[2019-06-24 22:22] jperkin commented on #197
Ok I'll see if I can tickle it, or if you ever get a core file out of it please send it over.

[2019-06-24 22:25] sjorge commented on #197
~I couldn't find one for now.~

Found a few! I have them for rspam and rspamadm! I included one of each: https://pkg.blackdot.be/cores/rspam_cores.tar.bz2

[2019-06-25 12:18] sjorge commented on #197
I rebooted the zone, not that it should matter... but it made it worse!

After a reboot rspamd doens't even start! (default config)
[code]

There is indeed no longer a /var/run/rspamd directory!

[code]

The /var/run/rspamd dir now exists! And rspamd starts again (unless it segfaults, that still happens at random)

[2019-06-25 12:20] jperkin commented on #197
This is a bug in the package, `/var/run` is a tmpfs mount and as such needs to be created on startup, not on package install. We handle this correctly in other packages, I'll take a look at fixing this as well.

[2019-06-26 11:56] sjorge commented on #197
Also .4 has dropped with another critical fix...

[2019-06-30 20:44] despair86 opened #210 "[Solaris] mono 4 broken (any winforms app)"
[code]
haven't been able to use winforms for months
however, it used to work a while back (early '19 at the latest)
using pkgsrc trunk amd64/gcc7 on oi hipster (May '19)+ current patches
(haven't had a chance to build my own with gcc or sunpro yet)

[2019-06-30 21:00] despair86 commented on #209
nice. I knew I was missing something in my own patch, but I hardly use symbolic linkage in my own projects 🤷🏻

[2019-07-01 09:30] #186 closed, assigned to jperkin

[2019-07-01 12:46] jfqd commented on #203
I am using trunk and just installed latest node, same issue:

[code]

[2019-07-01 12:49] jperkin commented on #203
What platform version are you running on?

[2019-07-01 12:51] jfqd commented on #203
20190509T005736Z

[2019-07-05 07:15] jacques commented on #192
Any chances of getting this into 2019Q1?

[2019-07-05 07:22] jperkin commented on #192
No, 2019Q2 will be released very shortly and 2019Q1 is no longer supported.

[2019-07-10 12:09] jbarfield opened #211 "couchdb pkg svc fails to start"
Vanilla smartOS zone latest x86_base64 image.

run ‘pkgin up -fy’
run ‘pkgin in -y couchdb’

Installs packages properly but fails to start with erlang errors pertaining to read only filesystems full such as /usr. Unable to start erlang monitoring processes. erlang kernel error.

will post output of errors upon request.

Also ‘svcadm enable -r couchdb’

Fails to enable couch-epmd dependency by defa

[2019-07-18 18:20] softwareinfojam opened #212 "zabbix-frontend dependencies"
Hi All
I use pkgin on OmniOS and used it to install zabbix-frontend. I notice though that it grabs php71 dependencies. I am wondering, is there a way to get it to use php73 instead? Any help would be appreciated. Thanks.

[2019-07-29 07:11] jfqd opened #213 "apache logadm"
Would it be possible to remove the logadm stuff from the apache package?

Cause if someone uses rotatelogs, after each update of the apache package there is a new line in logadm.conf which needs to be removed...

[2019-07-29 10:34] jperkin commented on #213
I'm not sure of a good fix for this. I don't want to remove it as that will just break everyone who doesn't use rotatelogs. Something we could do is add a `PKG_SKIP_LOGADM` environment variable in a similar manner to `PKG_SKIP_SMF` to not do the logadm bits during install, but you may want to continue using logadm entries for other packages.

Suggestions welcome here.

[2019-07-30 06:15] jfqd commented on #213
Adding `PKG_SKIP_LOGADM` looks nice!

[2019-07-31 03:10] papertigers commented on #180
@sjorge have you had any time to drive this over the line?  I am currently using a pkg I built from your repo but would love to have this in pkgsrc proper so I don't have to think about it anymore.

[2019-07-31 04:06] sjorge commented on #180
I have not, there were a few things still not done with this for it to go upstream unfortunately.

~ sjorge

[2019-08-02 10:57] jfqd commented on #179
@jperkin is there a reason why `dnsdist` package is still missing in trunk?
Or do we need to switch to a lx zone cause it is missing?

[2019-08-02 10:58] jfqd commented on #170
@jperkin will munin2 be back in trunk?

[2019-08-02 11:03] jperkin commented on #179
Failure is here: http://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20190730.1224/dnsdist-1.3.2/build.log

If someone can provide a patch it will reappear quicker, otherwise it'll need to wait until I can look at it.

[2019-08-02 11:08] jperkin commented on #170
If someone wants to look at this there is a version 2 available in wip initially created by @drscream - https://github.com/joyent/pkgsrc-wip/tree/master/munin-common

This should be upgraded to whatever is the latest version now available and replace sysutils/munin* in main pkgsrc.

[2019-08-02 13:13] jfqd commented on #179
@jperkin I asked on the powerdns mailinglist and they told me this issue was fixed in version 1.3.3. Would it be possible to give this a try?

[2019-08-02 13:19] jperkin commented on #179
sure

[2019-08-02 17:05] jperkin commented on #179
I updated this to 1.3.3 which builds fine again: http://mail-index.netbsd.org/pkgsrc-changes/2019/08/02/msg195217.html

Unfortunately the git mirror isn't updating today, so this may not make it into tonight's build.

[2019-08-03 06:56] jfqd commented on #179
Thanks a lot again! Will try if it is available!

[2019-08-12 15:32] jperkin commented on #211
Unless there is a bug in the package these two things should be unrelated. Nothing in packages should be writing to `/usr`, and in any case `/usr` is a read-only mount from the global zone so can't be written to anyway.

Package data should be limited to `/opt/local` for package files and `/var` for any user-generated data.

If the test package I posted on smartos-discuss is still causing errors h

[2019-08-13 17:18] jfqd commented on #179
@jperkin Was there another build lately? Cause I cannot see the `dnsdist` package in trunk.

[2019-08-13 18:38] jperkin commented on #179
Unfortunately we're reliant on a piece of NetBSD infrastructure that converts the pkgsrc CVS repository to Git and over to GitHub, and the hardware that performs this task is currently unavailable. We're hoping that it will be fixed soon, but until then there won't be any trunk builds.

Monitoring https://github.com/NetBSD/pkgsrc will show when it's all running again, hopefully before I go away fo

[2019-08-14 14:27] drscream commented on #170
`wip/munin-common` has been updated to the latest version. Looking into moving it to `sysutils/`

[2019-08-14 14:28] jperkin commented on #170
@drscream nice! thanks ;)

[2019-08-14 17:32] drboone opened #214 "postgrey < 1.37 mishandles common outbound mail pool hostnames"
There's a fix in postgrey 1.37 which removes an ill-considered special case for hostnames.  The offending code ends up causing supposedly whitelisted domains with numbers in their names to be whitelisted.  This ends up triggering on things like outlook.com.

Would be nice if postgrey 1.37 could make it into pkgsrc.

Bug from the postgrey tracker here:
https://github.com/schweikert/postgrey/issues/

[2019-08-20 18:27] robohack commented on #107
Hi Jonathan,

Can I convince you to add `PKG_DEFAULT_OPTIONS += -nextstep` to the `mk.conf` file used for building darwin/macOS packages?

(I don't really want to kill nextstep support for macOS pkgsrc users, but from what I currently know I don't think it'll make any difference to anyone, other than possibly starting a background X11 server sometimes when otherwise it wouldn't be started.)

[2019-08-30 08:30] khoan opened #215 "[Request] [Darwin] Gradle"
[code]

should skip java install if detected somehow?

[2019-08-31 10:16] kayront opened #217 "net/torsocks: build failure"
[code]

[2019-09-03 10:38] #147 closed, assigned to jperkin

[2019-09-03 10:38] #19 closed, assigned to jperkin

[2019-09-03 10:38] #20 closed, assigned to jperkin

[2019-09-05 09:14] jfqd opened #219 "Update Dovecot to latest CVE-2019-11500"
Please update Dovecot to latest version [2.3.7.2](https://dovecot.org/pipermail/dovecot-news/2019-August/000415.html) which fixes the CVE.

[2019-09-05 09:17] jperkin commented on #219
This is already done in ff478d5a135bcb9fc66faad66ac98b57d116c748 but is currently blocked from publishing by some other broken packages.

[2019-09-05 09:17] #219 closed, assigned to jperkin

[2019-09-06 11:44] jperkin commented on #214
I backported the fix in 78b68e7f7074ae0c55ee3254b16cbe886933ffea, we can't upgrade to 1.37 until there is a working targrey patch available for it.

[2019-09-06 11:44] #214 closed, assigned to jperkin

[2019-09-09 12:43] drscream commented on #170
Munin version 2.x has been promoted from WIP to `sysutils/`: https://mail-index.netbsd.org/pkgsrc-changes/2019/09/09/msg197250.html

[2019-09-09 12:49] jfqd commented on #170
@drscream thanks a lot Thomas!
@jperkin will this be now automatically in trunk?

[2019-09-09 12:50] jperkin commented on #170
There's already a build running for today, if it finishes in time then I'll pull again later today to include this change. Thanks @drscream!

[2019-09-14 14:15] vtoc opened #223 "dovecot requires update"
https://www.openwall.com/lists/oss-security/2019/08/28/3

Vulnerable version: All versions prior to 2.3.7.2 and 2.2.36.4

[code]

[2019-09-16 09:20] jperkin commented on #223
Available in trunk since Sept 9 and 2018Q4 since Sept 11.

[2019-09-16 09:20] #223 closed, assigned to jperkin

[2019-09-16 13:00] jperkin commented on #223
Backported to 2016Q4 too, packages now available (pending mirror catchup).

[2019-09-18 10:22] #160 closed, assigned to jperkin

[2019-09-24 18:26] am11 opened #224 "Package request: (HP) libunwind for SmartOS x86_64"
NetBSD/pkgsrc has LLVM's libunwind. https://github.com/NetBSD/pkgsrc/blob/trunk/lang/libunwind/Makefile (which can be renamed to `llvm-libunwind` IMO)

This package request is about nongnu (or HP) libunwind project: https://github.com/libunwind/libunwind.

The current master of libunwind repo is building on SmartOS with some test failures: https://github.com/libunwind/libunwind#expected-results-on

[2019-09-28 18:07] jcea commented on #207
Sorry for leaving this to stale. I have been quite busy.

@jperkin , there are some news about this. "lmdb" and Python will be released with fixes, but in the meantime (and for old but supported python releases), you "should" (asked respectfully) add "-D_REENTRANT" when compiling Python interpreter.

Some details:

https://github.com/jnwatson/py-lmdb/issues/213
https://github.com/jnwatson/py-lmdb/

[2019-09-28 18:09] jcea commented on #207
I don't think ```-D_REENTRANT``` has a negative impact in other python modules, because any module doing ```#include "python.h"``` will get the symbol defined anyway. The problem is with modules not including the header in every single file or when including it "too late".

[2019-10-02 18:20] drboone opened #226 "dehydrated-0.4.0nb1 fails to find Replay-Nonce header if fetch is done via HTTP/2"
If dehydrated does a fetch from an acme server, and the transaction is completed using HTTP/2, the returned headers may not be in the same case (e.g. may be all lower case) as the script is grepping for.

https://github.com/lukas2511/dehydrated/commit/e4e712c03ad70bd5100af1333c2801f4b5baa89a

Output when this happens includes:
[code]

Could this package be updated?  In addition to this bug fix, it

[2019-10-03 16:44] mikeowens opened #227 "Wiki page pkgdev:setup bootstrap links"
Under the section "Fetch bootstrap and packages" it seems the links should point to the full bootstrap environments rather than the pbulk environments. That is:

[code]

should be:

[code]

I am running this within OmniOS and deriving it from the instructions on https://pkgsrc.joyent.com/install-on-illumos/ which specifies using the full bootstrap environments. The boostrap-pbulk environments don'

[2019-10-20 08:06] jfqd commented on #213
@ jperkin Any way to get PKG_SKIP_LOGADM? :)

[2019-10-20 08:08] jfqd commented on #179
@jperkin Thanks!

[2019-10-20 08:08] #179 closed, assigned to jperkin

[2019-10-20 08:09] jfqd commented on #170
@drscream @jperkin Thanks a lot for your work!

[2019-10-20 08:09] #170 closed, assigned to jperkin

[2019-10-20 08:17] jfqd opened #228 "[request] minio package for pkgsrc"
Would it be possible to get a [minio](https://github.com/minio/minio) package for pkgsrc? It should now compile fine on SmartOS after the merge of this [pull request](https://github.com/minio/minio/pull/6150).

[2019-10-25 20:03] #197 closed, assigned to jperkin

[2019-10-27 20:37] lsgroup opened #229 "CouchDB 2.3.1 Package Install Fails"
Environment:
Base-64 19.2.0
Upgraded pkgsrc: bootstrap-trunk-x86_64-20190317-upgrade.tar.gz

$ svcadm enable couchdb
results in error:
cat: @PREFIX@/couchdb/releases/start_erl.data: No such file or directory
/opt/local/bin/couchdb[31]: exec: @PREFIX@/couchdb/erts-/bin/erlexec: not found

Modify: /opt/local/bin/couchdb and hard coding in some @PREFIX...

export ROOTDIR="/opt/local/couchdb"
... and

[2019-10-28 14:47] lsgroup commented on #229
Does not run as a service.  Only works via command running as root:
root@sandbox4:/var/db/couchdb# /opt/local/bin/couchdb

Verified couchdb ownership on /var/db/couchdb and /var/log/couchdb
root@sandbox4:/var/db# ll
drwxr-xr-x  7 couchdb couchdb 12 Oct 28 14:40 couchdb/

root@sandbox4:/var# ll /var/log/couchdb/
drwxrwx--- 2 couchdb couchdb       3 Oct 27 16:44 ./
drwxr-xr-x 4 root    sys

[2019-11-02 13:13] jfqd opened #230 "amavisd dkim-signing and restart issues"
The pkgsrc amavisd package is not dkim-signing any outgoing mails. A patch can be found [here](https://github.com/jfqd/mi-qutic-mail/blob/master/copy/opt/local/etc/tmp/amavisd.patch).

Restarting amavisd via smf is not working. Would it be possible to use this [xml](https://github.com/jfqd/mi-qutic-mail/blob/master/copy/opt/local/lib/svc/manifest/amavisd.xml) and this [method](https://github.com/j

[2019-11-02 14:40] jfqd commented on #230
[This](https://lists.amavis.org/pipermail/amavis-users/2016-July/004428.html) is the place where I found the patch. It is included in various distros, but sadly not in amavisd directly.

[2019-11-07 09:35] drscream opened #231 "rebuild py-certbot-0.38.0nb3 for 2019Q3"
Because of the last pull-up it would nice if you can rebuild and publish `security/py-certbot-0.38.0nb3` and the new added dependency `devel/py-distro`.

http://pkgsrc.se/branch=pkgsrc-2019Q3/security/py-certbot

[2019-11-08 11:16] drscream opened #232 "databases/py-mysqlclient, multi-version support"
It would be nice to provide support for different MySQL / Percona / MariaDB versions to `databases/py-mysqlclient`. This can be achieved with the following patch:

[code]

[2019-11-16 21:39] bahamat opened #233 "bind is not able to listen on new interfaces when interfaces change"
After the last change to drop permissions on bind, if the interfaces change named won't be able to open a socket.

Using either `rndc scan` or `rndc reconfig` will result in the following errors written to syslog:

[code]

I can run `ppriv -s A+net_privaddr  $(pgrep -c $(svcs -H -o ctid pkgsrc/bind))`, which will allow named to recognize new interfaces and work properly with both `rndc scan` and `

[2019-11-28 09:43] #74 closed, assigned to nobody

[2019-12-04 23:44] am11 commented on #224
@jperkin, i think it was the wrong `Fix #224` in that PR (probably meant for other repository?). Could this be reopened please? :)

[2019-12-04 23:52] jperkin commented on #224
Silly GitHub auto-close feature that we can't turn off, sorry about that.

[2019-12-05 19:30] drboone opened #234 "nginx version update"
Could nginx be updated?  1.17.0 is currently available in pkgsrc.  1.17.3 has a security fix, and there are some other http/2 fixes that I think might be helpful to us after that.  Current seems to be 1.17.6.

[2019-12-09 17:16] bhechinger opened #235 "Prometheus SMF template"
Included as per the conversation with @jperkin on IRC.

[prometheus.xml.txt](https://github.com/joyent/pkgsrc/files/3940916/prometheus.xml.txt)

[2019-12-12 06:28] jdrch opened #236 "Can I safely delete the bootstrap-trunk* files after setting up the repository on OpenIndiana is complete?"
Just wondering if I can delete `bootstrap-trunk-x86_64-20190317.tar.gz` & `bootstrap-trunk-x86_64-20190317.tar.gz.asc` after setting up. Can I?

[2019-12-12 08:12] jperkin commented on #236
Yes :)

[2019-12-12 08:12] #236 closed, assigned to jperkin

[2019-12-12 15:50] jdrch opened #237 "Update setup instructions for OpenIndiana Hipster to use gpg2 instead of gpg"
Following the _Choose Your Illumos Package Set_ & _Upgrades_ [instructions](https://pkgsrc.joyent.com/install-on-illumos/) on OpenIndiana Hipster can be problematic for new users, as attempting to use `gpg` returns `-bash: gpg: command not found`.

Please update or add documentation to use `gpg2` instead, as that works.

[2019-12-22 03:18] zhiwenzheng opened #238 "gcc 6/7/8 fails to compile c++ program, gcc49 works"
/opt/local/gcc6/bin/g++ /tmp/quick_exit.cc
In file included from /opt/local/gcc6/include/c++/ext/string_conversions.h:41:0,
                 from /opt/local/gcc6/include/c++/bits/basic_string.h:5429,
                 from /opt/local/gcc6/include/c++/string:52,
                 from /opt/local/gcc6/include/c++/bits/locale_classes.h:40,
                 from /opt/local/gcc6/include/c++/bits/ios_base

[2019-12-22 03:19] zhiwenzheng commented on #238
using the latest repo.

[2020-01-02 13:50] #99 closed, assigned to nobody

[2020-01-02 13:50] #209 closed, assigned to nobody

[2020-01-02 13:50] #211 closed, assigned to jperkin

[2020-01-02 13:50] #210 closed, assigned to nobody

[2020-01-03 17:51] jbarfield commented on #229
I just provisioned a new 2019Q3-x86_64 image ran 'pkgsrc -fy up && pkgin -y in couchdb'. The install ran as expected. However I had the same problems after running: 'svcadm enable -r couchdb'. I disabled all of the services and rewrote /opt/local/bin/couchdb and then ran 'svcadm enable -r couchdb' and all is well. In the course of testing I screwed up the permissions in var/log/couchdb and in /var

[2020-01-20 15:58] timfoster commented on #238
I ran into this problem trying to build Node.js v8.16.1 on a SmartOS build built from

[code]

The error I hit was:

[code]

Notably, the platform build I was compiling on included:

[code]

but did *not* include the fix for

[code]

which I believe we need. Building on a newer SmartOS build (from 20200117T180335Z) which did include that fix did not hit the compilation problem.

[2020-02-08 01:29] am11 commented on #224
upd: the upstream build was broken and fixed by https://github.com/libunwind/libunwind/pull/158.
unfortunately, more tests are failing now compared to last year.

[2020-02-09 14:53] jfqd opened #239 "Please update Powerdns to fix CVE-2019-10163 and CVE-2019-10162"
Would it be possible to update Powerdns to version 4.1.13 to fix the two CVEs? Thx :)

[2020-02-17 04:17] zhiwenzheng commented on #238
I confirm applying " 9545 Global visibility of C11 functions in C++11 and C++17 in stdlib.h" solved the problem.

[2020-02-17 04:17] #238 closed, assigned to nobody

[2020-02-19 04:50] yb66 opened #241 "pkgin install clang-9.0.1 killed pkgin itself"
Hi there,

`pkgin install clang-9.0.1` led to:

[code]

It seems the first command updated libcrypto to v1.1 and pkgin was pointed at v1.0. It's fixed after a full reinstall, which was painful given I'd installed newer versions of curl and tar via pkgin too.

I think I've had this kind of thing happen once before. Is it not possible to lock versions of things that pkgin relies on, or perhaps it wo

[2020-02-19 07:33] jperkin commented on #241
There was a major OpenSSL 1.1.1 upgrade a few months ago, and unless all packages are upgraded at the same time to get past it then you can run into problems.

There was a bug in pkgin prior to this where a "pkgin install" would not consider all dependencies of a package, so in this case would not upgrade all packages affected by the OpenSSL upgrade.  This has since been fixed, but you would not h

[2020-02-19 07:33] #241 closed, assigned to jperkin

[2020-02-19 08:38] yb66 commented on #241
@jperkin,

I see, that's fair enough. Thanks for taking the time with this, it's much appreciated.

Regards,
iain

[2020-02-21 03:31] robohack commented on #107
Perhaps another case of GitHub cross-referencing the wrong issue number from an unrelated commit?

[2020-02-21 06:14] jfqd commented on #140
Ticket #140 from NetBSD/pkgsrc is about unbound. Please reopen this ticket. Thx.

[2020-02-21 07:53] jperkin commented on #140
Stupid GitHub auto-close

[2020-02-21 07:53] jperkin commented on #107
Stupid GitHub auto-close.

[2020-02-24 06:54] hoewweken opened #242 "conflict xorgproto fixproto"
Hello!

After some time I tried to build some interesting packages from a new clean pkgsrc-joyent git-clone.
I tried editor/texstudio and graphics/darktable

There are obviously some dependencies that try to install xorgproto and fixproto,
generating conflicts in 2 files.

pkg_add -v /home1/home/steven/src/pkgsrc-joyent/pkgsrc/packages/All/xorgproto-2019.2nb3.tgz
pkg_add: Conflicting PLIST with fi

[2020-02-24 07:28] hoewweken commented on #242
Ah - i'm using openindiana with mk.conf:

cat /opt/pkg/etc/mk.conf
# Example /opt/pkg/etc/mk.conf file produced by bootstrap-pkgsrc
# 23 February 2020 at 22:05:38 CET

.ifdef BSD_PKG_MK	# begin pkgsrc settings

ABI=			32
PKGSRC_COMPILER=	gcc
GCCBASE=                /usr/gcc/7
USE_NATIVE_GCC=         YES

PKG_DBDIR=		/opt/pkg/pkgdb
LOCALBASE=		/opt/pkg
VARBASE=		/opt/pkg/var
PKG_TOOLS_BIN=		/opt/pk

[2020-02-24 12:13] hoewweken commented on #242
seems that the error does not occur with X11_type=modular,
my build gives an error now on qt5, but this is a different issue (a local one i suppose..)

In this issue the build with X11_type=native is not working, i suppose the pkgsrc build system does not see (all) of the needed oi-X11-pkgs...(?)

[2020-02-24 12:22] jperkin commented on #242
It's likely that there are not many users of native Xorg on OpenIndiana combined with pkgsrc, so yeh you will probably run into some cases where packages are not yet configured to support it.

The main one is `pkgtools/x11-links`, so it's worth starting there to ensure that all of the Xorg libraries that OI installs are correctly linked and made available to pkgsrc.

Sorry, this is just a configur

[2020-02-27 12:06] Pictor13 commented on #241
@jperkin , do you have a recommended easy way to fix this?

Possibly without compromising the packages already installed with `pkgin`?

Or a full reinstall either of `pkgin` *and* all the packages is needed?
(and not sure I won't need to reinstall them all or they will be working)

[2020-02-27 12:12] jperkin commented on #241
A `pkgin full-upgrade` should suffice.  The issue is if you try to
`pkgin install` something prior to getting past the OpenSSL upgrade.

[2020-02-27 19:18] Pictor13 commented on #241
Pardon me, I wasn't clear enough.
I'm talking about fixing `pkgin` itself, after getting the "Library not loaded: /opt/pkg/lib/libcrypto.1.0.0.dylib" error, because of upgrading openssl already, without being previously aware of the effects on the package manager.
I can't run any `pkgin <command>`.

[2020-02-27 19:45] jperkin commented on #241
Ah ok. You should be able to get past this by running `pkg_add -U pkgin openssl libarchive`, then pkgin should work again for you to run `pkgin full-upgrade` to update everything else.

[2020-02-28 16:26] Pictor13 commented on #241
Oh, I was trying just `openssl` without `libarchive`; it's restored now, thank you!! =)

[2020-02-28 16:28] jperkin commented on #241
Yeh the error can be a little confusing as the `libcrypto.1.0.0.dylib` library dependency is coming from libarchive indirectly rather than from pkgin directly.

[2020-03-05 00:29] bahamat opened #243 "man pages missing for hub package"
[code]

[code]

[2020-03-05 08:30] jperkin commented on #243
I can't reproduce this:

[code]

Is there anything in `/var/db/pkgin/pkg_install-err.log` to suggest why the install may have failed for you?

It might also be worth running a `pkg_admin check` to see if there are any other discrepancies between what should be installed and what actually is.

[2020-03-06 12:44] liv3010m commented on #175
Hi there,

I'm having the same problem:

`2020-03-06 11:25:09 ERROR (MainThread) [homeassistant.setup] Error during setup of component zeroconf`
`Traceback (most recent call last):`
`  File "/opt/homeassistant/lib/python3.7/site-packages/homeassistant/setup.py", line 174, in _async_setup_component`
`    component.setup, hass, processed_config  # type: ignore`
`  File "/opt/local/lib/python3.7/conc

[2020-03-06 13:05] sjorge commented on #175
IIRC you can patch /opt/homeassistant/lib/python3.7/site-packages/ifaddr/_posix.py to use libsocket instead of libc and it works.

[2020-03-06 13:06] sjorge commented on #175
Also see https://github.com/pydron/ifaddr/issues/23

[2020-03-06 18:15] bahamat commented on #243
Turns out I was on an old version.

[code]

After updating to `2.14.0nb1` I've got all the man pages now. 👍
Sorry for the noise. I should have checked for an update first.

[2020-03-06 18:15] #243 closed, assigned to jperkin

[2020-03-06 19:01] liv3010m commented on #175
Thanks @sjorge!

[2020-03-09 16:51] jfqd commented on #203
@jperkin  It seems this have been fixed, right?

[2020-03-10 10:43] jperkin commented on #203
Yeh sorry, forgot to close this out.

[2020-03-10 10:43] #203 closed, assigned to jperkin

[2020-03-11 10:35] #193 closed, assigned to nobody

[2020-03-13 14:06] Meilenstein opened #244 "mocp - no valid sound driver"
Hello,
I try to switch from macports to pkgsrc on my Mac OS X 10.15 with all applications.
Now I have the problem, that the music on console (mocp) isn't compiled with jack.
For my understanding, the programm needs jack as sound driver.
With the other sounddrivers "null" and "sndio" the programm starts but I have no sound.

[code]

[2020-03-13 14:15] jperkin commented on #244
Thanks, I'll take a look at enabling jack support.

[2020-03-13 14:20] jperkin commented on #244
I've uploaded a test package with jack enabled, could you just check it works ok?

Run this to install it:

[code]

Thanks.

[2020-03-18 15:05] jakub-olczyk opened #245 "Claws-mail - el7 package question"
Hi!

I don't know if this is the right place to ask, but I am wondering - were there any recent changes in the `pkgin` repository for Linux?

I couldn't find `claws-mail` package that I have been using from around mid 2019 for my CentOS 7 installation. I get that this is a free service that distributes binary packages for people to use freely and I am deeply grateful for that :pray:. However I was

[2020-03-19 17:36] Meilenstein commented on #244
Hello.
sorry for my late answer.
I tried your packages but it seems it doesn't work.
[code]

I start jack like when I used macports before:
`jackd -d coreaudio &`

then I try to start moc
[code]

In addition, it seems that moc is not compiled with jack
[code]

[2020-03-20 10:41] jakub-olczyk commented on #245
Hi!
Today I saw that claws-mail is back in the el7 repository. I don't know if this is the result of this ticket or just some sync issues. Anyway, thank you! I'll close this issue then.

Cheers!

[2020-03-20 10:41] #245 closed, assigned to nobody

[2020-03-20 10:46] jperkin commented on #245
Ah good! The reason it was missing for a while was that it depended upon the gcc7 package which for a time was broken:

https://us-east.manta.joyent.com/pkgsrc/public/reports/Linux/el7/trunk/x86_64/20200311.2241/meta/report.html

The gcc7 issue was fixed a few days ago, but that coincided with the el7 build host being offline for a while, and so it only started building again last night:

https://

[2020-03-20 11:08] jakub-olczyk commented on #245
Thanks a lot for the explanation, as well as for the links!

I'll be sure to check the mailing list archive now if anything happens.

cheers!

[2020-03-23 23:35] bahamat opened #246 "want nagios-nrpe in pkgsrc tools"
Would be useful in the global zone.

[2020-03-24 11:04] #246 closed, assigned to jperkin

[2020-03-24 11:05] jperkin commented on #246
Added to the trunk list, will schedule a build tonight to pick this up.

[2020-03-24 21:21] russhan opened #247 "Canonicalization issue in OpenDKIM 2.10.3 in trunk"
I believe I've hit a canonicalization issue with OpenDKIM 2.10.3 in trunk.

Bug and patch discussed in: https://sourceforge.net/p/opendkim/bugs/226/#bd34

In my case the Message-ID header contents after the colon are on a new line in the original email and after keeping temporary files and looking at the normalized headers I see a space after the colon with message-id: <something> while all the ot

[2020-03-27 12:06] sjorge commented on #180
Some of the mentioned issues are fixed in 1.6.x, I tried bumping to 1.6.9 today but the build is broken again. Blah.

[code]

[2020-03-27 12:09] sjorge commented on #180
Fun stuff! It's an upstream bug it seems as both the debian and fedora packages have the error!
https://github.com/eclipse/mosquitto/issues/1637

But pkgsrc is nice enough to catch it before finishing! <3 but also *shakes fist @ upstream*

[2020-03-27 12:16] sjorge commented on #180
Using the bundled uthash works 🤷‍♂ , I've pushed the changes to my repo.

[2020-03-27 20:51] sjorge commented on #180
@jperkin most of the issue are addressed now, can you see if it builds on one of your netbsd machines?

Aside from the catogory being set to pdb (my own prefix to keep things apart)

[2020-03-28 00:36] jclulow opened #248 "ncurses terminfo has some issues"
There are a couple of issues with the `terminfo.src` in the current ncurses source.

First, the unfortunate reality is that lots of people use `xterm` and `xterm-256color` for terminals other than a strictly compliant `xterm`.  The current database appears to include a `rep` capability, but many terminals don't implement this correctly.  The graphical corruption is pretty obvious if you use someth

[2020-03-30 10:55] jperkin commented on #248
Both issues fixed in https://github.com/NetBSD/pkgsrc/commit/4a217298a4bdba7c47d1311a51540f6e6bad42d5 and https://github.com/NetBSD/pkgsrc/commit/e8a4d5a700047e40346db20c2e30be5a9a222788.

For now I'm going to hold off on maintaining our own copy of `terminfo.src` as it's not without risk (it's likely we'd maintain it as a patch against upstream pkgsrc which would be inherently vulnerable to bit-r

[2020-03-30 10:55] #248 closed, assigned to jperkin

[2020-03-30 12:34] #142 closed, assigned to nobody

[2020-03-30 12:37] wiedi commented on #232
I think this was closed by accident via github

[2020-03-30 12:44] jfqd commented on #228
@jperkin Would it be possible to open this ticket again? Thx.

[2020-03-30 12:46] jfqd commented on #239
@jperkin Are CVE-Updates for pkgsrc still a thing?

[2020-03-30 15:39] jperkin commented on #228
Undo stupid GitHub auto-close.

[2020-03-30 15:39] jperkin commented on #232
Undo stupid GitHub auto-close.

[2020-03-30 15:40] jperkin commented on #239
This was updated a few weeks ago, I'll backport to 2019Q4 once 2020Q1 has finished building.

[2020-03-30 15:43] jfqd commented on #239
@jperkin Thx for your response, but in trunk powerdns is still 4.1.8 (nb4)

[2020-03-30 15:48] jperkin commented on #239
Oh you're right, sorry, it looks like the last couple of builds failed to publish. I'll dig into why I wasn't notified about that.

[2020-03-31 16:04] am11 commented on #224
Ops, closed again. 🙂

[2020-03-31 16:06] jperkin commented on #224
Stupid GitHub auto-close.

[2020-04-02 16:32] jclulow commented on #248
Thanks!

[2020-04-03 08:44] jfqd opened #249 "beats package is missing in trunk"
Might it be possible to get the beats package back in trunk?

[2020-04-03 14:08] sjorge commented on #56
@jperkin I guess this got closed by mistake?

[2020-04-03 15:08] jperkin commented on #56
Stupid GitHub auto-close.

[2020-04-03 17:45] PanderMusubi opened #250 "[request] package nuspell"
Please offer for SmartOS a package for [Nuspell](https://nuspell.github.io/) a spell checking library and command-line tool written in modern C++.

An existing package for pkgsrc from FreeBSD is at https://pkgsrc.se/wip/nuspell

[2020-04-04 11:59] Meilenstein commented on #244
Strange. I installed your package again and now it works ... !!
Thanks a lot!!

[2020-04-04 15:39] jfqd opened #251 "PHP CVE-2020-7065"
Please update PHP to latest versions to fix [CVE-2020-7065](https://www.suse.com/security/cve/CVE-2020-7065/). Thx!

[2020-04-05 12:53] jfqd commented on #251
Thx. That was quick :)

[2020-04-05 12:53] #251 closed, assigned to nobody

[2020-04-05 17:53] jfqd commented on #239
@jperkin Thanks for the update!

[2020-04-05 17:53] #239 closed, assigned to jperkin

[2020-04-07 21:03] jdrch opened #253 "OpenIndiana Hipster GUI: How do I ensure my installed pkgsrc packages are always the latest?"
I run OpenIndianaHipster GUI and would like to ensure that my pkgsrc packages are always the absolute latest available in the repos.

What is required to do this (it's not particularly clear to me from the [setup instructions](https://pkgsrc.joyent.com/install-on-illumos/))? Is simply running `# pkgin -y full-upgrade` sufficient, or do I *also* have to upgrade from the previous quarterly release p

[2020-04-07 21:13] jperkin commented on #253
Nope, you just need to run `pkgin upgrade` every few days.

Previously with the quarterly releases you would have needed to switch repository every 3 months to upgrade to the latest, but the rolling trunk release tracks the very latest daily pkgsrc changes so there's no need to do that.

We still offer the quarterly releases for anyone who doesn't want the hassle of continually upgrading or needs

[2020-04-07 21:13] #253 closed, assigned to jperkin

[2020-04-07 21:19] jdrch commented on #253
Thanks for the info!

That's good to know. Do you know who manages the setup instructions? They should probably be updated accordingly. I submitted a [request](https://github.com/joyent/pkgsrc/issues/237) for `gpg` to be changed to `gpg2` (the instructions will fail on OI Hipster with the former) but nothing's happened since. I don't mind making the edit or maintaining a separate page for OI mysel

[2020-04-07 21:53] jperkin commented on #253
That would be me ;)  I'll take a look, sorry for missing that.

[2020-04-08 08:43] jperkin commented on #237
Fixed in https://github.com/joyent/pkgsrc.joyent.com/commit/ef33e1011d667030d24015d8319a4e6f8ead87d5, thanks!

[2020-04-08 08:43] #237 closed, assigned to jperkin

[2020-04-08 08:44] jperkin commented on #253
I've fixed that issue now, as well as updating the instructions to use `pkgin upgrade` where appropriate.

[2020-04-08 13:19] jdrch commented on #237
Yw!

[2020-04-08 13:22] jdrch commented on #253
Many thanks :)

[2020-04-08 16:05] liv3010m commented on #237
Hi guys, there is a similar issue with OmniOS bloody where neither gpg2 nor gpg exists. Could this be?
`root@omniosce:~/pkgsrc#  uname -a`
`SunOS omniosce 5.11 omnios-master-5b83ca0623 i86pc i386 i86pc`
`root@omniosce:~/pkgsrc# curl -sS https://pkgsrc.joyent.com/pgp/DE817B8E.asc | gpg2 --import`
`-bash: gpg2: command not found`
`curl: (23) Failed writing body (5120 != 5306)`

[2020-04-08 16:09] jperkin commented on #237
As the instructions say, this requires that gpg is installed on the host.  This will differ depending on the illumos distribution you are using.

[2020-04-08 16:11] jdrch commented on #237
@liv3010m Google "OmniOS gpg" to find the correct package for your OS. Then run the installation command with it, then then replace the `gpg2` entry in the instructions with that package name.

[2020-04-08 16:12] liv3010m commented on #237
Sorry I was to quick to post this. I'm already installing gpg! ;)

[2020-04-08 16:13] jdrch commented on #237
No worries. Once you do that, everything should work.

[2020-04-08 16:14] liv3010m commented on #237
Yup, everything up right now. thanks!

[2020-04-08 16:16] jdrch commented on #237
Yw!

[2020-04-12 04:25] zylantha opened #254 "PowerDNS recursor missing"
PowerDNS appears to have been bumped to 4.2.1, however with the recursor now split into a separate executable, the recursor executable needs to be built into the main package or included in a separate add-on package which isn't available in SmartOS.

Can the PowerDNS package please include a build of the recursor, or available as a separate add-on package?

A version bump to the current release of

[2020-04-13 16:52] jfqd opened #255 "[request] XtraBackup 8.0.11"
Please include latest XtraBackup 8.0.11, cause v2.4.18 is not able to make backups of MySQL 8. Thx!

[2020-04-13 16:58] jfqd commented on #249
@jperkin 2018Q4 was the last build where the beats package was included. Where can I see why this package build failed? If using the ELK-Stack beats is required :/

[2020-04-14 15:37] jperkin commented on #255
This is available in 2019Q4 for a customer, which release do you want it for?

[2020-04-14 15:41] jfqd commented on #255
@jperkin for trunk, if possible :)

[2020-04-14 16:00] jperkin commented on #254
Yeh the recursor package is currently failing to build:

https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20200411.1055/powerdns-recursor-4.3.0/build.log

I'll take a look.

[2020-04-15 05:30] mmayer opened #256 "pkgin on Mac upgrade fails at perl-5.30.2"
$ defaults read "/System/Library/CoreServices/SystemVersion" ProductVersion
10.15.4

$ sudo pkgin -y update && sudo pkgin -y upgrade
processing remote summary (https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64/All)...
database for https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64/All is up-to-date
calculating dependencies...done.

1 package to upgrade:
  perl-5.30.2

0 to refresh, 1 to u

[2020-04-15 06:20] jperkin commented on #256
Yeh, this is a known issue that I'm having trouble reproducing in a debug environment. There's a problem where the list of `+REQUIRED_BY` packages gets out of sync and not updated correctly during an upgrade, and then fails for subsequent operations, but even with a test environment that performs random upgrades in a loop I can't seem to trigger it, though I've seen it myself locally in the past,

[2020-04-15 11:57] jperkin commented on #254
I've raised an upstream bug for this: https://github.com/PowerDNS/pdns/issues/9025

[2020-04-15 12:00] jperkin commented on #249
Head to <https://mail-index.netbsd.org/pkgsrc-bulk/>, find the most recent "pkgsrc-trunk-x86_64 SmartOS" build, click the report URL link and search for any broken package, that will give you the links to the logs, in this case <https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20200411.1055/beats-6.6.2nb10/build.log>

There used to be some patch for `dup2()`, I wonder if it was

[2020-04-15 14:38] jperkin commented on #249
I updated and fixed this in https://github.com/NetBSD/pkgsrc/commit/57f1b912cabe7994bac8de4f75a5f82881175c2a, it will be in tonight's build.

[2020-04-15 14:38] #249 closed, assigned to jperkin

[2020-04-15 14:49] jperkin commented on #235
Sorry, forgot to get this committed! I've done so now, it should be in tonight's build.

[2020-04-15 14:49] #235 closed, assigned to jperkin

[2020-04-15 16:06] mmayer commented on #256
Thanks for your prompt reply. Would it help if I provided my DB file or any other related files?
And can I recover from this condition in some way?
Thanks!

[2020-04-15 17:39] jfqd commented on #249
@jperkin Thx a lot!

[2020-04-16 10:53] jussisallinen opened #257 "duo-unix-1.10.4 wrong ELF class: ELFCLASS64"
Current duo-unix doesn't work with recent base images, I get following with base-64-lts 19.4.0:
`shd[68403]: [ID 705739 auth.error] open_module[0:/etc/pam.conf]: /opt/local/lib/security/pam_duo.so failed: ld.so.1: sshd: fatal: /opt/local/lib/security/pam_duo.so: wrong ELF class: ELFCLASS64`

[2020-04-17 09:18] Meilenstein commented on #244
Hey.
I did an upgrade with pkgin yesterday and now the unpatched version is "back again"
[code]

[2020-04-17 09:30] jperkin commented on #244
Yeh, I only enabled the option in the test package that I uploaded, the main repository is still using the default options.  I'll enable the option now and it will show up in the next build.

[2020-04-17 11:03] jperkin commented on #256
You can recover by manually editing the broken `+REQUIRED_BY` files, so in your case `/opt/pkg/.pkgdb/perl-5.30.2/+REQUIRED_BY` - you will likely see that there are two lines for `p5-Net-SSLeay`, one of which will be the broken one and one the version you have installed, so removing the broken one should get you past this.

It's interesting that this has been seen before with this particular packa

[2020-04-17 11:12] jperkin commented on #256
Hmm, I might have found something, if you look in your `/var/db/pkgin/pkg_install-err.log` file and search for the perl-5.30.1 upgrade (or similar), are there a bunch of warnings afterwards, like:

[code]

?

[2020-04-17 11:27] jperkin commented on #256
Ok yep, that's the bug, I've finally been able to reproduce this in my test suite:

[code]

The problem occurs when there is a strict dependency match of `pkg>=x<y` and then an upgrade happens for `>=y`.  I'll start taking a look at a fix.

[2020-04-17 13:26] jperkin commented on #256
Proposed patch:

[code]

I've been running this in my test script for a while and it's working as expected.  Further testing required.

[2020-04-17 14:56] jperkin commented on #190
Stupid GitHub auto-close.

[2020-04-17 14:57] jperkin commented on #158
Stupid GitHub auto-close.

[2020-04-17 19:36] mmayer commented on #256
Thanks for your help.

Unfortunately, there was one mismatch after the next once I started editing +REQUIRED_BY (i.e. it would complain about the subsequent package and then the next). So, I ended up recursively uninstalling Perl and then reinstalling it and the packages I had before. Luckily, it wasn't too painful.

As for the multiple entries in my pkg_install-err.log, I was just running update

[2020-04-18 19:36] jfqd commented on #255
@jperkin Thx a lot!

[2020-04-18 19:36] #255 closed, assigned to jperkin

[2020-04-20 10:24] jperkin commented on #256
I've pushed a fixed version of `pkg_install` out to the trunk release for wider testing, though this will only help once installed.

If the pkgdb becomes out of sync again when upgrading to the fixed version, an easier fix is to run `pkg_admin rebuild && pkg_admin rebuild-tree`, sorry that I wasn't aware of the latter previously (not sure how I missed it all this time!)

[2020-04-20 10:25] jperkin commented on #254
This is now available in trunk.

[2020-04-20 10:25] #254 closed, assigned to jperkin

[2020-04-20 11:53] jperkin commented on #242
Going to close this one out for now.

[2020-04-20 11:53] #242 closed, assigned to nobody

[2020-04-20 11:54] jperkin commented on #234
This was done a while back.

[2020-04-20 11:54] #234 closed, assigned to jperkin

[2020-04-20 16:43] jperkin commented on #232
Should be in tonight's build, thanks!

[2020-04-20 16:43] #232 closed, assigned to jperkin

[2020-04-21 06:01] jperkin commented on #244
Ok the version in the repository is now built with jack enabled. I also enabled jack by default across a bunch of other packes.

[2020-04-21 06:01] #244 closed, assigned to jperkin

[2020-04-21 08:54] jfqd opened #258 "Packages missing in trunk after GCC 9.3.0 switch"
A list of packages missing currently in trunk:

* percona-server-8
* dnsdist
* elasticsearch
* beats
* proftpd-percona8
* pyzor

@jperkin: percona-server-8 is a big thing for us, cause we did a pkgin up and are now in a miserable state. If we would restart the percona server it will not find the (old) crypto libs (tested with another server before!). Linking new to old path does not fix it cause s

[2020-04-21 09:42] jperkin commented on #258
I'll take a look through the list. While we always strive to ensure trunk is as stable as possible, these things happen when you're tracking the latest bits, and so I wouldn't necessarily recommend using it for critical things like database servers.  That said there are probably improvements I should make to pkgin to handle this kind of upgrade.

[2020-04-21 11:07] jfqd commented on #258
@jperkin: getting percona-server-8 back would be great!

Just realized, that dtrace support vanished from percona-server-8? Was that removed by the build?

[2020-04-21 13:10] jfqd commented on #258
Sorry for the noise. It is sad, but: [Support for DTrace is deprecated in MySQL 5.7 and is removed in MySQL 8.0.](https://dev.mysql.com/doc/refman/5.7/en/dba-dtrace-server.html)

[2020-04-21 15:28] jperkin commented on #258
BTW, beats should be available? I updated it to a newer version a few days ago.

[2020-04-22 06:54] jfqd commented on #258
Thx for beats. I saw it and today is test day for it :)

[2020-04-22 19:20] jperkin commented on #226
This was upgraded a while back and is currently the most recent version.

[2020-04-22 19:20] #226 closed, assigned to jperkin

[2020-04-23 07:02] jperkin commented on #258
All of these are now back except for dnsdist, I'll take a swing at that today.

[2020-04-23 07:05] jfqd commented on #258
Wow, thanks @jperkin! That helps a lot!

[2020-04-23 09:02] jperkin commented on #185
Yeh this hasn't built in a while, I think it's only targetting newer python3 releases now.

[2020-04-23 09:02] #185 closed, assigned to jperkin

[2020-04-27 01:49] ahayes commented on #237
SmartOS uses gpg. It looks like this fix broke the instructions for SmartOS and SmartOS GZ. I'm running SmartOS 20200422.

[2020-04-27 08:39] jperkin commented on #237
SmartOS does indeed ship with /usr/bin/gpg, but it is a very broken version, I'm surprised you even managed to make it work.

As these instructions are more likely to apply to users coming from other distributions then, given we need to pick one, I'd rather pick the one more likely to be used.  Anyone who is able to work around SmartOS's /usr/bin/gpg not being able to, for example, recv-keys, is p

[2020-04-27 16:23] ahayes commented on #237
I removed the "2" after searching and finding this github issue and it worked. So perhaps it is no longer as bad as you thought?

I don't think you are being terribly objective here. Given that the "SmartOS/Illumos" page claims it has instructions for SmartOS and even a specific set of instructions for the "64-bit tools (SmartOS GZ)", I'm not sure that "they are smart enough to figure out that we

[2020-04-27 16:41] jdrch commented on #237
As with nearly all open source projects, manpower is an issue. Maybe all that's needed is a note or table on which `gpg` to use for which Illumos.

[2020-04-27 16:54] jperkin commented on #237
Ok, given that the GZ instructions are specific to that environment and unlikely to be used elsewhere I've switched just those back to `gpg`.

Regarding `--recv-keys`, I'd forgotten that I'd already worked around that in the instructions, so the `curl | gpg` bit will make it work.

Hopefully that's to everyone's satisfaction.

[2020-04-27 17:54] ahayes commented on #237
OK. Thanks @jdrch and @jperkin
I don't mind pitching in. I implemented the multiple tabs in a pull request and just submitted it but it looks like there are multiple joyent pkgsrc repos and somehow I wound up on a different one (pkgsrc.joyent.com). It is joyent/pkgsrc.joyent.com#8

[2020-05-03 11:20] YanChii opened #260 "security: bump powerdns minor on 2019Q4"
Hi,
please could you upgrade powerdns [version](https://github.com/joyent/pkgsrc/blob/joyent/release/2019Q4/net/powerdns/Makefile.common#L3) to at least `4.1.9`?

The reason is this and it's pretty old:
https://doc.powerdns.com/authoritative/security-advisories/powerdns-advisory-2019-05.html

Currently installed powerdns is flooding syslog with upgrade request messages.

Thank you very much.

Jan

[2020-05-08 02:07] jcea opened #261 "2019Q4: "pkglint" reports "FATAL: ../../mk/mysql.buildlink3.mk: Must contain at least 1 variable definition for MYSQL_VERSIONS_ACCEPTED.""
2019Q4 release.

Doing a "pkglint" in any package will produce this error: "FATAL: ../../mk/mysql.buildlink3.mk: Must contain at least 1 variable definition for MYSQL_VERSIONS_ACCEPTED.".

Example:

[code]

[2020-05-10 10:52] #28 closed, assigned to nobody

[2020-05-13 07:14] zylantha opened #262 "samba4 missing from pkgsrc trunk"
samba4 is not in the current pkgsrc trunk - only samba-3.6.25nb22 is visible.  Looks like it is failing to build?

https://bulktracker.appspot.com/pkg/ag1zfmJ1bGt0cmFja2VyciILEgVidWlsZBiAgICaj_uMCgwLEgNwa2cYgICAmuiK9gsM

[2020-05-19 16:35] #190 closed, assigned to jperkin

[2020-05-21 12:37] Mitsos101 opened #264 "lang/ghc88: Increase disk space for Darwin bulk builds"
The build step for lang/ghc88 on all Darwin platforms fails with a "No space left on device" error on all of Joyent's bulk builds (otherwise, it fails with a "This package is known to stall the bulk build" error at the checksum step). Would the issue be remediated by increasing the available disk space for the build server? If so, are there any plans to do so?

[2020-05-21 12:39] jperkin commented on #264
Ok, I'll take a look.  I disabled it as it ended up hanging the build, but perhaps that was related to the disk space issue.

[2020-05-22 14:46] am11 opened #265 "Question: how to install SmartOS binary packages on non-Illumos operating system with pkgin"
On Debian/Linux system, in the path where [illumos/sysroot](https://github.com/illumos/sysroot) release tarball is restored, we want to install SmartOS binary packages. We have built pkgsrc tools (including pkgin) on Debian/Linux using pkgsrc (2020Q1) sources.

Now using this pkgin (<ins>Linux executable running on Debian/Linux system</ins>), is it possible to make it:

* fetch 2020 Q1/Q2 binary p

[2020-05-22 14:50] sjorge commented on #265
You might want to use pkg_add directly without going to pkgin, you should be able to specify most  stuff via env variables like PKG_PATH and such.

[2020-05-22 15:06] jperkin commented on #265
TBH I'd go even more directly and just unpack the packages directly into wherever you want.  The `.tgz` files we ship are wrapped in `ar(1)` for the signing bits, but contain an unsigned package tarball that you can just unpack wherever.

Using `pkgin` or `pkg_install` is likely technically possible, but would end up just as ugly to work around the various `MACHINE_ARCH` checks etc as just doing i

[2020-05-22 15:06] #265 closed, assigned to nobody

[2020-05-22 15:11] am11 commented on #265
Thank you, I will try that approach. Is there an index page where binary packages are listed?

[2020-05-22 15:13] am11 commented on #265
Found it: https://pkgsrc.joyent.com/packages/SmartOS/2020Q1/x86_64/All/.

[2020-06-01 01:50] Mitsos101 commented on #264
Hello @jperkin, any updates on this? It seems that there haven't been any attempts to build lang/ghc88 for Darwin on the pkgsrc-bulk mailing list.

[2020-06-01 06:41] jperkin commented on #264
Oh sorry, I never got around to making this change.  I've done it now, it will take effect with the next builds.

[2020-06-03 23:07] alissonlinneker opened #268 "Install PHP with parameters / ZTS"
How to install PHP last version with params?

Example:

sudo pkgin install php-7.4.6 --enable-maintainer-zts --with-tsrm-pthreads

I need ZTS in PHP. Is there any other way?

[2020-06-04 11:33] jfqd opened #269 "Please update zabbix to 4.0.20"
Would it be possible to get an update for zabbix? Latest for the 4.0 LTS branch is 4.0.20.

[2020-06-04 11:34] jfqd commented on #213
@jperkin Is there any progress? Will be `PKG_SKIP_LOGADM` env var available at all?

[2020-06-04 14:38] jperkin commented on #268
You can only use `pkgin` to install binary packages, it doesn't rebuild from source.  You'll need to provision a pkgbuild image and build your own binaries which include those options.

The general overview is documented here:

https://github.com/joyent/pkgsrc/wiki/pkgdev:setup
https://github.com/joyent/pkgsrc/wiki/pkgdev:building

For your request you can use the existing `maintainer-zts` option

[2020-06-04 14:40] jperkin commented on #213
It's unlikely that I'm going to have time to work on this, but I'd certainly be happy to review patches to accomplish something like it.

[2020-06-05 07:21] jperkin commented on #264
Looks like this is building correctly now according to the latest `macos15-trunk-x86_64` build.

[2020-06-05 07:21] #264 closed, assigned to jperkin

[2020-06-12 16:37] dca58 opened #270 "Missing pure-ftpd in base-64-lts 19.4.0 ?"
pure-ftpd used to be included in previous versions of base-64-lts images but not in the latest one.
Is it being abandoned or will it be added again later on ?

We use pure-ftpd on a number of machines, need to know if we should be looking for an alternative...

[2020-06-19 17:57] jfqd commented on #269
@jperkin Ups zabbix vanished from trunk. Cause of the version update?

[2020-06-26 18:41] russhan commented on #247
I've submitted to upstream pkgsrc

https://gnats.netbsd.org/cgi-bin/query-pr-single.pl?number=55171

but nothing has happened there either.

[2020-06-29 11:09] jperkin commented on #269
This was updated in 9092c9dffcc3d73e4aeeb38ea772316cd34a68d4 and is now available in trunk.

[2020-06-29 11:09] #269 closed, assigned to jperkin

[2020-06-29 11:16] jperkin commented on #262
I fixed this a while back and `samba-4.12.3nb1` should now be available.

[2020-06-29 11:16] #262 closed, assigned to jperkin

[2020-06-29 11:46] jfqd commented on #269
Thx a lot @jperkin!

[2020-06-29 11:49] #258 closed, assigned to jperkin

[2020-06-29 11:49] jfqd commented on #258
Thx, all packages are available now.

[2020-06-29 23:47] hakansonOHSU opened #273 "exmh could use refresh"
Current exmh in pkgsrc (I'm using on Mac) seems to be 2.7.2, circa 2015.  I see there is a 2.9.0 from circa 2018.
https://sourceforge.net/projects/exmh/files/exmh/

[2020-06-30 10:43] jperkin commented on #270
It is failing in 2019Q4 due to incompatibilities against OpenSSL 1.1.  trunk has a newer release that fixes the OpenSSL issues but fails for other reasons.  I'll take a look.

[2020-07-01 16:04] jperkin commented on #270
This is now fixed and available in 2019Q4.

[2020-07-01 16:04] #270 closed, assigned to jperkin

[2020-07-03 15:58] priyadarshan opened #274 "Please update amanda to latest stable 3.5.1"
Would it please be possible to get an update for amanda? The [most recent stable release is version 3.5.1](http://www.amanda.org/), December 1, 2017.

There have been quite a [bit of fixes](https://wiki.zmanda.com/index.php/3.5_features) since version  3.3.9, including better solaris compilation (if that matters).

I can help testing if needed (on SmartOS or OmniOS).

Thank you!

[2020-07-10 07:12] dca58 commented on #270
Thanks a lot...

[2020-07-11 15:03] imunitic opened #275 "pkgin on Macos"
Just installed pkgsrc on my mac and here is what i get when i try to use it.

sudo pkgin up                                                                              Sat Jul 11 16:57:20 2020
Password:
processing remote summary (https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64/All)...
pkgin: Could not fetch https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64/All/pkg_summary.gz

I checke

[2020-07-11 17:11] jperkin commented on #275
Oh that's bad timing, sorry. There's currently a rare issue with upgrades as per <https://twitter.com/jperkin/status/1281253912717262850> so I'm just waiting a few days for people to see that message or the one I posted to pkgsrc-users before allowing upgrades again.

Hopefully this won't put you off trying pkgsrc again in the next few days!  Whilst being a rolling-trunk release does mean that occ

[2020-07-11 17:25] imunitic commented on #275
All is fine. I understand it completely. Will wait a couple of days and retry it.

[2020-07-11 17:25] #275 closed, assigned to jperkin

[2020-07-12 09:03] timb-machine opened #276 "Joyent mirror appears broken"
processing remote summary (https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64/All)...
pkgin: Could not fetch https://pkgsrc.joyent.com/packages/Darwin/trunk/x86_64/All/pkg_summary.gz

[2020-07-12 10:01] jperkin commented on #276
Hey Tim, unfortunately there is currently an issue with the repository that means any attempt to upgrade could end up leaving users in a bad place.  I've tried to make users aware of this by posting <https://twitter.com/jperkin/status/1281253912717262850> and to the pkgsrc-users list, but have also temporarily removed the `pkg_summary.*` files to basically do what you've done, noticed it's broken

[2020-07-13 08:18] timb-machine commented on #276
@jperkin Ah, no worries. Thanks for your proactivity.

[2020-07-13 08:37] jperkin commented on #275
I'll post in this issue when the new bootstrap will be available.

[2020-07-16 12:49] jperkin commented on #276
This repository is now back online, please see <https://mail-index.netbsd.org/pkgsrc-users/2020/07/16/msg031767.html> for further information. Thanks, and apologies again for the downtime.

[2020-07-16 12:49] #276 closed, assigned to jperkin

[2020-07-20 09:40] jperkin commented on #256
This was fixed with recent changes in pkg_install and pkgin.

[2020-07-20 09:40] #256 closed, assigned to jperkin

[2020-07-20 12:20] bahamat commented on #233
It looks like a full explicit restart of the `pkgsrc/bind` smf service fixes this.

[2020-07-26 18:57] Meilenstein opened #277 "Missing library libidn2.0.dylib"
It seems that the library libidn2.0.dylib is missing after an upgrade.

[code]

The library is used from the following programs:

[code]

I am using pkgsrc on Mac OS X 10.15

[2020-08-01 21:25] Meilenstein commented on #277
Seems to be fixed now with libidn2-2.3.0

[2020-08-01 21:25] #277 closed, assigned to nobody

[2020-08-14 20:12] hakansonOHSU opened #278 "tcl/tk 8.6.10 subtle issues on Mac"
After a recent "pkgin upgrade", my exmh keybindings started misbehaving a bit.  In particular, the Meta-less and Meta-greater bindings stopped working in the "Escape-less" and "Escape-greater" forms.  Using the Meta-Shift-comma and Meta-Shift-period forms of the keystrokes still work, but both forms are supposed to be equivalent (in exmh's Simple Editor, which is what you use to compose new messag

[2020-08-19 13:04] jfqd opened #279 "[request] enabled tls-support for redis"
redis version >= 6 has [tls-support](https://redis.io/topics/encryption), but it need to be enabled at compile time (BUILD_TLS=yes).

Would it be possible to include this in one of the next builds?

[2020-08-19 17:46] jperkin commented on #279
Added in https://github.com/NetBSD/pkgsrc/commit/e7e1b1a73c32fbd6609768feb0aa5ad604dfa177, this will turn up in the next trunk build.

[2020-08-19 17:46] #279 closed, assigned to jperkin

[2020-08-22 14:15] #47 closed, assigned to jperkin

[2020-08-25 20:46] Smithx10 opened #280 "update py-barman"
https://github.com/joyent/pkgsrc/tree/trunk/databases/py-barman  Is currently at 2.5.

https://sourceforge.net/projects/pgbarman/files/2.11/  latest version is at 2.11

[2020-08-26 08:42] jperkin commented on #280
Could you give this a spin and see if it works?  I'm able to run the commands at least to their help page so all of the dependencies should be correct, but don't have a working configuration to test actual workloads.

[code]

Thanks!

[2020-09-12 04:23] anadrome opened #281 "[request] Consider building emacs27 and emacs27-nox11 with gnutls"
Currently Emacs is built by default without gnutls. It is available as a package option for emacs27, but not for emacs27-nox11. However since 27.1 the previous built-in ways of getting TLS support in Emacs have been removed, so gnutls is almost necessary now. Various common things, like installing MELPA packages or browsing/downloading from the web, don't work out of the box anymore without a reco

[2020-09-23 23:27] Smithx10 opened #283 "Should have zrepl package"
zrepl is a useful tool for replicating zfs datasets.

https://github.com/zrepl/zrepl

[2020-09-25 17:23] bahamat opened #284 "mosh-server needs libutempter"
Users logged in with mosh don't get added to utmpx due to missing libutempter. Illumos-gate recently added it, so SmartOS would get that automatically but to take advantage of it we'd need to up the minimum PI, which is probably a bit much for an issue affecting a single package.

Bringing our own should solve this problem.

[2020-09-28 08:46] #27 closed, assigned to nobody

[2020-09-29 10:29] jperkin commented on #284
Everything is now in place, I'll push these changes to trunk later when the 2020Q3 builds have finished.  At least in my limited testing they all built correctly against libutempter, and the packages that I was able to test in a sandbox did start creating correct utmpx entries.

Will close this once the packages are available for wider testing.

[2020-10-05 14:15] jperkin commented on #284
Ok these are now all available in trunk and 2020Q3, let me know if things don't work as expected.

[2020-10-05 14:15] #284 closed, assigned to jperkin

[2020-10-06 09:13] jperkin commented on #260
Sorry for the delay, I've updated powerdns to 4.1.14.

[2020-10-06 09:13] #260 closed, assigned to jperkin

[2020-10-06 14:47] jperkin commented on #280
Closing anyway, this was updated.

[2020-10-06 14:47] #280 closed, assigned to jperkin

[2020-10-06 14:48] jperkin commented on #231
Sorry I missed this, 2019Q3 was EOL a long time ago, hopefully newer releases would have fixed this.

[2020-10-06 14:48] #231 closed, assigned to jperkin

[2020-10-06 14:49] jperkin commented on #191
I updated this a while ago, hopefully it will resolve any issues you saw.

[2020-10-06 14:49] #191 closed, assigned to jperkin

[2020-10-09 02:28] rhansen commented on #247
This bug was fixed upstream (https://github.com/trusteddomainproject/OpenDKIM/commit/a65442161a6e59de49b3db9091754174e363c392) over 5 years ago, but upstream has not made a stable release since then.

Debian has been using various 2.11.0 prerelease versions since Stretch (June 2017), so it should be safe to bump this package to 2.11.0-Beta2 (the latest tag).

[2020-10-21 09:16] #180 closed, assigned to nobody

[2020-10-27 21:22] drboone opened #286 "unbound build fails due to include file issue and missing dependency"
Preface: I'm very not clued in on pkgsrc practices.

The unbound build is currently failing for smartos-trunk.  I think there are two issues:

1. I can't find a dependency for nghttp2 (maybe I don't understand the makefile structure properly?).  Configure fails because its library and include files are not installed.  Adding a simple `DEPENDS+= nghttp2` line in the Makefile seems to address this e

[2020-11-21 19:31] pierrebeaucamp opened #287 "Binary packages for Apple Silicon"
Please excuse me if this is the wrong place for this request, but I'd be very interested in having binary packages for the new M1 Macs as well. It seems like a majority of packages compile just fine on the new machines, so hopefully that shouldn't be too big of a task. I'd also be happy to help out with the effort.

On a related note, there are a few packages that might benefit from being cross-co

[2020-11-21 19:49] jperkin commented on #287
This is something we're hoping to produce soon, depending on when M1 hardware arrives.

I'm already producing Big Sur packages for Intel and there are no issues that I'm aware of with code-signing, so I'd assume the ARM systems would be the same.

[2020-11-23 21:19] jdwhite opened #288 "Unable to verify GPG-signed packages"
Fresh macOS Catalina install, following bootstrap instructions from https://pkgsrc.joyent.com/install-on-osx/.

**Short version:** after bootstrapping, installing gpg2 from the Joyent binary package repo, and importing the public signing key into a keychain pointed to by `GPG_KEYRING_VERIFY` in `pkg_install.conf` I am unable to validate as the Signature id in the signed package cannot be found:

`

[2020-11-23 22:17] jperkin commented on #288
Just a comment on this part to begin with:

This isn't correct, the bootstrap should include that file, which contains the public signing key for the packages:

[code]

Without that file, yes you'd hit problems as there wouldn't be a way to validate the signatures.  However I think you might mean `/opt/pkg/etc/pkgsrc.gpg` that you refer to later?

Package verification doesn't rely on GnuPG, it use

[2020-11-23 22:48] jdwhite commented on #288
You're correct; my bad. That does explain everything I asked about relating to verification of the installation of gnupg2.

Indeed, and even just creating a new keyring and importing your key causes verification issues, so I don't see how gpg2 works here at all. I'd seen various examples about setting GPG to /path/to/gpg2 so I thought that GnuPG was supported for signing/verification. I have no pa