[2020-11-23 23:06] jdwhite commented on #288
[code]

Guessing netpgp/netpgpverify doesn't support key box database formats, perhaps.

[2020-11-23 23:11] jdwhite commented on #288
gpg2 manpage talking about `pubing.gpg` files:

Sounds like either use <2.1 GnuPG, find a way to make >=2.1 GnuPG write older keyring format, use netpgp, or gpg 1.x.
I think this explains why I saw examples of others using gpg2 in there `pkg_install.conf` files.

[2020-11-24 00:02] jdwhite commented on #288
Found `netpgpkeys`. Unfortunately, both `netpgp` and `netpgpkeys` yield a segfault for me for every action. I just built these from pkgsrc-current on Catalina. Same results using packages from the Joyent repo.

[2020-11-24 02:44] jdwhite commented on #288
I finally had success with signing and verifying packages using gpg v1.x in that I could successfully do a `pkg_admin gpg-sign-package ...` followed by a `pkg_info -X ...`.  After that success, if I replace `GPG=` with `gpg2` (changing nothing else) then it doesn't find the secret key. Apparently gpg2 doesn't grok the 8-character version of the key id. Trying the longer version from `gpg2 --list-k

[2020-11-24 09:18] jperkin commented on #288
Yeh, this is why I specifically have our https://github.com/joyent/pkgsrc-joyent/tree/master/gnupg20 package which retains the 2.0.x branch.  I needed it because they broke gpg-agent compatibility in 2.2.x but it also seems like they broke compatibility in other areas too.

You should be able to install the `gnupg20` package to get it, and then I think things should work correctly.

[2020-12-04 14:51] jperkin commented on #257
In the 19.4.0 image / 2019Q4 package set there is now a `duo-unix-compat32-1.0` package available, containing the `pam_duo.so` library from the 32-bit build.  Could you give it a spin?  Should just need to change the path to be `/opt/local/lib/security/i386/pam_duo.so` instead, the config file should remain the same.

[2020-12-04 14:53] jperkin commented on #286
Hey, sorry I didn't respond to this ticket earlier, both of these issues have since been fixed and there should be a working unbound package available in trunk again.

[2020-12-04 14:53] #286 closed, assigned to jperkin

[2020-12-11 08:23] ThauEx opened #291 "fatal: iconv_open(UTF-8,UTF-8-MAC) failed"
In some git repos I'm getting the following error:

[code]

This issue is describing the same problem and a possible fix: https://github.com/conda-forge/git-feedstock/issues/50

[2020-12-11 09:31] jperkin commented on #291
The problem here is that we can no longer link against the system libiconv due to the mess Apple have made of shared libraries.  It may be that we can patch the pkgsrc libiconv to support UTF-8-MAC, but in the meantime I think you'll either need to use the system-supplied git or implement the workaround as suggested in the output.

[2020-12-11 09:34] ThauEx commented on #291
This is, was I did (disabled precomposeunicode), but would be really nice, if you could implement those patches.

[2021-01-04 15:48] #126 closed, assigned to nobody

[2021-01-04 15:48] #133 closed, assigned to nobody

[2021-01-04 15:48] #134 closed, assigned to nobody

[2021-01-04 19:37] jimhall opened #292 "scikit-build python package for pkgsrc"
Hi -

I was trying to build a python package on Solaris called [Camelot](https://camelot-py.readthedocs.io/en/master/).

Camelot seems to have a dependency on the python package [scikit-build](https://github.com/scikit-build).

scikit-build has some code `skbuild/platform_specifics/platform_factory.py` which prevents building on illumos / Solaris. But it does allow for FreeBSD. Browsing this repos

[2021-01-04 19:49] jimhall commented on #292
Forgot to add I have submitted a request to scikit-build [Issue 520](https://github.com/scikit-build/scikit-build/issues/520), but that repo is not super active.

[2021-01-04 19:51] jperkin commented on #292
Yeh it doesn't look like there's anything specific in there that prevents it from running on other OS.

There are a bunch of scikit packages in pkgsrc-wip but not this one, I'll try to take a look some time.

[2021-01-04 19:54] jimhall commented on #292
Thanks for the quick response!

[2021-01-04 20:22] jclulow commented on #127
Not sure this was fixed in that commit...

[2021-01-04 20:28] sjorge commented on #127
I don't think any of the closed one by that commit were fixed.

[2021-01-04 20:40] jperkin commented on #127
Stupid GitHub autoclose.

[2021-01-11 08:00] gaultier opened #293 "Segmentation fault on macos when installing a new package"
[code]

Indeed when using dtrace we see that `strdup` and hence `strlen` are called on a NULL address:
[code]

`pkgin upgrade` also segfaults in the same way with a similar backtrace.
I have installed it following the official commands (minus the gpg check).

Thanks for the tool, it is otherwise great.

[2021-01-11 09:09] jperkin commented on #293
Hmm, this may be NetBSDfr/pkgin#94.  If you run `pkg_add -U pkgin` and then try again does it still fail?

[2021-01-11 12:48] gaultier commented on #293
Yes, it seems to work now after running this command. Thanks.

[2021-01-12 08:37] dca58 opened #294 "Missing ossec-* packages in base-64-lts 20.4.0 ?"
Those packages are missing from 2020Q4, will they be added later or is ossec being abandoned ?
Particularly interested in the ossecc-client package as it is running in all of our zones.

[2021-01-12 09:16] jperkin commented on #294
I'll fix those shortly, thanks for the headsup!

They also haven't been updated for a while, I don't use these packages personally, so assume they are ok to update to the latest stable 3.6.0 version?

[2021-01-12 09:33] dca58 commented on #294
Yes, that would be perfect, we already have a few 3.6 instances on Ubuntu connected to a 2.9 server.

[2021-01-13 08:28] jperkin commented on #294
It'll take a while to update to the latest, so for now I've just fixed the existing packages.  They are now available in 2020Q4.

I'll leave this ticket open for the update.

[2021-01-13 08:39] dca58 commented on #294
There are indeed there, thanks a lot, that was quick !

[2021-01-19 08:16] #293 closed, assigned to nobody

[2021-01-24 08:56] jcleng opened #295 "install php72-fpm-7.2.34nb5,without php-fpm file after installation"
hi, im  new hand
[code]
[code]

[2021-01-25 13:51] jcleng commented on #295
sorry i know
[code]

[2021-01-25 13:52] #295 closed, assigned to nobody

[2021-01-27 15:52] #34 closed, assigned to nobody

[2021-02-13 18:30] anoxic commented on #287
Hi, I'd love to see this as well. Just set up a Mini with an M1, if there's anything I can do to help let me know.

[2021-02-13 19:20] jperkin commented on #287
Yeh sorry it's taking so long.  We've had hardware for a while, but unfortunately we're still waiting for someone to be able to physically go to it and disable SIP, and that's proving difficult with COVID restrictions.

We can't perform any builds until SIP is disabled, but as soon as that's done we should have packages soon after.

[2021-02-15 22:42] anoxic commented on #287
That makes sense. I'm unable to compile pkgsrc manually for some reason (pkgtools/cwrapper is having an `No suitable Xcode SDK or Command Line Tools installed.` I'm guessing it's an old SDK dependency, but I haven't finished trying to figure out if there is already a fix for it in some other ticket elsewhere), so I'm just hoping it might happen more quickly, but I understand the pause.

[2021-02-20 18:55] idodeclare opened #296 "zabbix-agent "Number of running processes" includes sleeping processes"
`proc.num[,,run]` is reporting the same value as `proc.num[]`.

I am newly trying the pkgsrc version of the agent on openindiana. BTW the extra.omnios agent works correctly to filter only running processes.

Thank you.

[2021-03-10 16:59] #148 closed, assigned to nobody

[2021-03-10 16:59] #177 closed, assigned to nobody

[2021-03-10 22:47] papertigers opened #297 "libedemangle not found when attempting to build smartos on an omnios pkgsrc zone"
mail_msg points out:
[code]

And when one tries to manually install that version of java:
[code]

[2021-03-12 15:49] jperkin commented on #297
Fixed as part of https://github.com/joyent/pkgsrc-joyent/commit/70723573186bcea7c3d1dc0429c3179ed8d27b52, thanks!

This is in the process of being merged back to all the current LTS releases.

[2021-03-12 15:49] #297 closed, assigned to jperkin

[2021-03-17 18:17] gotwf opened #298 "Clamav is too stale for freshclam updates on base-64-lts@18.4.0"
Latest stable version of clamav is 0.103.1

Present pkg version is stuck back at clamav-0.99.4nb3:

EOL Policy:

https://www.clamav.net/documents/end-of-life-policy-eol

[2021-03-30 16:16] lispstudent commented on #274
Is there any particular reason holding this back?

I could try to compile it myself in a OmniOS zone and report back, unless there are some serious showstoppers (I am not a build expert).

[2021-03-30 16:23] jperkin commented on #274
Realistically things are only updated when people who are interested in them make that happen.  One of the things that make this one a little trickier is that there are quite a lot of patches in the current pkgsrc version, and so someone who uses this software is going to need to go through them and figure out which are still required and which can be dropped.

I'm more than happy to provide pkgsr

[2021-03-30 16:26] lispstudent commented on #274
Thanks,

I am definitely willing to try, although I am a absolute newbie and the "quite a lot of patches" part sounds a bit scary.

I will try, using a pkgsrc zone on OmniOS and report back.

[2021-03-30 16:35] lispstudent commented on #274
As reference, these are the [patches](https://github.com/joyent/pkgsrc/tree/trunk/sysutils/amanda-common/patches) mentioned above.

[2021-03-31 17:02] numericillustration opened #299 "upstream nmap bug on Big Sur"
[code]
Looks like I'm hitting https://github.com/nmap/nmap/issues/2079

I think I'm running the release for Big Sur
[code]

[2021-04-15 01:50] smokris opened #300 "Elasticsearch 7.12"
Hi @jperkin.  The current Elasticsearch version is 7.12.0, but the [SmartOS base64 package](https://github.com/joyent/pkgsrc/tree/joyent/release/trunk/databases/elasticsearch) is version 6.8.8.  Would it be practical to update that package?

[2021-04-15 10:26] jperkin commented on #300
Yeh I need to take a look at this at some point.

[2021-04-17 00:45] smokris commented on #300
I've been tinkering with it over the past few days, and I was able to get it to build with this patch:
[elasticsearch-7.12.0-sunos.txt](https://github.com/joyent/pkgsrc/files/6328379/elasticsearch-7.12.0-sunos.txt)
[code]
(I haven't figured out the pkgsrc package build system though.)

When I launch it in server mode, it complains about not finding JNA (`libjnidispatch.so`)… but the server finishe

[2021-04-18 02:02] smokris commented on #300
Correction: in order to talk to other Elasticsearch nodes, it needs to be built from inside the Git source tree.  Updated steps:
[code]
(Now the version string includes the Git commit hash instead of "unknown", enabling this Elasticsearch build to confirm compatibility with other 7.12.0 nodes.)

[2021-04-23 19:36] bahamas10 opened #301 "ffmpeg not found in trunk"
[code]

Is all I see.  I was able to compile it manually against the latest master branch with:

[code]

---

**edit:** I should mention I had to install the following packages for this to compile:

[code]

`fdk-aac` was something I needed for my own usage of `ffmpeg` FWIW

[2021-04-23 19:55] jperkin commented on #301
Looks to be due to the libbluray update:

https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20210422.1237/libbluray-1.3.0nb1/build.log

Unfortunately we can't enable fdk-aac as it's a restricted license.

[2021-04-23 20:07] bahamas10 opened #302 "mosquitto not found in trunk"
[code]

I can compile it manually with:

[code]

I then edited `config.mk` to set `WITH_CJSON=no` as it failed to compile with it enabled (and i don't personally need it). After, I ran:

[code]

and it installed.

mosquitto works:

[code]

pub and sub kinda work:

[code]

I want to say this was a known issue and there was some sort of patch for this? I'm not certain though.  I spoke with @papertig

[2021-04-23 20:08] bahamas10 commented on #301
Ah interesting. And that's totally fine about `fdk-aac` - I don't personally mind having to custom compile it for that.  I just noticed `ffmpeg` was missing entirely and thought that was an issue worth bringing up.

[2021-04-23 20:16] papertigers commented on #302
Hmm it looks like its in 2020Q4:
https://pkgsrc.joyent.com/packages/SmartOS/2020Q4/x86_64/All/mosquitto-1.6.12nb1.tgz

My first guess is that it failed in the trunk bulk build.  Not sure if those logs are published anywhere.

[2021-04-23 20:18] sjorge commented on #302
Yeah 2020Q4 had it! I guess something new broke :(
My zone using it is still on 2020Q4.

[2021-04-23 20:20] jperkin commented on #302
Yeh it doesn't detect broken epoll correctly: https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20210422.1237/mosquitto-2.0.10/build.log

The latest trunk build report is here for other failures: https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20210422.1237/meta/report.html

[2021-05-02 03:11] bahamas10 commented on #302
Forgive my ignorance here, but do trunk built packages need to work on a system with a broken epoll header?  I did some digging into mosquitto and found that epoll support is relatively new, and can be disabled by setting:

    WITH_EPOLL:=no

In the `config.mk` file at the root of the source tree - I'm not sure of any performance penalties or the like that comes with that config option.

[2021-05-02 03:18] bahamas10 opened #303 "samba not found in trunk"
I checked this report:

https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20210422.1237/samba-3.6.25nb27/install.log

The tail of the log is:

[code]

If I understand this correctly, the package is building successfully - there is just a stray file (or files) that wasn't accounted for by the build process.

---

Side note: I've been switching a lot of my joyent/pkgsrc zones over

[2021-05-11 17:26] baetheus opened #305 "qemu not available on darwin"
[code]

It doesn't look like it exists in the [11.0](https://pkgsrc.joyent.com/packages/Darwin/11.0/x86_64/All/) builds. Any chance it could be included in the future?

[2021-05-11 17:35] jperkin commented on #305
Unfortunately our build hosts are unavailable at the moment.  When they return I'll take a look at this, or it may be that the recent qemu updates have fixed this anyway.

[2021-06-04 15:08] rnkn opened #306 "Which pkgsrc branch are Joyent macOS binaries build from?"
Hey, thanks so much for hosting the Joyent macOS binaries.

Quick question, which branch are the binaries built from? I'm mixing pkgin binaries with packages built from source and not sure if I should be on this repo trunk or pkgsrc-2020Q4.

Thanks!

[2021-06-04 15:12] jperkin commented on #306
They're always from trunk, but unfortunately have not been updated in a few months while we wait for the hardware to finish relocating to a new data centre, so there will be a large difference between the currently available packages and what you would build if using trunk.

Note though that mixing isn't a great idea, and will break badly if any of the package options differ between the binaries a

[2021-06-04 15:24] rnkn commented on #306
Thanks for the quick reply! I'm using about 95% binaries, only building a few things with specific options, like ffmpeg, so I'm okay with the risks there.

Does NetBSD do their binaries like pkgsrc-YYYYQN?

[2021-06-04 15:24] #306 closed, assigned to nobody

[2021-06-04 15:27] jperkin commented on #306
The official NetBSD package repositories use the quarterly branches, but mostly because they do not have the resources to track trunk.  FWIW I offer daily(-ish) package builds for NetBSD current from https://pkgsrc.joyent.com/install-on-netbsd/

[2021-06-05 13:39] rnkn commented on #306
For macOS though I should stick with this repo's trunk HEAD, not NetBSD's?

[2021-06-05 14:29] jperkin commented on #306
Yeh, the `joyent/release/macos` branch.

[2021-06-26 17:16] jimhall commented on #292
Just a friendly check-in to see if scikit-build was put in pkgsrc-wip

[2021-06-27 05:49] kflu opened #307 "bootstrap install to non-default location"
Looks like joyent pkgsrc bootstrap installs to the default location `/usr/pkg`. Is there a way to customize the prefix, say, to non-previleged directory like `$HOME/pkg`?

This is what I was talking about - in e.g., https://pkgsrc.joyent.com/install-on-linux/, it says

[code]

If I change to `-c $HOME/pkg`, then when I do `pkgin list`, it will complain "cannot find /usr/pkg/sbin/pkg_admin". So it

[2021-06-27 06:44] jperkin commented on #307
Binary package sets are hardcoded to their chosen prefix, but you can build your own packages easily.  Grab a copy of pkgsrc, then:

[code]

Then build your chosen packages as normal, e.g.:

[code]

More information available in [the pkgsrc guide](https://www.netbsd.org/docs/pkgsrc/).

[2021-06-27 06:44] #307 closed, assigned to jperkin

[2021-06-27 07:28] kflu commented on #307
Thanks. But I want to use Joyent's pre-built packages via `pkgin`. I don't want to build from source myself, since that's very slow.

[2021-06-27 13:05] jperkin commented on #307
Yeh that's not possible, the prefix will be hardcoded into a huge number of places and there's no way to change that.

[2021-07-27 06:18] rnkn opened #310 "got: build failure on macOS Big Slurp 11.4"
Hello,

I'm sure you've heard of OpenBSD's `got` project 😉

I get a build failure on macOS 11.4, on
`commit aee7d89d72c5a4cd94e4f20b72c333d4775c0b98 (HEAD -> joyent/release/macos, joyent/joyent/release/macos)`

It seems that the OpenBSD compat code is assuming a system version of `sha.h`?

[code]

[2021-07-29 18:50] russhan commented on #247
It appears to me that this issue got resolved with https://github.com/joyent/pkgsrc/commit/81e324d51e6b24d910bae5ef183e7c20a4ad4864

[2021-08-05 10:46] rnkn commented on #310
Some possibly helpful info from #gameoftrees IRC:
[code]

[2021-08-05 13:10] rnkn commented on #310
Another quick update; attempted to build `libmd` from https://github.com/guillemj/libmd but ran into a rather disheartening failure:
[code]

The same with both gcc and clang :(

[2021-08-08 02:57] rnkn commented on #310
After consulting with #netbsd it seems okay to just address this on NetBSD gnats. I'll close this so we just have the one thread: http://gnats.netbsd.org/cgi-bin/query-pr-single.pl?number=56349

[2021-08-08 02:57] #310 closed, assigned to nobody

[2021-08-17 08:42] #146 closed, assigned to nobody

[2021-08-29 03:13] ghost opened #311 "nvi not available despite being on the repository"
On macOS (Big Sur Intel/x86) nvi isn't listed when I search for it using ```pkgin search nvi```, but it's present on the pkgsrc repository: https://github.com/joyent/pkgsrc/tree/trunk/editors/nvi

[2021-08-29 05:27] whorfin opened #312 "p7zip commands silently truncated terminal-entered passwords to 8 characters"
Filing here from https://github.com/joyent/smartos-live/issues/999 upon request

Using
[code]
on
[code]
and having installed `p7zip`

I find that long entered passwords are silently truncated to 8 characters...

Basically, because Solaris crippled `getpass()`, `getpassphrase()` should be called instead on Illumos.

Same behavior is observed with the omnios-native
[code]

Reported to omnios-build:

[2021-08-29 06:43] jperkin commented on #311
Yeh, unfortunately just because a package is in pkgsrc doesn't mean it's going to be available as a binary package, there are usually at least a thousand broken packages on most platforms depending on build issues in the third-party software.

The bulk build reports are posted to <https://mail-index.netbsd.org/pkgsrc-bulk/> where the latest build for that package set is <https://mail-index.netbsd.

[2021-08-29 11:13] ghost commented on #311
If I make a patch, or if I want to submit a new package, should I send it here, to NetBSD's pkgsrc-wip, or both?

[2021-08-29 13:19] jperkin commented on #311
For new packages you should get a wip account (http://pkgsrc.org/wip/) and push your submissions there so we can easily test and import.  For patches either here or https://github.com/netbsd/pkgsrc. Thanks!

[2021-08-30 16:45] drboone opened #313 "haproxy 2.4.3 fails to start, complains about CFLAGS used during build"
After update to haproxy 2.4.3 this morning, it failed to start.  From the service log:
[code]
This may be relevant - https://github.com/haproxy/haproxy/commit/1335da38f4 - discussion of checking for the compiler option -fwrapv.

Downgrading to 2.4.2 got us back on the air for now.

[2021-08-30 18:29] goekesmi commented on #313
The haproxy Makefile has quite a bit of CFLAGS manipulation in it.  Given what it needs, this might be the better way to pass in the pkgsrc CFLAGS setting:

[code]

With this change, haproxy does build, package, and not throw errors at startup.

[2021-08-31 09:18] jperkin commented on #313
Ugh, thanks.  I've applied this patch upstream and will get a trunk build started as soon as it's merged to git.

[2021-09-01 06:45] jperkin commented on #313
Ok, the fixed `haproxy-2.4.3nb1` is now available in the trunk package set.  Sorry for the mess.

[2021-09-01 06:45] #313 closed, assigned to nobody

[2021-09-01 15:01] drboone commented on #313
Thanks!

[2021-09-14 07:54] lispstudent commented on #311
Just as reference for other people looking, same issue for gitea: present in [www/gitea](https://github.com/joyent/pkgsrc/tree/trunk/www/gitea), but currently not as binary:

[code]

[2021-09-14 08:02] jperkin commented on #311
Which repository is this for? Note that pkgin does not accept pkgsrc paths as install arguments, you specify the package name, so the command would be `pkgin install gitea`, not `pkgin install www/gitea`.

[2021-09-14 08:30] lispstudent commented on #311
It is inside an OmniOS `pkgsrc` zone, `omnios-r151038`:

[code]

[2021-09-14 09:03] jperkin commented on #311
Ok, looks like the ugprade to go 1.17 broke this, I'll try to fix it this week.

[2021-09-26 13:59] lispstudent commented on #311
I can confirm it is fixed and well working on my side. I had already tested it last week, but forgot to mention it here. Thanks!

[2021-10-13 05:00] JohnDDuncanIII opened #314 "Big Sur Darwin/11.0/trunk/arm64: 135 packages failing to bulk build due to legacy Imake xorg-cf-files M1/arm64/aarch64 error"
I was hoping to upgrade from the `Darwin/11.0/x86_64` to the `Darwin/11.0/arm64` bootstrap in order to run native arm64 packages (rather than x86_64 packages through Rosetta 2) on my M1 MacBook, but it looks like some of the legacy `Imake` [XQuartz](https://www.xquartz.org/) programs which I use regularly (catclock, xworld, xphoon, etc.) are broken due to

[code]

in the most recent Darwin arm64 b

[2021-10-23 04:24] dcarosone opened #315 "net/bind916 doesn't seem to exist, but I have it installed"
Seem to be stuck unable to upgrade, binary fails to start because it's now missing an ldap .so

[code]

Current trunk and PI, as shown.

What's going on?  I assume 9.16 is missing from a set list, and/or fails to build?  Do I just switch to 9.11?

[2021-10-23 12:08] jperkin commented on #315
Yeh looks like it's currently failing:

https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20211022.1415/meta/report.html
https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20211022.1415/bind-9.16.21nb1/build.log

[code]

This is coming from `patches/patch-lib_isc_unix_socket.c`.  I have no idea why this unknown type is being used.  Is this something that exists o

[2021-10-23 12:23] jperkin commented on #315
To start with I've put a shout out for someone who maintains the patchset to take a look: https://mail-index.netbsd.org/pkgsrc-users/2021/10/23/msg034610.html

[2021-10-27 18:55] ghost commented on #301
Is there any update if or when ffmpeg will be back in the trunk?

[2021-11-24 00:54] hotleave opened #316 "could not upgrade pkg_install after bootstrap has been installed"
Install bootstrap package from https://pkgsrc.joyent.com/install-on-osx/#bigsur-arm64-install

today when I run "pkgin ug", it reminds me have 3 package to upgrade, here is the console output

[code]

And here is the error log

[code]

It seems that pkgin delete `pkg_admin` and `pkg_info` when remove the old pkg_install package, and it need it to install the new one. Here is the content of directo

[2021-11-24 07:22] jperkin commented on #316
Yes, sorry, Apple broken `vfork()` in Monterey which causes the pkg_install upgrade to fail and leave the system in a broken state.

You'll need to follow the workaround instructions that I sent out here: https://mail-index.netbsd.org/pkgsrc-users/2021/11/08/msg034705.html

That should hopefully get you going again.  Once you've moved past the breakage there shouldn't be any issues.  Sorry about t

[2021-11-24 07:22] #316 closed, assigned to jperkin

[2021-11-24 11:57] hotleave commented on #316
Thank you very much. I had upgraded pkg_install following by the instruction.

[2021-11-29 16:41] jimhall commented on #292
Hi -

Just another friendly check-in. It looks you are making a to a language called gauche. Just curious what that has to do with scikit-build?

[2021-11-29 16:44] jperkin commented on #292
I've not had the chance to look at this yet.  The gauche thing is a GitHub bug that they refuse to fix, unfortunately any commit to pkgsrc that references any existing ticket in this repo will get tagged, and there's nothing we can do to turn that off.

[2021-11-29 22:44] drboone opened #317 "Perl's GDBM_File module doesn't seem to work"
I noticed this while installing MARC::Charset, which uses AnyDBM_File (with gdbm as first pref) to build a table of character mappings.  It seems to be unable to extract values from its tied hash.

After a bit of digging, I realized that GDBM_File, which is included in base perl, doesn't pass its tests during the perl build:
[code]

[2021-12-04 15:00] smokris commented on #300
Withdrawing this request; see https://github.com/joyent/pkgsrc/pull/308#issuecomment-986041113.

[2021-12-04 15:00] #300 closed, assigned to jperkin

[2021-12-20 10:38] ghost commented on #301
I just got to update my system. Everything works again, thanks!

[2021-12-22 21:32] drboone opened #318 "pkgsrc: cffi expects libffi.so.7, but libffi provides libffi.so.8"
python38-3.8.12nb1
py38-cffi-1.15.0
libffi-3.4.2nb1

I can produce the issue by trying to install git+https://github.com/Kozea/WeasyPrint@046f27bf982d285fdc069acbc0168f0dce1af503
(I doubt the commit spec is needed, but I haven't tried otherwise.)
[code]

[2021-12-22 21:52] drboone commented on #318
This was apparently caused by a pip cache.

[2021-12-22 21:52] #318 closed, assigned to nobody

[2022-01-10 18:43] robohack commented on #107
Yet another case of GitHub cross-referencing the wrong issue number from an unrelated commit?

[2022-01-21 18:22] bahamat opened #319 "python virtualenv seems broken on mac M1"
Installing packages using pip into python virtual environments isn't working for me, at least for any packages I've tried.

I don't know if this is because the requested package needs to be updated to recognize M1, a bug in virtualenv itself, a bug in python itself, or if it's just something with pkgsrc python on M1.

* This works fine on x86. macOS monterrey 12.1 for both x86 and arm.
* This does

[2022-02-04 20:23] MagnetarRocket opened #320 "Failed install on macOS m1"
I tried to install pkgsrc using a .sh file to consdolate the process, but somehow pkgsrc is non-functional, I can't open up a man page on it, or even run the utillties for it, at this point i feel like a uninstall script would be needed because i need a fresh start

the sh file is a txt attached below:
[joy-pkgsrc-install .txt](https://github.com/joyent/pkgsrc/files/8006037/joy-pkgsrc-install.txt)

[2022-02-04 21:04] MagnetarRocket commented on #320
Now it has been resolved, the eval command should be done in the home directory (i think). I will leave this here as apparently i installed pkgsrc from a external drive onto the main system.

[2022-02-08 16:28] dca58 opened #321 "Oldish gitea package in base-64-lts 21.4.0"
The package in base-64-lts 21.4.0 is gitea-1.13.4nb13.tgz but 1.15 was released last summer and 1.16 a few day ago.
It would be great to have one of these as significant improvements were introduced in 1.15.

Kind regards

[2022-02-08 16:39] jperkin commented on #321
Is it something you would consider being maintainer for?  The current maintainer hasn't been active for quite a while.

[2022-02-08 16:52] dca58 commented on #321
I don't have enough time currently, sorry...

[2022-02-11 16:45] lschweiss-wustl opened #322 "All new packages on Illumos broken"
On or about February 6th, 2022.  All packages that get updated from pkgsrc will not run.  They fail with a libc error:

[code]

This is happening on older (20200124) with packages that get updated and new installations (20220208) with most packages.

[2022-02-11 18:07] lschweiss-wustl commented on #322
I forgot to mention this is on OmniOS CE r151030 and r151038.

[2022-02-13 04:42] MagnetarRocket commented on #320
Closing for now

[2022-02-13 04:42] #320 closed, assigned to nobody

[2022-02-14 12:24] lschweiss-wustl commented on #322
This is a serious problem.  Pkgsrc is now unusable on OmniOS.

It appears to be a build problem for the library binaries starting around the time of the 2022Q1 release.

[2022-02-14 22:36] jfqd commented on #322
For SmartOS the solution was to use a newer platform image.
I am too far away from OmniOS, but is this an issue too with latest CE version?

[2022-02-15 13:52] lschweiss-wustl commented on #322
I will test the latest CE, however, it is a problem on both active LTS versions.

Upgrading to the latest CE is not an option for production systems.

[2022-02-15 15:37] lschweiss-wustl commented on #322
I just upgraded an r151038 to r151040 and the problem goes away.  Looks like something is compiling against too new of a library for anything older.

If this cannot be resolved quickly, are there some docs on building this for myself so I can make a working repository?  I have many broken systems right now.

[2022-02-15 16:03] jfqd commented on #322
@jperkin mentioned it here: https://smartos.topicbox.com/groups/smartos-discuss/Tb9044eab41e370b0/heads-up-trunk-migrating-to-20210826-gcc-10

You may use 2020Q4 instead of trunk with older OmiOS systems.

[2022-02-15 16:11] lschweiss-wustl commented on #322
I am using 2020Q4 on most of my systems.   This problem started on those systems when some packages were updated last week.

Installing a new OmniOS with 038 and 2020Q4 is now broken.

[2022-02-15 16:17] jfqd commented on #322
Oh shit. I can feel your pain. For us it was only a reboot with a newer SmartOS platform image.

[2022-02-16 12:06] drscream commented on #321
I will have a look, but the commit will be for trunk. So maybe @jperkin like to backport it later ;-)

[2022-02-16 14:13] dca58 commented on #321
Is there a good, up to date, tutorial or blog entry to get started building packages for SmartOS ?

[2022-02-16 16:22] drscream commented on #321
The latest `gitea` version has been pushed into `trunk` you can find more details in the [pkgsrc-changes list](https://mail-index.netbsd.org/pkgsrc-changes/2022/02/16/msg249351.html). Additional to that a binary package could be found for the 2021Q4 branch at[skylime-extra](https://pkgsrc.smartos.skylime.net/skylime-extra/2021Q4/x86_64/).

Additional to your second question, have a look at in the

[2022-02-17 10:03] dca58 commented on #321
Thanks a lot for this !
I wanted to give it a try but failed to install it ("pkg_add: unable to verify signature: Signature key id 4c5fa701f7d8ac9b not found").
I try to play with VERIFIED_INSTALLATION=trusted or never but it didn't help.
Thanks anyway

[2022-02-17 10:06] drscream commented on #321
Yea sorry, our packages are signed by SkyLime. You can find an GPG key file which contains the Joyent and SkyLime public key here: https://github.com/skylime/mi-core-base/blob/master/copy/opt/local/etc/gnupg/pkgsrc.gpg

(Backup and) replace the existing `/opt/local/etc/gnupg/pkgsrc.gpg` with the file you downloaded.

[2022-02-17 10:17] dca58 commented on #321
That helps a lot, thanks again !

[2022-02-21 09:52] jperkin commented on #322
Hey, I'm really sorry this broke your install. This is completely my fault, I was under the mistaken impression that OmniOS systems (and other illumos distributions) were generally a lot more up-to-date than SmartOS, and so didn't factor that into my decision and subsequent announcements to bump our minimum platform requirement.

As for 2020Q4 installs, nothing has changed there.  Only trunk and 2

[2022-02-21 15:50] lschweiss-wustl commented on #322
I've realized this morning I'm partially at fault here.  I thought I had 2020Q4 on most of my systems.   In fact, I had 20201019 on them due to some problems I had at the time of building my deployment stack.

Am I safe to wipe out /opt/local and reinstall 2020Q4 from scratch?  I'm not worried about any of my configurations, Puppet will restore them.

[2022-02-21 15:54] jperkin commented on #322
Yep, clear out `/opt/local` and `/var/db/pkgin` and then you should be able to unpack a fresh 2020Q4 bootstrap and go from there.

[2022-03-01 17:47] numericillustration commented on #299
I've upgraded to Nmap 7.92 via pkgsrc and OSX to
[code]
and  no longer see this issue.

[2022-03-01 17:47] #299 closed, assigned to nobody

[2022-03-02 18:54] numericillustration opened #323 "python pip installed packages needing wheels fail to build with sysconfig errors"
Python is unable to find the appropriate sysconfig data info for both Mac and Smartos systems during pip installs.  For comparison it works on both the Debian distribution of py3 and the python org downloads for Mac. Output from both is included here:

on MacOS I first came across this in virtualenv installs in both py 3.7 and 3.9
*3.7*

[code]
*3.9*
[code]
But it also failed for me in global inst

[2022-03-02 18:54] numericillustration commented on #323
*Debian 10 for comparison*:
[code]

and with the Python.org MacOS installer Python
[code]

I'm not sure if its related to the macports bug fix for
`python39 @3.9.0, python38 @3.8.7, python37 @3.7.10, python36 @3.6.13: +universal does not work with longer than normal CFLAGS`
https://trac.macports.org/ticket/61282

or something unique to the pkgsrc build

[2022-03-08 13:03] 0-wiz-0 commented on #323
There's two bugs here, I think, one in virtualenv and and one in pip.
Please try the following workaround, adapted to your python version:
[code]
The cp works around the problem in virtualenv, and the '--no-build-isolation' works around the bug in pip.

[2022-03-10 00:49] MagnetarRocket opened #324 "A failure to install GraphicsMagick"
this also somehow is related to why Mxterm will not work at all with any Mac I try it with.

bellow is the log:
[pkg_install-err.log](https://github.com/joyent/pkgsrc/files/8219231/pkg_install-err.log)

[2022-03-10 06:12] MagnetarRocket commented on #324
Also Image-Magick seems to be affected by this

[2022-03-10 07:46] jperkin commented on #324
The *Magick issue is that you already have `pkg-config` installed, but the default implementation in pkgsrc is `pkgconf`, if you `pkgin rm pkg-config` and then proceed it should work.

The mxterm issue is similar, the xquartz meta package depends on xterm, but you already have mxterm installed.  I'll look at fixing that in pkgsrc as it shouldn't matter which implementation you have installed.

[2022-03-10 07:53] jperkin commented on #324
Also, just to explain why the pkg-config issue is showing up with the *Magick packages and not others, for some reason they specify that pkg-config is a runtime dependency.  Normally it's only used at build time and so wouldn't be pulled in by `pkgin install`.

[2022-03-10 07:55] MagnetarRocket commented on #324
Ok, I think I found the root of the issue- ``` pkg_add: Package `pkgconf-1.8.0' conflicts with `pkg-config-[0-9]*', and `pkg-config-0.29.2nb1' is installed. ```

@jperkin , I found a way to resolve the issue of `gm` before you commented, but I forgot to post my comment before you did.

Also I have Xquartz installed separately from pkgin.

[2022-03-10 10:53] dca58 opened #325 "openjdk17 availability ?"
The latest available OpenJDK is openjdk11, is it foreseen to have a openjdk17 (LTS) at some point ?
Is yes, an approximate timeframe would be great...
Thanks a lot

[2022-03-10 11:12] jperkin commented on #325
I don't know.  Oracle dropped support for Solaris, and while ptribble and others have done a great job resurrecting patches, it's clear that it will always be a massive uphill struggle from now on to continue supporting newer versions, and will only get more difficult as time goes on.

Ultimately it will depend on volunteers who care enough to do the work in the first place, and then continue to m

[2022-03-11 06:27] MagnetarRocket opened #326 "mXterm refuses to start"
Should also effect xterm derivatives installed from pkgsrc on mac, attempting to start mXterm results in this:
`xterm: no available ptys: No such file or directory`
Looking for solutions for this problem shows that; apparently, it's an archaic problem with no easy solutions for modern systems.

[2022-03-26 18:57] drboone opened #327 "nginx no longer has status module"
Suddenly this morning, the `stub_status` directive was failing.  It appears that the package was upgraded to 1.21.6nb5, and that the status module isn't being built any more.  Previous version appears to have been 1.21.6nb3.

[2022-03-26 19:39] jperkin commented on #327
Ah yeh I know what this is, the `nginx-devel` package which is where 1.21 comes from switched its options name so it no longer shares the same options as `nginx`.  I'll get this fixed.

[2022-03-27 06:29] jfqd commented on #327
@jperkin Thx for pointing out this issue. Here is the nginx module output:

nginx/1.21.6 before the update

[code]

nginx/1.21.6 after the update

[code]

Missing are `stub_status`, `http_gzip_static`, `http_slice`, `http_uwsg`, etc.

[2022-03-29 14:25] jperkin commented on #327
This has been fixed in the SmartOS trunk and macOS Big Sur repositories, one of which I assume you both are using.  Apologies for the breakage.

[2022-03-29 14:25] #327 closed, assigned to jperkin

[2022-03-29 14:27] drboone commented on #327
Thanks @jperkin!

[2022-03-29 14:30] jfqd commented on #327
@jperkin Thx a lot!

[2022-03-31 08:59] moenoel opened #328 "DHCP server packages missing or broken"
The package `isc-dhcpd` that previously existed is missing (but `isc-dhcp` is still there), which breaks existing installs when updating.

An alternative seems to be `kea`, but that is missing an SMF manifest and also its management scripts are broken, as they don't work with `/bin/sh` on SmartOS.

Would love if either or both of these could be fixed.

[2022-03-31 09:51] jperkin commented on #328
Thanks for the heads up, I've fixed the `isc-dhcpd` package and it should show up in the next push.

[2022-03-31 10:57] moenoel commented on #328
Thank you. Do you have an ETA for when the package will be available again?

Also, just for the record, in case anyone wants to look at the `kea` package in future for some reason: There are several more broken aspects about it. The management script `keactrl` uses `basename -- <stuff>`, which doesn't work with SmartOS' `/usr/bin/basename`. It also wants to access `/dev/bpf0` which seems to be `/d

[2022-03-31 11:11] jperkin commented on #328
It'll be in the build after the one that is currently executing, so my guess would be possibly later tomorrow.

[2022-04-01 16:16] jperkin commented on #328
This is now available.

[2022-04-01 16:16] #328 closed, assigned to nobody

[2022-04-01 16:22] enkl7 opened #329 "Xquartz not starting"
Machine: Macbook Air (m1)
OS: Monterey 12.2.1

I installed modular-xorg and modular-xorg-quartz from [https://pkgsrc.joyent.com/packages/Darwin/11.0/arm64/All/](url) which seems to automatically pull down all the dependencies to run a X server.

Launching startx warns that `/opt/pkg/bin/X` no such file or directory - and suggests to make a script or link to the appropriate X server (xquartz in thi

[2022-04-07 10:25] jperkin commented on #329
Note the message that is printed when installing `modular-xorg-xquartz`:

[code]

Note that the first two commands aren't actually required (I should fix the message file).  An easier way to launch it is, after making the necessary `~/.xinitrc` changes, to run:

[code]

This works for me on Intel.  If you're still unable to launch using these instructions then it may be an Arm issue, and I'll try

[2022-04-09 09:18] enkl7 commented on #329
Thanks for the input @jperkin , unfortunately though the error still remains and X refuses to start.

[2022-04-30 11:05] jfqd opened #331 "PowerDNS CVE-2022-27227"
PowerDNS Authoritative Serve from trunk with Version 4.4.1 has a known CVE reported by the [security-advisory](https://doc.powerdns.com/authoritative/security-advisories/powerdns-advisory-2022-01.html).

Not affected PowerDNS versions are:

* Authoritative Server: 4.4.3, 4.5.4, 4.6.1
* Recursor: 4.4.8, 4.5.8 and 4.6.1

Would it be possible to get a newer version of PowerDNS Authoritative Server an

[2022-04-30 11:10] jfqd opened #332 "MySQL and Percona Server 8 are missing"
MySQL and Percona Server 8 are missing in trunk. Latest version is 8.0.29 vor MySQL an 8.0.27 for Percona Server.

[2022-05-12 07:36] jfqd commented on #332
@jperkin Thx for bringing Percona Server 8 back to trunk. Start crashes with "abort_handler_s: memset_s: s is NULL" error.

[code]

Do you have any idea what the issue might be?

[2022-05-12 07:37] jfqd opened #333 "opendmarc package missing in trunk"
Would it be possible to get the opendmarc package back in trunk?

[2022-05-12 11:05] jfqd commented on #332
Tested it in a lx-zone with ubuntu 20.04 and the apt-repo from percona. No abort-notice on our databases.
So this must be an issue of the new compiled version of percona-server 8 in trunk.

We need mysql-server 8 or percona-server 8 cause of features mariadb is missing. So migrating over to mariadb is no option for us :/

[2022-05-14 07:42] jfqd commented on #332
Tried the latest build from two days ago, but it still has the same issues.

[2022-05-14 07:43] jfqd commented on #331
Would it be possible to get newer versions with the next build-process?

[2022-05-16 13:50] dca58 opened #334 "Zabbix 6.0 LTS"
But the available version in pkgin is still zabbix-4.0.24nb6, an update on the latest LTS image would be appreciated...
Kind regards

[2022-05-16 17:53] #247 closed, assigned to nobody

[2022-05-16 18:02] russhan opened #335 "opendkim missing from SmartOS/trunk"
opendkim is missing from SmartOS/trunk.  My best guess is it appears to be due to a hiccup with libmilter.

https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20220514.1357/opendkim-2.10.3nb8/depends.log
[code]

https://us-east.manta.joyent.com/pkgsrc/public/reports/trunk/x86_64/20220514.1357/opendkim-2.10.3nb8/configure.log
[code]

[2022-05-19 06:12] dca58 commented on #334
I see that a Zabbix 6.0 package is available on OmniOS, which may be an indication that there is no Illumos incompatibility.

[2022-05-25 12:59] jperkin commented on #332
Can I just check that you're using the latest versions available in the repository?  They'll be available via a refresh rather than a version bump.

I'm trying to reproduce this but failing so far.  The test suite is showing some failures, but overall is running the server fine and passing the vast majority of tests.

If it's still failing for you then if there's a way you can get a reproducible t

[2022-05-25 13:11] jperkin commented on #332
Just for the record:

[code]

[code]

[2022-05-25 15:00] jperkin commented on #335
I think this came in just before I'd already fixed it, it should be available now.

[2022-05-25 15:00] #335 closed, assigned to jperkin

[2022-05-25 15:01] jperkin commented on #333
This was done a little while ago.

[2022-05-25 15:01] #333 closed, assigned to jperkin

[2022-06-07 19:39] jfqd commented on #331
@jperkin The 4.4 branch of PowerDNS is EOL since this week. Would it be possible to get newer versions (4.5 or 4.6) with the next build-process?

[2022-06-22 02:34] papertigers opened #337 "Point to https://pkgsrc.smartos.org"
The GitHub slug still lists http://pkgsrc.joyent.com

The pkgsrc.smartos.org page also doesn't seem to have a valid SSL certificate.

[2022-06-22 08:31] jperkin commented on #337
Yeh, pkgsrc.smartos.org is still set up as the old 2013 site.  I'll be migrating it over to MNX soon.

[2022-07-06 18:35] jperkin opened #338 "Make postfix-pgsql multi-version"
From teutat3s on IRC:

[code]

[2022-07-06 18:48] jperkin opened #339 "Investigate sysbench mysql issue"
Nick mentioned sysbench depending on mariadb causing issues, dig into possibly making this multi-version, or ideally version-agnostic.

[2022-07-06 18:51] nwilkens commented on #339
Attempting to install sysbench to benchmark MariaDB (or Percona).

# pkgin install sysbench
calculating dependencies...done.

3 packages to install:
  sysbench-0.4.12nb10 postgresql13-client-13.5nb1 mariadb-client-10.6.7

Would like to use sysbench with a recent mariadb (or Percona) server version.

Additionally, I tried to install and ran into compatibility issues since I was using Postgres 14.

[2022-07-12 06:16] jfqd commented on #331
@jperkin Would it be possible to get a newer version cause of the mentioned CVEs? Otherwise this would be another switch to linux.

[2022-07-12 06:20] jfqd opened #340 "trunk transition to mnx: fail2ban-0.11.2 not compatible with python 3.10"
[fail2ban-0.11.2](https://github.com/fail2ban/fail2ban/blob/0.11.2/ChangeLog) is not ready for python 3.10 yet. Would it be possible to use and require python 3.9 for now?

[2022-08-03 15:37] brianewell opened #341 "PostgreSQL 14.4 pg_config isn't reporting configuration options under CONFIGURE"
PostgreSQL's `pg_config` is used to report on various atoms of information surrounding a PostgreSQL installation. Using the latest version available under trunk-x86_64, `pg_config` reports nothing at all for `CONFIGURE`:

[code]

I've confirmed the same behavior after spinning up a build environment and trying from source.

[2022-08-04 12:08] Toasterson commented on #46
I don't know if the 5 series received it's solaris support back but the 6.1 series has it in again. Our WIP PR here. https://github.com/OpenIndiana/oi-userland/pull/8941

[2022-09-06 14:20] mthalman opened #342 "Expired cert error for pkgsrc.joyent.com"
From build log:

[code]

From browser:

![image](https://user-images.githubusercontent.com/15789599/188659407-6be233db-5718-417f-8c40-0ec2f9c47c82.png)

[2022-09-06 14:42] jperkin commented on #342
Thanks, this was supposed to have been migrated to pkgsrc.smartos.org last Friday but got delayed.  I've renewed the cert for now, but you should really be updating your repositories to pkgsrc.smartos.org as per https://smartos.topicbox.com/groups/smartos-discuss/Tc0914fe1414685b5-M516296004a2f8ea793b60932 anyway, as you'll get PGP errors after the CNAME switch if you haven't imported the new key.

[2022-09-06 14:42] #342 closed, assigned to jperkin

[2022-09-07 14:58] drboone opened #343 "mailman: classic and larry skins vanished at 1.6.0"
Per the changelog, these two skins were moved to a separate repo (https://github.com/roundcube/roundcubemail/issues/8271)

https://github.com/roundcube/classic
https://github.com/roundcube/larry

Any chance these could be added to the roundcube package?

[2022-09-12 07:49] jfqd commented on #331
@jperkin Would it be possible to get a newer version cause of the mentioned CVEs from April?

[2022-09-12 07:59] jfqd commented on #332
@jperkin Sorry for the delay in answering. Tried the latest version on three instances. Two are running smoothly, but one instance is eroding all ram of the zone. Every two hours the ram was exhausted. Switched to mariadb for this zone cause of the issue. Sorry but I was not able to find the reason of the eroding ram issue.

Mariadb is ok for this zone, but for our main mysql cluster we depend on

[2022-09-12 08:00] jfqd commented on #340
@perkin Thx for solving this issue!

[2022-09-29 11:18] jfqd commented on #331
@jperkin Would it be possible to get the current PowerDNS version 4.6.0 for trunk? Or should we move to LX?

[2022-09-29 11:21] jfqd commented on #301
@leonryrko Can you please close the issue?

[2022-09-29 11:27] #301 closed

[2022-09-29 13:56] jperkin commented on #331
I've updated both the authoritative server and the recursor to their latest versions, and will kick off a new trunk build once the repository has been updated.

We could always do with more maintainers to help keep packages up-to-date, especially from people who use them in production.  Would you be interested in taking these on?

[2022-09-29 17:00] jperkin commented on #331
For reference, here are the commits:

* Update powerdns-recursor: https://github.com/NetBSD/pkgsrc/commit/9b64f206908b219c2a6177bf138e30513498571f
* Update powerdns: https://github.com/NetBSD/pkgsrc/commit/de9016138c55874cd22e1755bd44effdd4a4b8a2
* Update powerdns-* plugins: https://github.com/NetBSD/pkgsrc/commit/5b1c28ab3a9a0c1bfaadf52a1b7b9dbfc1e074e9

A lot of the changes are simple pkglint cl

[2022-10-05 07:22] jfqd opened #344 "dnsdist missing in trunk"
Cannot find **dnsdist** in trunk. Is it gone? In the latest list of build failures I cannot find it either.

[2022-10-05 07:29] jperkin commented on #344
https://us-central.manta.mnx.io/pkgsrc/public/reports/trunk/x86_64/20221001.2023/meta/report.html
https://us-central.manta.mnx.io/pkgsrc/public/reports/trunk/x86_64/20221001.2023/dnsdist-1.5.1nb3/install.log

I'll fix this today.

[2022-10-05 09:11] jfqd commented on #331
@jperkin Thx a lot! Will try the new package on saturday. Send you an email on the maintainer topic.

[2022-10-05 10:25] jfqd commented on #344
@ jperkin Thx a lot! newer dnsdig does not have a ```-d``` flag any more, so an additional method file is needed, see:

https://github.com/jfqd/mi-qutic-pdns/blob/master/copy/opt/local/lib/svc/manifest/dnsdist.xml
https://github.com/jfqd/mi-qutic-pdns/blob/master/copy/opt/local/lib/svc/method/dnsdist

[2022-10-08 09:13] jfqd commented on #331
@jperkin powerdns-mysql is missing. Update failed for me. Would it be possible to get this package back?

[2022-10-15 15:34] jfqd commented on #331
@jperkin Would it be possible to get the powerdns-mysql package back?

[2022-10-15 15:36] jfqd commented on #344
@jperkin Were there any issues building dnsdig?

[2022-10-15 20:48] danielktdoranie opened #345 "HexChat gone?"
I was able to install HexChat using pkgsrc on my MacBook Air (M1, 2020) running macOS Monterey 12.6 (21G115)... I did reinstall of the OS and now I get this when I try to install HexChat:

[code]
Was it removed from the repository?

[2022-10-17 08:17] jperkin commented on #345
I'll add this to the list of required packages and make sure it's in the next build.

[2022-10-17 15:57] jperkin commented on #337
I did this a while back.

[2022-10-17 15:57] #337 closed, assigned to jperkin

[2022-10-17 17:44] drboone opened #346 "mariadb fails to start: configured pid file location does not exist"
The supplied method script specifies a pid file location in a directory that does not exist, /var/run/mariadb.  The method script cannot create the directory because it is already running as mariadb.  For mysql, it looks like the approach taken was to place the pid file in /var/mysql, where the daemon does have write access.

[2022-10-18 11:42] danielktdoranie commented on #345
Thank you!

[2022-10-24 09:50] jperkin commented on #331
I've fixed mariadb106 which was blocking this, hopefully it will return in the next build.  I'll keep the ticket open until then.

[2022-10-24 11:08] jperkin commented on #344
I've updated dnsdist to 1.7.2 in trunk, it'll hopefully appear in the next build.  I'll leave this open until then.

[2022-10-25 10:37] jperkin commented on #325
I forgot to mention that an openjdk17 package has been available in trunk for a little while now.

[2022-10-25 10:37] #325 closed, assigned to jperkin

[2022-10-25 10:38] #322 closed, assigned to nobody

[2022-10-25 10:41] jperkin commented on #315
bind-9.16 is in the list of required packages (so we get notified if it goes missing, and publishing is disabled for that build), and has been available for a while now.

[2022-10-25 10:41] #315 closed, assigned to jperkin

[2022-10-25 10:47] jperkin commented on #311
nvi has been available for a while and is also now in our required packages list.

[2022-10-25 10:47] #311 closed, assigned to nobody

[2022-10-25 10:48] jperkin commented on #287
We've had arm64 packages available for a while now.

[2022-10-25 10:48] #287 closed, assigned to jperkin

[2022-10-25 11:57] jperkin commented on #22
Just a note to say that this type of issue has been fixed since, with the introduction of refresh support in pkgin.

[2022-10-25 11:57] #22 closed, assigned to jperkin

[2022-10-25 11:58] #288 closed, assigned to nobody

[2022-10-25 19:16] jperkin commented on #164
Sorry, not sure what happened to this, but this symlink certainly doesn't still exist.

[2022-10-25 19:16] #164 closed, assigned to jperkin

[2022-10-25 19:16] jperkin commented on #158
I pushed changes to pkg_install a few years ago that resolved this issue.

[2022-10-25 19:16] #158 closed, assigned to jperkin

[2022-11-01 13:00] jperkin commented on #345
hexchat is now available again.

[2022-11-01 13:00] #345 closed, assigned to jperkin

[2022-11-04 07:50] jperkin commented on #331
This is now available again.

[2022-11-04 07:50] #331 closed, assigned to jperkin

[2022-11-04 07:51] jperkin commented on #344
1.7.2 is now available.

[2022-11-04 07:52] jperkin commented on #321
gitea 1.16.8 is in trunk, and we can look at updating to the latest version prior to 2022Q4 being branched.

[2022-11-04 07:52] #321 closed, assigned to nobody

[2022-11-04 07:55] jperkin commented on #303
Oops, sorry, missed this ticket.  Samba has been in the required package list for a while now and so should always be available, and we're keeping 4.x up-to-date.  I'd recommend just running trunk unless there are specific reasons (e.g. a particular version of a package) you need to stick to an LTS.

[2022-11-04 07:55] #303 closed, assigned to jperkin

[2022-11-04 07:58] jperkin commented on #298
Apologies that I didn't get to this at the time. 2018Q4 has been EOL for a while, and newer LTS and trunk have more recent releases. Will be looking to get the latest in prior to 2022Q4 being released.

[2022-11-04 07:58] #298 closed, assigned to jperkin

[2022-11-04 08:01] jperkin commented on #187
Sorry that I didn't get to this at the time, xboard is available in the package repository now.

[2022-11-04 08:01] #187 closed, assigned to jperkin

[2022-11-05 20:13] jperkin commented on #332
I updated mysql80-* to 8.0.31 and they're now available in trunk.

[2022-11-05 20:13] #332 closed, assigned to jperkin

[2022-11-19 12:22] jfqd commented on #340
Did an update on trunk today and `fail2ban-0.11.2nb2` now try to run with `python 3.11` which cannot work, cause [fail2ban-0.11.2](https://github.com/fail2ban/fail2ban/blob/0.11.2/ChangeLog) is not ready for python > 3.9 yet.

[2022-11-19 17:19] jfqd commented on #344
@jperkin thank you for the updated package. But the smf has an issue, the dnsdist process restarts every time. You may use an additional method file to get it nicely working:

https://github.com/jfqd/mi-qutic-pdns/blob/master/copy/opt/local/lib/svc/manifest/dnsdist.xml
https://github.com/jfqd/mi-qutic-pdns/blob/master/copy/opt/local/lib/svc/method/dnsdist

[2022-11-19 17:20] jfqd commented on #344
@jperkin I cannot open this ticket, maybe you can open it again?